<div class="page-layout carded fullwidth">

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-red-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <default-header *ngIf="_update" title="{{ 'FINANCIAL.INVOICES.EDIT' | translate }}"
        first="Faturas" firstUrl="financial/invoices" second="" secondUrl=""></default-header>
        <default-header *ngIf="!_update" title="{{ 'FINANCIAL.INVOICES.CREATE' | translate }}"
        first="Faturas" firstUrl="financial/invoices" second="" secondUrl=""></default-header>

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg" style="border-radius: 8px 8px 0 0;">



            <!-- CONTENT TOOLBAR -->
            <div class="toolbar px-24 py-8">
                <span>{{'FINANCIAL.INVOICES.TITLE' | translate}} <em *ngIf="_update && !loading">
                        # {{ data.id }}
                    </em>
                </span>
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->

            <!-- REACTIVE FORM -->
            <form [formGroup]="formGroup" class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" fxLayout="column"
                fxLayoutAlign="start" fxFlex="1 0 auto" name="form" (ngSubmit)="submit()">


                <div class="h2 mb-24 pt-24"><strong> {{ 'FINANCIAL.INVOICES.INFORMATIONS' | translate }} </strong></div>

                <div class="pb-8" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field fxFlex="20" class="mx-8">
                        <input matInput placeholder="{{ 'FINANCIAL.INVOICES.EXTERNAL_CODE' | translate }}"
                            formControlName="external_id" required>
                    </mat-form-field>

                    <form [formGroup]="formGroup">
                        <button (click)="addCode()" mat-mini-fab>+</button>
                    </form>
                </div>

                <li *ngFor="let item of items">
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="20" class="mx-8">
                            <input matInput placeholder="{{ 'FINANCIAL.INVOICES.EXTERNAL_CODE' | translate }}"
                                formControlName="external_id[]" required>
                        </mat-form-field>

                        <form [formGroup]="formGroup">
                            <button (click)="removeCode(item)" mat-mini-fab>-</button>
                        </form>
                    </div>
                </li>

                <form>
                    <mat-card class="mt-8">

                        <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                        <span class="mat-title"> {{ 'FINANCIAL.INVOICES.ARDUOUS_PROCESSES' | translate }} </span>

                        <default-table [displayedColumns]="displayedColumnsManifest"
                            [filterColumns]="filterColumnsManifest" [advancedFilter]="true"
                            [endpoint]="endpointManifests" [service]="manifest">
                        </default-table>
                    </mat-card>
                </form>
                <mat-card class="mt-8">

                    <button type="button" *ngIf="!_update && !showMe" (click)="onClickShowMe()" mat-raised-button
                        color="warn">{{ 'FINANCIAL.INVOICES.ADD_COLLETION' | translate }}</button>

                </mat-card>

                <mat-card class="mt-8">

                    <button type="button" *ngIf="!_update && showMe" (click)="onClickDoNotShowMe()" mat-raised-button
                        color="warn">{{ 'FINANCIAL.INVOICES.REMOVE_COLLECTION' | translate }}</button>

                </mat-card>

                <form>
                    <mat-card *ngIf="showMe" class="mt-8" style="justify-content: center; align-items: center;">
                        <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                        <span class="mat-title">Masters</span>

                        <default-table [displayedColumns]="displayedColumns" [endpoint]="endpointMasters"
                            [filterColumns]="filterColumns" [advancedFilter]="true" [service]="service">
                        </default-table>
                    </mat-card>
                </form>

            </form>
            <!-- / REACTIVE FORM -->

            <!-- / CONTENT -->


            <!-- NAVIGATION -->
            <div class="toolbar" style="position: relative">

                <div style=" position: absolute;right: 20px;">
                    <a mat-raised-button color="primary" style="margin-right: 10px;" href="javascript:history.go(-1)">{{
                        'FINANCIAL.INVOICES.BACK' | translate }}</a>
                    <button type="submit" mat-raised-button color="warn">{{ 'FINANCIAL.INVOICES.SAVE' |
                        translate}}</button>
                </div>

            </div>
            <!-- / NAVIGATION -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
</div>