<div class="page-layout carded fullwidth">

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-red-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <div *ngIf="loading != false" class="loading-shade">
            <mat-spinner></mat-spinner>
        </div>

        <default-header title="{{ 'COMPANY.SHOW' | translate }}" first="Empresas" firstUrl="companies" second=""
            secondUrl=""></default-header>

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg" style="border-radius: 8px 8px 0 0;">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar px-24 py-8" *ngIf="data">
                <span>{{ 'COMPANY.COMPANY' | translate }} #{{ data.id }} - {{ data.name }}</span>
            </div>
            <div class="toolbar px-24 py-8" *ngIf="!data">
                <span>{{ 'COMPANY.COMPANY' | translate }}</span>
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <div class="content p-24">

                <mat-card *ngIf="data">
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span class="mat-title"> <strong> {{ 'COMPANY.INFORMATIONS' | translate }} </strong> </span>

                    <p *ngIf="data.status === 'ACTIVE'"><strong>{{ 'COMPANY.LISTING.STATUS' | translate }}: </strong>
                        Ativa </p>
                    <p *ngIf="data.status === 'DISABLED'"><strong>{{ 'COMPANY.LISTING.STATUS' | translate }}: </strong>
                        Bloqueada </p>
                    <!-- <p *ngIf="data.contract.description != ''" ><strong>{{ 'COMPANY.LISTING.CONTRACT' | translate }}: </strong> {{ data.contract.description }} </p> -->
                    <p><strong>{{ 'COMPANY.LISTING.NAME' | translate }}: </strong> {{ data.name }}</p>
                    <p><strong>{{ 'COMPANY.LISTING.CODE' | translate }}: </strong> {{ data.code }}</p>
                    <p *ngIf="data.nationality === 'NATIONAL'"><strong>{{ 'COMPANY.LISTING.NATIONALITY' | translate }}:
                        </strong>Nacional</p>
                    <p *ngIf="data.nationality === 'INTERNATIONAL'"><strong>{{ 'COMPANY.LISTING.NATIONALITY' | translate
                            }}: </strong>Internacional</p>
                    <p *ngFor="let document of data.documents">
                        <strong>{{ document.type }}: </strong>
                        {{ document.number }}
                    </p>

                </mat-card>

                <mat-card *ngIf="data">
                    <p><strong>Tipo de pessoa</strong>

                    <p *ngIf="data.type_of_carrier_relationship != null"><strong>Transportador &#10003;</strong></p>
                    <p *ngIf="data.type_of_supplier_relationship != null"><strong>Fornecedor &#10003;</strong></p>
                    <p *ngIf="data.type_of_customer_relationship != null"><strong>Cliente &#10003;</strong></p>
                </mat-card>

                <mat-card *ngIf="data">
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span class="mat-title"> <strong> {{ 'COMPANY.LISTING.EMAILS' | translate }} </strong> </span>
                    <ng-container *ngFor="let emails of data.email">
                        <mat-card style="margin-bottom: 10px;">
                            <p *ngIf="emails.type == 'DELIVERY'"><strong>Email de principal</strong>
                            </p>
                            <p *ngIf="emails.type == 'CHARGE'"><strong>Email de cobrança</strong>
                            </p>
                            <p><strong>Nome de contato :</strong> {{ emails.name }}</p>
                            <p><strong>Email :</strong> {{ emails.address }}</p>
                        </mat-card>
                    </ng-container>
                </mat-card>

                <mat-card *ngIf="data">
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span class="mat-title"> <strong> {{ 'COMPANY.LISTING.PHONES' | translate }} </strong> </span>
                    <ng-container *ngFor="let phone of data.phones">
                        <mat-card style="margin-bottom: 10px;">
                            <p *ngIf="phone.type == 'phone'"><strong>Telefone de principal</strong>
                            </p>
                            <p *ngIf="phone.type == 'billing_phone'"><strong>Telefone de cobrança</strong>
                            </p>
                            <p><strong>Nome de contato :</strong> {{ phone.name }}</p>
                            <p><strong>Número :</strong> {{ phone.number }}</p>
                        </mat-card>
                    </ng-container>
                </mat-card>
                <mat-card *ngIf="data">
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span class="mat-title"> <strong> {{ 'COMPANY.LISTING.ADDRESSES' | translate }} </strong> </span>
                    <ng-container *ngFor="let address of data.addresses">
                        <mat-card style="margin-bottom: 10px;">

                            <p *ngIf="address.type == 'DELIVERY'"><strong>Endereço principal</strong>
                            </p>
                            <p *ngIf="address.type == 'CHARGE'"><strong>Endereço de cobrança</strong>
                            </p>
                            <p><strong>{{ 'COMPANY.LISTING.ADDRESS_COUNTRY' | translate }}:</strong>
                                {{ address.country.name }}</p>
                            <p><strong>{{ 'COMPANY.LISTING.ADDRESS_STREET' | translate }}:</strong>
                                {{ address.address }}</p>
                            <p><strong>{{ 'COMPANY.LISTING.NUMBER' | translate }}:</strong> {{ address.number }}
                            </p>
                            <p><strong>{{ 'COMPANY.LISTING.ADDRESS_ADDITIONAL_INFO' | translate }}:</strong>
                                {{ address.additional_info }}</p>
                            <p><strong>{{ 'COMPANY.LISTING.ADDRESS_NEIGHBORHOOD' | translate }}:</strong>
                                {{ address.neighborhood }}</p>
                            <p><strong>{{ 'COMPANY.LISTING.ADDRESS_CITY' | translate }}:</strong>
                                {{ address.city }}</p>
                            <p><strong>{{ 'COMPANY.LISTING.ADDRESS_ZIP_CODE' | translate }}:</strong>
                                {{ address.zip_code }}</p>
                            <p><strong>{{ 'COMPANY.LISTING.ADDRESS_STATE' | translate }}:</strong>
                                {{ address.state }}</p>
                        </mat-card>
                    </ng-container>
                </mat-card>

            </div>
            <!-- / CONTENT -->

            <!-- NAVIGATION -->
            <div class="toolbar" style="position: relative" *ngIf="data">

                <div style="float: right;position: absolute;right: 20px;">
                    <a mat-raised-button color="primary" style="margin-right: 10px;" href="javascript:history.go(-1)">{{
                        'COMPANY.BACK' | translate }}</a>
                    <a mat-raised-button color="warn" routerLink="/companies/edit/{{ data.id }}">{{ 'COMPANY.EDIT' |
                        translate }}</a>
                </div>

            </div>
            <!-- / NAVIGATION -->

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>