<div class="page-layout carded fullwidth">

    <div class="top-bg mat-red-bg"></div>

    <div class="loading-shade" *ngIf="loading || loadingCountry || loadingCity">
        <mat-spinner *ngIf="loading || loadingCountry || loadingCity"></mat-spinner>
    </div>

    <div class="center" *ngIf="!loading && !loadingCountry && !loadingCity">
        <default-header *ngIf="_update" title="{{ 'COMPANY.SHOW' | translate }}" first="Clientes" firstUrl="companies"
            second="" secondUrl=""></default-header>
        <default-header *ngIf="!_update" title="{{ 'COMPANY.CREATE' | translate }}" first="Clientes"
            firstUrl="companies" second="" secondUrl=""></default-header>

        <div class="content-card mat-white-bg" style="border-radius: 8px 8px 0 0;" *ngIf="!loading">
            <div class="toolbar px-24 py-8 position-adjustment">
                <span *ngIf="data">{{ 'COMPANY.COMPANY' | translate }} #{{ data.id }} - {{ data.code }}</span>
                <span *ngIf="!data">{{ 'COMPANY.COMPANY' | translate }}</span>
                <div style="float: right;position: absolute;right: 20px;">
                    <a mat-raised-button color="primary" style="margin-right: 10px;" href="javascript:history.go(-1)">{{
                        'COMPANY.BACK' | translate }}</a>
                    <a mat-raised-button color="button-printhawb" style="margin-right: 10px;"
                        routerLink="/companies/edit/{{ data.id }}" *ngIf="data">{{
                        'COMPANY.EDIT' |
                        translate
                        }}</a>
                </div>
            </div>

            <form [formGroup]="formGroup" name="form" (ngSubmit)="submit()">
                <div class="content p-24">
                    <table>
                        <tbody>
                            <tr class="tr">
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field class="width-adjustment">
                                            <mat-label class="label-house">{{ 'COMPANY.NATIONALITY' | translate }}
                                            </mat-label>
                                            <mat-select formControlName="nationality" required>
                                                <mat-option value="NATIONAL">{{ 'COMPANY.NATIONALITIES.NATIONAL' |
                                                    translate }}</mat-option>
                                                <mat-option value="INTERNATIONAL">{{
                                                    'COMPANY.NATIONALITIES.INTERNATIONAL' | translate }}</mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="!formGroup.get('nationality').valid">
                                                {{ 'COMPANY.NATIONALITY' | translate }} {{ 'ERRORS.MANDATORY' |translate
                                                }}
                                            </mat-error>
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field class="width-adjustment">
                                            <mat-label class="label-house">{{ 'COMPANY.TYPE_OF_PERSON' | translate }}
                                            </mat-label>
                                            <mat-select formControlName="type_of_person" required>
                                                <mat-option value="PHYSICAL">{{ 'COMPANY.TYPES_OF_PERSON.PHYSICAL' |
                                                    translate }}</mat-option>
                                                <mat-option value="LEGAL">{{ 'COMPANY.TYPES_OF_PERSON.LEGAL' | translate
                                                    }}</mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="!formGroup.get('type_of_person').valid">
                                                {{ 'COMPANY.TYPE_OF_PERSON' | translate }} {{ 'ERRORS.MANDATORY'
                                                |translate }}
                                            </mat-error>
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field>
                                            <mat-label class="label-house">{{ 'COMPANY.LISTING.NAME' | translate }}:
                                            </mat-label>
                                            <input matInput formControlName="name" placeholder="" required>
                                            <mat-error *ngIf="!formGroup.get('name').valid">
                                                {{ 'COMPANY.LISTING.NAME' | translate }} {{ 'ERRORS.MANDATORY'
                                                |translate }}
                                            </mat-error>
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field class="width-adjustment">
                                            <mat-label class="label-house">{{ 'COMPANY.STATUS.STATUS' | translate }}
                                            </mat-label>
                                            <mat-select formControlName="status" required>
                                                <mat-option value="ACTIVE">{{ 'COMPANY.STATUS.ACTIVE' | translate }}
                                                </mat-option>
                                                <mat-option value="DISABLED">{{ 'COMPANY.STATUS.INACTIVE' | translate }}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="!formGroup.get('status').valid">
                                                {{ 'COMPANY.STATUS.STATUS' | translate }} {{ 'ERRORS.MANDATORY'
                                                |translate }}
                                            </mat-error>
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                            </tr>
                            <tr class="tr">
                                <td class="td" style="width: 50%;">
                                    <mat-card>
                                        <mat-card-content class="width-adjustment" style="width: 100%;">
                                            <mat-label class="label-house">{{ 'COMPANY.KIND_OF_PERSON.GENERAL' |
                                                translate }}</mat-label>
                                            <br>
                                            <mat-checkbox formControlName="kind_of_person_client"
                                                (click)="kindOfPerson()" value="C">
                                                {{ 'COMPANY.KIND_OF_PERSON.CLIENT' | translate }}&nbsp;&nbsp;
                                            </mat-checkbox>
                                            <mat-checkbox formControlName="kind_of_person_supplier"
                                                (click)="kindOfPerson()" value="F">
                                                {{ 'COMPANY.KIND_OF_PERSON.SUPPLIER' | translate }}&nbsp;&nbsp;
                                            </mat-checkbox>
                                            <mat-checkbox formControlName="kind_of_person_conveyor"
                                                (click)="kindOfPerson()" value="T">
                                                {{ 'COMPANY.KIND_OF_PERSON.CONVEYOR' | translate }}&nbsp;&nbsp;
                                            </mat-checkbox>
                                            <mat-error *ngIf="
                                                    !formGroup.get('kind_of_person_client').valid &&
                                                    !formGroup.get('kind_of_person_supplier').valid &&
                                                    !formGroup.get('kind_of_person_conveyor').valid 
                                                ">
                                                {{ 'COMPANY.KIND_OF_PERSON.GENERAL' | translate }} {{ 'ERRORS.MANDATORY'
                                                |translate }}
                                            </mat-error>
                                        </mat-card-content>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field>
                                            <mat-label class="label-house">{{ 'COMPANY.LISTING.FANTASY_NAME' | translate
                                                }}:</mat-label>
                                            <input matInput formControlName="fantasy_name" placeholder="" required>
                                            <mat-error *ngIf="!formGroup.get('fantasy_name').valid">
                                                {{ 'COMPANY.LISTING.FANTASY_NAME' | translate }} {{ 'ERRORS.MANDATORY'
                                                |translate }}
                                            </mat-error>
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                            </tr>
                            <tr class="tr">
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field class="width-adjustment" style="width: 100%;">
                                            <mat-label class="label-house">{{ 'COMPANY.LISTING.CONTRACT' | translate }}
                                            </mat-label>
                                            <mat-select formControlName="contract">
                                                <mat-option>
                                                    <ngx-mat-select-search [placeholderLabel]="'Buscar'"
                                                        [noEntriesFoundLabel]="'Empresa não encontrada'"
                                                        formControlName="contractLastFilter">
                                                    </ngx-mat-select-search>
                                                </mat-option>
                                                <ng-container *ngFor="let item of filteredContract | async">
                                                    <mat-option [value]="item.ID">
                                                        {{ item['Empresa'] }}
                                                    </mat-option>
                                                </ng-container>
                                            </mat-select>
                                            <mat-error *ngIf="!formGroup.get('contract').valid">
                                                {{ 'COMPANY.LISTING.CONTRACT' | translate }} {{ 'ERRORS.MANDATORY'
                                                |translate }}
                                            </mat-error>
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field style="width: 100%;">
                                            <mat-label class="label-house">{{ 'COMPANY.LISTING.DOCUMENT' | translate }}:
                                            </mat-label>
                                            <input matInput formControlName="document" placeholder="" required>
                                            <mat-error *ngIf="!formGroup.get('document').valid">
                                                {{ 'COMPANY.LISTING.DOCUMENT' | translate }} {{ 'ERRORS.MANDATORY'
                                                |translate }}
                                            </mat-error>
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                            </tr>
                            <tr class="tr">
                                <td class="td">
                                    <span class="address">{{ 'COMPANY.LISTING.MAIN_ADDRESSES' | translate }}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table>
                        <tbody>
                            <tr class="tr">
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field>
                                            <mat-label class="label-house">{{ 'COMPANY.LISTING.NUMBER' | translate }}:
                                            </mat-label>
                                            <input matInput formControlName="number" placeholder="" required>
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field class="width-adjustment">
                                            <mat-label class="label-house">{{ 'COMPANY.LISTING.ADDRESS_ADDITIONAL_INFO'
                                                | translate }}:</mat-label>
                                            <input matInput formControlName="additional_info" placeholder="" required>
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field class="width-adjustment">
                                            <mat-label class="label-house">{{ 'COMPANY.TYPE' | translate }}:</mat-label>
                                            <mat-select formControlName="type" required>
                                                <mat-option value="DELIVERY">{{ 'COMPANY.TYPE_ADDRESS.DELIVERY' |
                                                    translate }}</mat-option>
                                                <mat-option value="CHARGE">{{ 'COMPANY.TYPE_ADDRESS.CHARGE' | translate
                                                    }}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field>
                                            <mat-label class="label-house">{{ 'COMPANY.LISTING.ADDRESS_ZIP_CODE' |
                                                translate }}:</mat-label>
                                            <input matInput formControlName="zip_code" placeholder="" mask="00000-000"
                                                required>
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                            </tr>
                            <tr class="tr">
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field class="width-adjustment">
                                            <mat-label class="label-house">{{ 'COMPANY.LISTING.ADDRESS_COUNTRY' |
                                                translate }}:</mat-label>
                                            <mat-select formControlName="country_id" required>
                                                <mat-option>
                                                    <ngx-mat-select-search [placeholderLabel]="'Buscar'"
                                                        [noEntriesFoundLabel]="'Pais não encontrado'"
                                                        formControlName="countryFilter">
                                                    </ngx-mat-select-search>
                                                </mat-option>
                                                <ng-container *ngFor="let item of filteredCountry | async">
                                                    <mat-option [value]="item.id">
                                                        {{ item.initials }} - <strong>{{ item.name }}</strong>
                                                    </mat-option>
                                                </ng-container>
                                            </mat-select>
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field class="width-adjustment">
                                            <mat-label class="label-house">{{ 'COMPANY.LISTING.ADDRESS_CITY' | translate
                                                }}:</mat-label>
                                            <mat-select formControlName="cities_id" required>
                                                <mat-option>
                                                    <ngx-mat-select-search [placeholderLabel]="'Buscar'"
                                                        [noEntriesFoundLabel]="'Cidade não encontrada'"
                                                        formControlName="cityFilter">
                                                    </ngx-mat-select-search>
                                                </mat-option>
                                                <ng-container *ngFor="let item of filteredCity | async">
                                                    <mat-option [value]="item.id">
                                                        {{ item.uf }} - <strong>{{ item.name }}</strong>
                                                    </mat-option>
                                                </ng-container>
                                            </mat-select>
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field class="width-adjustment">
                                            <mat-label class="label-house">{{ 'COMPANY.LISTING.ADDRESS' | translate }}:
                                            </mat-label>
                                            <input matInput formControlName="address" placeholder="" required>
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field class="width-adjustment">
                                            <mat-label class="label-house">{{ 'COMPANY.LISTING.ADDRESS_STATE' |
                                                translate }}:</mat-label>
                                            <input matInput formControlName="state" placeholder="" required>
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field class="width-adjustment">
                                            <mat-label class="label-house">{{ 'COMPANY.LISTING.ADDRESS_NEIGHBORHOOD' |
                                                translate }}:</mat-label>
                                            <input matInput formControlName="neighborhood" placeholder="" required>
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                            </tr>
                            <tr class="tr">
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field class="width-adjustment">
                                            <mat-label class="label-house">{{ 'COMPANY.LISTING.COMMERCIAL_CONTACT' | translate }}:</mat-label>
                                            <input matInput formControlName="commercial_contact" placeholder="" required>
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field style="width: 100%;">
                                            <mat-label class="label-house">{{ 'COMPANY.LISTING.PHONE' | translate }}:
                                            </mat-label>
                                            <input matInput formControlName="phone" placeholder="" required>
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field style="width: 100%;">
                                            <mat-label class="label-house">{{ 'COMPANY.LISTING.EMAIL' | translate }}:
                                            </mat-label>
                                            <input matInput formControlName="email" placeholder=""
                                                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                            </tr>
                            <tr class="tr" *ngIf="addressCharge">
                                <td class="td">
                                    <span class="address">{{ 'COMPANY.LISTING.SECOND_ADDRESSES' | translate }}</span>
                                </td>
                            </tr>
                            <tr class="tr" *ngIf="addressCharge">
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field>
                                            <mat-label class="label-house">{{ 'COMPANY.LISTING.NUMBER' | translate }}:
                                            </mat-label>
                                            <input matInput formControlName="number_second" placeholder="" required>
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field class="width-adjustment">
                                            <mat-label class="label-house">{{ 'COMPANY.LISTING.ADDRESS_ADDITIONAL_INFO'
                                                | translate }}:</mat-label>
                                            <input matInput formControlName="additional_info_second" placeholder=""
                                                required>
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field class="width-adjustment">
                                            <mat-label class="label-house">{{ 'COMPANY.TYPE' | translate }}:</mat-label>
                                            <mat-select formControlName="type_second" required>
                                                <mat-option value="DELIVERY">{{ 'COMPANY.TYPE_ADDRESS.DELIVERY' |
                                                    translate }}</mat-option>
                                                <mat-option value="CHARGE">{{ 'COMPANY.TYPE_ADDRESS.CHARGE' | translate
                                                    }}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field>
                                            <mat-label class="label-house">{{ 'COMPANY.LISTING.ADDRESS_ZIP_CODE' |
                                                translate }}:</mat-label>
                                            <input matInput formControlName="zip_code_second" placeholder=""
                                                mask="00000-000" required>
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                            </tr>
                            <tr class="tr" *ngIf="addressCharge">
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field class="width-adjustment">
                                            <mat-label class="label-house">{{ 'COMPANY.LISTING.ADDRESS_COUNTRY' |
                                                translate }}:</mat-label>
                                            <mat-select formControlName="country_id_second" required>
                                                <mat-option>
                                                    <ngx-mat-select-search [placeholderLabel]="'Buscar'"
                                                        [noEntriesFoundLabel]="'Pais não encontrado'"
                                                        formControlName="countryFilter">
                                                    </ngx-mat-select-search>
                                                </mat-option>
                                                <ng-container *ngFor="let item of filteredCountry | async">
                                                    <mat-option [value]="item.id">
                                                        {{ item.initials }} - <strong>{{ item.name }}</strong>
                                                    </mat-option>
                                                </ng-container>
                                            </mat-select>
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field class="width-adjustment">
                                            <mat-label class="label-house">{{ 'COMPANY.LISTING.ADDRESS_CITY' | translate
                                                }}:</mat-label>
                                            <mat-select formControlName="cities_id_second" required>
                                                <mat-option>
                                                    <ngx-mat-select-search [placeholderLabel]="'Buscar'"
                                                        [noEntriesFoundLabel]="'Cidade não encontrada'"
                                                        formControlName="cityFilter">
                                                    </ngx-mat-select-search>
                                                </mat-option>
                                                <ng-container *ngFor="let item of filteredCity | async">
                                                    <mat-option [value]="item.id">
                                                        {{ item.uf }} - <strong>{{ item.name }}</strong>
                                                    </mat-option>
                                                </ng-container>
                                            </mat-select>
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field class="width-adjustment">
                                            <mat-label class="label-house">{{ 'COMPANY.LISTING.ADDRESS' | translate }}:
                                            </mat-label>
                                            <input matInput formControlName="address_second" placeholder="" required>
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field class="width-adjustment">
                                            <mat-label class="label-house">{{ 'COMPANY.LISTING.ADDRESS_STATE' |
                                                translate }}:</mat-label>
                                            <input matInput formControlName="state_second" placeholder="" required>
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field class="width-adjustment">
                                            <mat-label class="label-house">{{ 'COMPANY.LISTING.ADDRESS_NEIGHBORHOOD' |
                                                translate }}:</mat-label>
                                            <input matInput formControlName="neighborhood_second" placeholder=""
                                                required>
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                            </tr>
                            <tr class="tr" *ngIf="addressCharge">
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field class="width-adjustment">
                                            <mat-label class="label-house">{{ 'COMPANY.LISTING.FINANCIAL_CONTACT' | translate }}:</mat-label>
                                            <input matInput formControlName="financial_contact" placeholder="" required>
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field style="width: 100%;">
                                            <mat-label class="label-house">{{ 'COMPANY.LISTING.PHONE' | translate }}:
                                            </mat-label>
                                            <input matInput formControlName="phone_second" placeholder="" required>
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field style="width: 100%;">
                                            <mat-label class="label-house">{{ 'COMPANY.LISTING.EMAIL' | translate }}:
                                            </mat-label>
                                            <input matInput formControlName="email_second" placeholder=""
                                                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>