<div class="page-layout carded fullwidth">

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-red-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <div *ngIf="loading" class="loading-shade">
            <mat-spinner></mat-spinner>
        </div>

        <default-header title="{{ 'AIRLINE.SHOW' | translate }}"
        first="Companhias aéreas" firstUrl="airlines" second="" secondUrl=""></default-header>

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg" style="border-radius: 8px 8px 0 0;" *ngIf="!loading">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar px-24 py-8">
                <span>{{ 'AIRLINE.AIRLINE' | translate }} #{{ data.id }} - {{ data.name }}</span>
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <div class="content p-24">
                
                <div class="h2 mb-24"><mat-icon class="secondary-text s-16">chevron_right</mat-icon><strong>{{ 'AIRLINE.INFORMATIONS' | translate }}</strong></div>
                <mat-card>
                    <p><strong>{{ 'AIRLINE.LISTING.NAME' | translate }}: </strong> {{ data.name }}</p>
                </mat-card>

            </div>
            <!-- / CONTENT -->

            <!-- NAVIGATION -->
            <div class="toolbar" style="position: relative">

                <div style="float: right;position: absolute;right: 20px;">
                    <a mat-raised-button color="primary" style="margin-right: 10px;" href="javascript:history.go(-1)">{{ 'AIRLINE.BACK' | translate }}</a>
                    <a mat-raised-button color="warn"
                        routerLink="/airlines/edit/{{ data.id }}">{{ 'AIRLINE.EDIT' | translate }}</a>
                </div>

            </div>
            <!-- / NAVIGATION -->

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>