<div class="page-layout blank p-24" fusePerfectScrollbar>

    <default-header title="{{'SHIPPER.SHIPPERS' | translate}}" [endpoint]="endpoint"
    first="Embarcadores" firstUrl="shippers" second="" secondUrl=""></default-header>

    <default-table [dataSource]="dataSource" [displayedColumns]="displayedColumns"
        [filterColumns]="filterColumns" [advancedFilter]="true" [endpoint]="endpoint" [pagination]="false"
        [service]="service"></default-table>

</div>