<div id="forgot-password" fxLayout="column">

    <div id="forgot-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="forgot-password-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <img src="assets/images/logos/phx.svg">
            </div>

            <div class="title">Recuperar senha</div>

            <form name="requestPasswordForgotForm" [formGroup]="requestPasswordForgotForm" (ngSubmit)="requestRecoveryLink()">

                <mat-form-field>
                    <input matInput placeholder="Email" formControlName="email">
                    <mat-error *ngIf="requestPasswordForgotForm.get('email').hasError('required')">
                        Email é obrigatório
                    </mat-error>
                    <mat-error *ngIf="!requestPasswordForgotForm.get('email').hasError('required')">
                        Digite um email válido
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button class="submit-button" 
                    color="accent" 
                    aria-label="Enviar link de recuperação" 
                    type="submit" [disabled]="!requestPasswordForgotForm.valid">
                    Recuperar senha
                </button>
            </form>

            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <a class="link" href="/login">Voltar ao login</a>
            </div>

        </div>

    </div>

</div>