<div class="page-layout carded fullwidth">

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-red-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <default-header title="{{ 'USER.SHOW' | translate }}"
        first="Utilizadores" firstUrl="users" second="" secondUrl=""></default-header>

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg" style="border-radius: 8px 8px 0 0;" *ngIf="!loading">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar px-24 py-8">
                <span>{{ 'USER.USER' | translate }} #{{ data.id }} - {{ data.name }}</span>
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <div class="content p-24">
                <mat-card>
                    <p><strong>{{ 'USER.LISTING.ID' | translate }}: </strong> {{ data.id }}</p>
                    <p><strong>{{ 'USER.LISTING.NAME' | translate }}: </strong> {{ data.name }}</p>
                    <p><strong>{{ 'USER.LISTING.EMAIL' | translate }}: </strong> {{ data.email }}</p>
                    <p *ngIf="data.role"><strong>{{ 'USER.LISTING.ROLE' | translate }}: </strong> {{ data.role.display_name }}</p>
                </mat-card>

            </div>
            <!-- / CONTENT -->

            <!-- NAVIGATION -->
            <div class="toolbar" style="position: relative">

                <div style="float: right;position: absolute;right: 20px;">
                    <a mat-raised-button color="primary" style="margin-right: 10px;" href="javascript:history.go(-1)">{{ 'USER.BACK' | translate }}</a>
                    <a mat-raised-button color="warn"
                        routerLink="/users/edit/{{ data.id }}">{{ 'USER.EDIT' | translate }}</a>
                </div>

            </div>
            <!-- / NAVIGATION -->

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>