<div class="page-layout blank p-22" fusePerfectScrollbar>

    <default-header title="{{'MASTER.MASTERS' | translate}}" [endpoint]="endpoint" [import]="true"
    first="Masters" firstUrl="airwaybills/master" second="" secondUrl=""></default-header>

    <!-- ACTIONS -->
    <div *ngIf="endpoint" class="toolbar" class="pt-20 px-8" style="width: 100%;">
        <button mat-raised-button (click)="manifest()">Gerar Manifesto</button>
    </div>

    <default-table [dataSource]="dataSource" [displayedColumns]="displayedColumns"
        [filterColumns]="filterColumns" [advancedFilter]="true" [endpoint]="endpoint" [pagination]="false"
        [service]="service"></default-table>

</div>