<div class="page-layout blank p-22
" fusePerfectScrollbar>
    <default-header title="{{'FINANCIAL.FINES.TITLE' | translate}}" [endpoint]="endpoint"
    first="Multas e Encargos" firstUrl="financial/fines" second="" secondUrl=""></default-header>

    <default-table [dataSource]="dataSource" [displayedColumns]="displayedColumns"
        [filterColumns]="filterColumns" [advancedFilter]="true" [endpoint]="endpoint" [pagination]="false"
        [service]="service"></default-table>

</div>