<div class="page-layout carded fullwidth">


    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-red-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <default-header *ngIf="_update" title="{{ 'COMPANY.EDIT' | translate }}"
        first="Clientes" firstUrl="companies" second="" secondUrl=""></default-header>
        <default-header *ngIf="!_update" title="{{ 'COMPANY.CREATE' | translate }}"
        first="Clientes" firstUrl="companies" second="" secondUrl=""></default-header>

        <div *ngIf="loadingcities != false" class="loading-shade">
            <mat-spinner></mat-spinner>
        </div>

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg" style="border-radius: 8px 8px 0 0;">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar px-24 py-8">
                <span *ngIf="_update">{{ 'COMPANY.COMPANY' | translate }} <em>#{{ data.id }} -
                        {{ data.name }}</em></span>
                <span *ngIf="!_update">{{ 'COMPANY.COMPANY' | translate }}</span>
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <div class="content p-24">

                <!-- / REACTIVE FORM PHYSICAL PERSON -->
                <form *ngIf="nationality == 'Nacional' && kind_of_person == 'off'" [formGroup]="formGroupPhysicalPerson"
                    class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" fxLayout="column" fxLayoutAlign="start"
                    fxFlex="1 0 auto" name="form" (ngSubmit)="submitPhysicalPerson()">

                    <div *ngIf="loadingTypePhysicalPerson == 'false'" class="loading-shade">
                        <mat-spinner></mat-spinner>
                    </div>

                    <div class="h2 mb-24"> <strong> {{ 'COMPANY.REGISTRATION_INFORMATIONS' | translate }} </strong>
                    </div>

                    <span *ngIf="_update">{{ 'COMPANY.LISTING.CODE' | translate }} <em>#
                            {{ data.code }}</em></span>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-slide-toggle [disableRipple]="true" formControlName="nationality"
                            (click)="onClickNationality() && toggle($event)">{{
                            nationality }} &nbsp; &nbsp;
                        </mat-slide-toggle>
                        {{ state }}

                        <img *ngIf="nationality == 'Nacional'" [src]="'assets/images/flags/br.png'">

                    </div>

                    <div fxLayout="row" fxLayoutAlign="end center" fxFlex="1 0 auto">

                        <mat-slide-toggle [disableRipple]="true" formControlName="status"
                            (click)="onClickStatus() && toggle($event)">
                            {{ status }} &nbsp; &nbsp;
                        </mat-slide-toggle>
                        {{ state }}

                    </div>

                    <p *ngIf="doNotShowPhysicalCustom == 'off'"> Você selecionou pessoa : {{selected}} </p>
                    <p *ngIf="doNotShowPhysicalCustom == 'on'"> Pessoa : Física </p>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field fxFlex="50" class="mx-8" appearance="fill"
                            *ngIf="changeLayoutModelNationality != true">
                            <mat-label>Selecione física ou jurídica</mat-label>
                            <mat-select [(value)]="selected">
                                <mat-option *ngIf="changeLayoutModelKindPerson != true" (click)="onClickKindOfPerson()"
                                    value="Fisíca">Fisíca</mat-option>
                                <mat-option *ngIf="changeLayoutModelKindPerson != false" (click)="onClickKindOfPerson()"
                                    value="Jurídica">
                                    Jurídica</mat-option>
                            </mat-select>

                        </mat-form-field>

                        <div> <strong> {{ 'COMPANY.PERSON' | translate }} : &nbsp; &nbsp; </strong>
                        </div>


                        <mat-checkbox formControlName="type_of_customer_relationship"
                            (click)="onClickKindOfCustomerRelationship()" value="C">CLIENTE &nbsp; &nbsp;&nbsp; &nbsp;
                        </mat-checkbox>
                        <mat-checkbox formControlName="type_of_supplier_relationship"
                            (click)="onClickKindOfSupplierRelationship()" value="F">FORNECEDOR &nbsp; &nbsp;&nbsp;
                            &nbsp;</mat-checkbox>
                        <mat-checkbox formControlName="type_of_carrier_relationship"
                            (click)="onClickKindOfCarrierRelationship()" value="T">TRANSPORTADOR &nbsp;
                            &nbsp;&nbsp; &nbsp;</mat-checkbox>

                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput maxlength="100" placeholder="{{ 'COMPANY.LISTING.NAME' | translate }}"
                                formControlName="physical_name" required>
                            <mat-error *ngIf="formGroupPhysicalPerson.get('physical_name').hasError('required')">
                                O nome é obrigatório
                            </mat-error>
                        </mat-form-field>


                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'COMPANY.LISTING.KIND_OF_PERSON_PHYSICAL' | translate }}"
                                formControlName="physical_cpf" mask="000.000.000-00" required>
                            <mat-error *ngIf="formGroupPhysicalPerson.get('physical_cpf').hasError('required')">
                                O cpf é obrigatório
                            </mat-error>
                        </mat-form-field>


                        <input [hidden]="true" matInput placeholder="{{ 'COMPANY.LISTING.CODE' | translate }}"
                            formControlName="code">
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'COMPANY.LISTING.ADDRESS_STREET' | translate }}"
                                formControlName="physical_company_address" required>
                            <mat-error
                                *ngIf="formGroupPhysicalPerson.get('physical_company_address').hasError('required')">
                                O endereço é obrigatório
                            </mat-error>

                        </mat-form-field>
                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput maxlength="10" (keypress)="numberOnly($event)"
                                placeholder="{{ 'COMPANY.LISTING.NUMBER' | translate }}"
                                formControlName="physical_company_number">

                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'COMPANY.LISTING.ADDRESS_ADDITIONAL_INFO' | translate }}"
                                formControlName="physical_company_additional_info" required>
                            <mat-error
                                *ngIf="formGroupPhysicalPerson.get('physical_company_additional_info').hasError('required')">
                                O complemento é obrigatório
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'COMPANY.LISTING.ADDRESS_NEIGHBORHOOD' | translate }}"
                                formControlName="physical_company_neighborhood" required>
                            <mat-error
                                *ngIf="formGroupPhysicalPerson.get('physical_company_additional_info').hasError('required')">
                                O bairro é obrigatório
                            </mat-error>
                        </mat-form-field>

                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'COMPANY.LISTING.ADDRESS_ZIP_CODE' | translate }}"
                                formControlName="physical_company_zip_code" (keypress)="numberOnly($event)"
                                maxlength="9" mask="00000.000" required>
                            <mat-error
                                *ngIf="formGroupPhysicalPerson.get('physical_company_zip_code').hasError('required')">
                                O cep é obrigatório
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'COMPANY.LISTING.ADDRESS_CITY' | translate }}"
                                formControlName="physical_company_city" maxlength="30" required>
                            <mat-error
                                *ngIf="formGroupPhysicalPerson.get('physical_company_city').hasError('required')">
                                A cidade é obrigatória
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'COMPANY.LISTING.ADDRESS_STATE' | translate }}"
                                formControlName="physical_company_state" maxlength="30" required>
                            <mat-error
                                *ngIf="formGroupPhysicalPerson.get('physical_company_state').hasError('required')">
                                O estado é obrigatório
                            </mat-error>
                        </mat-form-field>



                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">


                        <mat-form-field fxFlex="50" class="mx-8">
                            <mat-select fxFlex="100" placeholder="{{ 'COMPANY.LISTING.ADDRESS_COUNTRY' | translate }}"
                                formControlName="physical_company_country_id">

                                <ng-container *ngFor="let country of countries">
                                    <mat-option [value]="country.id">
                                        {{ country.initials }} - <strong>{{ country.name }}</strong>
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'COMPANY.LISTING.PHONE' | translate }}"
                                formControlName="physical_company_phone" maxlength="20" (keypress)="numberOnly($event)"
                                required>
                            <mat-error
                                *ngIf="formGroupPhysicalPerson.get('physical_company_phone').hasError('required')">
                                O telefone principal é obrigatório
                            </mat-error>
                        </mat-form-field>

                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">



                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'COMPANY.LISTING.CONTACT_NAME' | translate }}"
                                formControlName="physical_company_contact_name" maxlength="30" required>
                            <mat-error
                                *ngIf="formGroupPhysicalPerson.get('physical_company_contact_name').hasError('required')">
                                O nome de contato principal é obrigatório
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'COMPANY.LISTING.EMAIL' | translate }}"
                                formControlName="physical_company_email" maxlength="40" required>
                            <mat-error
                                *ngIf="formGroupPhysicalPerson.get('physical_company_email').hasError('required')">
                                O e-mail de contato principal é obrigatório
                            </mat-error>
                        </mat-form-field>

                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">




                        <!-- <mat-form-field fxFlex="50" class="mx-8">
                            <mat-select fxFlex="100" placeholder="{{ 'COMPANY.LISTING.CONTRACT' | translate }}"
                                formControlName="physical_company_contract_id">
                                <ng-container *ngFor="let contract of contracts">
                                    <mat-option [value]="contract.ID">
                                        {{ contract.ID }} - <strong>{{ contract.Empresa }}</strong>
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field> -->

                    </div>

                    <button type="button" *ngIf="!_update && !showMe" (click)="onClickShowBillingAddress()"
                        mat-raised-button color="warn">{{ 'COMPANY.ADD_COLLETION' | translate }}</button>

                    <button type="button" *ngIf="!_update && showMe" (click)="onClickDoNotShowBillingAddress()"
                        mat-raised-button color="warn">{{ 'COMPANY.REMOVE_COLLECTION' | translate }}</button>

                    <div *ngIf="showMe && _update" class="h2 mb-24" #scroll_billing>
                        <strong> {{ 'COMPANY.LISTING.BILLING_ADDRESSES' | translate }} </strong>
                    </div>
                    <div *ngIf="showMe && !_update" class="h2 mb-24"> <strong> {{ 'COMPANY.COLLECTION' | translate }}
                        </strong> </div>

                    <div *ngIf="showMe" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'COMPANY.LISTING.ADDRESS_STREET' | translate }}"
                                formControlName="physical_billing_company_address" maxlength="100" required>
                            <mat-error
                                *ngIf="formGroupPhysicalPerson.get('physical_billing_company_address').hasError('required')">
                                O endereço de cobrança é obrigatório
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'COMPANY.LISTING.NUMBER' | translate }}"
                                formControlName="physical_billing_company_number" maxlength="10"
                                (keypress)="numberOnly($event)">

                        </mat-form-field>

                    </div>

                    <div *ngIf="showMe" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'COMPANY.LISTING.ADDRESS_ADDITIONAL_INFO' | translate }}"
                                formControlName="physical_billing_company_additional_info" maxlength="100" required>
                            <mat-error
                                *ngIf="formGroupPhysicalPerson.get('physical_billing_company_additional_info').hasError('required')">
                                O complemento de endereço cobrança é obrigatório
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'COMPANY.LISTING.ADDRESS_NEIGHBORHOOD' | translate }}"
                                formControlName="physical_billing_company_neighborhood" maxlength="100" required>
                            <mat-error
                                *ngIf="formGroupPhysicalPerson.get('physical_billing_company_neighborhood').hasError('required')">
                                O bairro de endereço cobrança é obrigatório
                            </mat-error>

                        </mat-form-field>

                    </div>

                    <div *ngIf="showMe" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'COMPANY.LISTING.ADDRESS_ZIP_CODE' | translate }}"
                                formControlName="physical_billing_company_zip_code" (keypress)="numberOnly($event)"
                                mask="00000.000" maxlength="9" required>
                            <mat-error
                                *ngIf="formGroupPhysicalPerson.get('physical_billing_company_zip_code').hasError('required')">
                                O cep de endereço cobrança é obrigatório
                            </mat-error>


                        </mat-form-field>

                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'COMPANY.LISTING.ADDRESS_CITY' | translate }}"
                                formControlName="physical_billing_company_city" maxlength="50" required>
                            <mat-error
                                *ngIf="formGroupPhysicalPerson.get('physical_billing_company_city').hasError('required')">
                                A cidade do endereço de cobrança é obrigatória
                            </mat-error>

                        </mat-form-field>

                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'COMPANY.LISTING.BILLING_ADDRESS' | translate }}"
                                formControlName="physical_billing_company_state" maxlength="30" required>
                            <mat-error
                                *ngIf="formGroupPhysicalPerson.get('physical_billing_company_state').hasError('required')">
                                O estado de endereço é obrigatório
                            </mat-error>
                        </mat-form-field>




                    </div>

                    <div *ngIf="showMe" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field fxFlex="50" class="mx-8">
                            <mat-select fxFlex="100" placeholder="{{ 'COMPANY.LISTING.ADDRESS_COUNTRY' | translate }}"
                                formControlName="physical_billing_company_country_id">

                                <ng-container *ngFor="let country of countries">
                                    <mat-option [value]="country.id">
                                        {{ country.initials }} - <strong>{{ country.name }}</strong>
                                    </mat-option>
                                </ng-container>

                            </mat-select>
                        </mat-form-field>

                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'COMPANY.LISTING.PHONE' | translate }}"
                                formControlName="physical_billing_company_phone" (keypress)="numberOnly($event)"
                                maxlength="20" required>
                            <mat-error
                                *ngIf="formGroupPhysicalPerson.get('physical_billing_company_phone').hasError('required')">
                                O telefone de endereço cobrança é obrigatório
                            </mat-error>

                        </mat-form-field>

                    </div>

                    <div *ngIf="showMe" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">



                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'COMPANY.LISTING.EMAIL' | translate }}"
                                formControlName="physical_billing_company_email" maxlength="40" required>
                            <mat-error
                                *ngIf="formGroupPhysicalPerson.get('physical_billing_company_email').hasError('required')">
                                O e-mail de endereço cobrança é obrigatório
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'COMPANY.LISTING.CONTACT_NAME' | translate }}"
                                formControlName="physical_billing_company_contact_name" maxlength="100" required>
                            <mat-error
                                *ngIf="formGroupPhysicalPerson.get('physical_billing_company_contact_name').hasError('required')">
                                O nome de contato de endereço cobrança é obrigatório
                            </mat-error>
                        </mat-form-field>

                    </div>

                    <!-- NAVIGATION -->
                    <div class="p-24" fxLayout="row" style="position: relative;">

                        <div style=" position: absolute;right: 20px;">
                            <a mat-raised-button color="primary" style="margin-right: 10px;"
                                href="javascript:history.go(-1)">{{
                                'COMPANY.BACK' | translate }}</a>
                            <button type="submit"
                                [disabled]="!formGroupPhysicalPerson.valid || verifyCheckboxTypePerson != true"
                                mat-raised-button color="warn">{{ 'COMPANY.SAVE' | translate
                                }}</button>
                        </div>

                    </div>
                </form>
                <!-- / REACTIVE FORM PHYSICAL PERSON -->

                <!-- REACTIVE FORM INTERNATIONAL PERSON-->
                <form *ngIf="nationality == 'Internacional' && changeLayoutModelNationality != false"
                    [formGroup]="formGroupInternationalPerson" class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24"
                    fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form"
                    (ngSubmit)="submitInternationalPerson()">

                    <div *ngIf="loadingTypeInternationalPerson == 'false'" class="loading-shade">
                        <mat-spinner></mat-spinner>
                    </div>

                    <div class="h2 mb-24"> <strong> {{ 'COMPANY.REGISTRATION_INFORMATIONS' | translate }} </strong>
                    </div>

                    <span *ngIf="_update">{{ 'COMPANY.LISTING.CODE' | translate }} <em>#
                            {{ data.code }}</em></span>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-slide-toggle [disableRipple]="true" formControlName="nationality"
                            (click)="onClickNationality() && toggle($event)">{{
                            nationality }} &nbsp; &nbsp;
                        </mat-slide-toggle>
                        {{ state }}

                        <img *ngIf="nationality == 'Nacional'" [src]="'assets/images/flags/br.png'">

                    </div>

                    <div fxLayout="row" fxLayoutAlign="end center" fxFlex="1 0 auto">

                        <mat-slide-toggle [disableRipple]="true" formControlName="status"
                            (click)="onClickStatus() && toggle($event)">
                            {{ status }} &nbsp; &nbsp;
                        </mat-slide-toggle>
                        {{ state }}

                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <div> <strong> {{ 'COMPANY.PERSON' | translate }} : &nbsp; &nbsp; </strong>
                        </div>

                        <mat-checkbox formControlName="type_of_customer_relationship"
                            (click)="onClickKindOfCustomerRelationship()" value="C">CLIENTE &nbsp; &nbsp;&nbsp; &nbsp;
                        </mat-checkbox>
                        <mat-checkbox formControlName="type_of_supplier_relationship"
                            (click)="onClickKindOfSupplierRelationship()" value="F">FORNECEDOR &nbsp; &nbsp;&nbsp;
                            &nbsp;</mat-checkbox>
                        <mat-checkbox formControlName="type_of_carrier_relationship"
                            (click)="onClickKindOfCarrierRelationship()" value="T">TRANSPORTADOR &nbsp;
                            &nbsp;&nbsp; &nbsp;</mat-checkbox>

                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput maxlength="100" placeholder="{{ 'COMPANY.LISTING.NAME' | translate }}"
                                formControlName="international_name" required>
                            <mat-error
                                *ngIf="formGroupInternationalPerson.get('international_name').hasError('required')">
                                O nome é obrigatório
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field *ngIf="changeLayoutModelNationality != false" fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'COMPANY.LISTING.TAX_ID' | translate }}"
                                formControlName="international_tax_id" maxlength="9" required>
                            <mat-error
                                *ngIf="formGroupInternationalPerson.get('international_tax_id').hasError('required')">
                                O TAX ID é obrigatório
                            </mat-error>
                        </mat-form-field>

                        <input [hidden]="true" matInput placeholder="{{ 'COMPANY.LISTING.CODE' | translate }}"
                            formControlName="code">
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'COMPANY.LISTING.ADDRESS_STREET' | translate }}"
                                formControlName="international_company_address" required>
                            <mat-error fxFlex="50" class="mx-8"
                                *ngIf="formGroupInternationalPerson.get('international_company_address').hasError('required')">
                                O endereço é obrigatório
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput maxlength="10" (keypress)="numberOnly($event)"
                                placeholder="{{ 'COMPANY.LISTING.NUMBER' | translate }}"
                                formControlName="international_company_number">
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'COMPANY.LISTING.ADDRESS_ADDITIONAL_INFO' | translate }}"
                                formControlName="international_company_additional_info">
                        </mat-form-field>
                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'COMPANY.LISTING.ADDRESS_NEIGHBORHOOD' | translate }}"
                                formControlName="international_company_neighborhood" required>
                            <mat-error fxFlex="50" class="mx-8"
                                *ngIf="formGroupInternationalPerson.get('international_company_neighborhood').hasError('required')">
                                O bairro é obrigatório
                            </mat-error>
                        </mat-form-field>

                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'COMPANY.LISTING.ADDRESS_ZIP_CODE' | translate }}"
                                formControlName="international_company_zip_code" (keypress)="numberOnly($event)"
                                maxlength="9" mask="00000.000" required>
                            <mat-error fxFlex="50" class="mx-8"
                                *ngIf="formGroupInternationalPerson.get('international_company_zip_code').hasError('required')">
                                O cep é obrigatório
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'COMPANY.LISTING.ADDRESS_CITY' | translate }}"
                                formControlName="international_company_city" required>
                            <mat-error fxFlex="50" class="mx-8"
                                *ngIf="formGroupInternationalPerson.get('international_company_city').hasError('required')">
                                A cidade é obrigatória
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'COMPANY.LISTING.ADDRESS_STATE' | translate }}"
                                formControlName="international_company_state" required>
                            <mat-error fxFlex="50" class="mx-8"
                                *ngIf="formGroupInternationalPerson.get('international_company_state').hasError('required')">
                                O estado de endereço é obrigatória
                            </mat-error>
                        </mat-form-field>

                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field fxFlex="50" class="mx-8">
                            <mat-select fxFlex="100" placeholder="{{ 'COMPANY.LISTING.ADDRESS_COUNTRY' | translate }}"
                                formControlName="international_company_country_id">

                                <ng-container *ngFor="let country of countries">
                                    <mat-option [value]="country.id">
                                        {{ country.initials }} - <strong>{{ country.name }}</strong>
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'COMPANY.LISTING.PHONE' | translate }}"
                                formControlName="international_company_phone" maxlength="20"
                                (keypress)="numberOnly($event)" required>
                            <mat-error
                                *ngIf="formGroupInternationalPerson.get('international_company_phone').hasError('required')">
                                O telefone principal é obrigatório
                            </mat-error>
                        </mat-form-field>

                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">



                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'COMPANY.LISTING.CONTACT_NAME' | translate }}"
                                formControlName="international_company_contact_name" maxlength="30" required>
                            <mat-error
                                *ngIf="formGroupInternationalPerson.get('international_company_contact_name').hasError('required')">
                                O nome de contato principal é obrigatório
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'COMPANY.LISTING.EMAIL' | translate }}"
                                formControlName="international_company_email" maxlength="40" required>
                            <mat-error
                                *ngIf="formGroupInternationalPerson.get('international_company_email').hasError('required')">
                                O e-mail principal é obrigatório
                            </mat-error>
                        </mat-form-field>


                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">



                        <!-- <mat-form-field fxFlex="50" class="mx-8">
                            <mat-select fxFlex="100" placeholder="{{ 'COMPANY.LISTING.CONTRACT' | translate }}"
                                formControlName="international_company_contract_id">
                                <ng-container *ngFor="let contract of contracts">
                                    <mat-option [value]="contract.ID">
                                        {{ contract.ID }} - <strong>{{ contract.Empresa }}</strong>
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field> -->

                    </div>

                    <button type="button" *ngIf="!_update && !showMe" (click)="onClickShowBillingAddress()"
                        mat-raised-button color="warn">{{ 'COMPANY.ADD_COLLETION' | translate }}</button>

                    <button type="button" *ngIf="!_update && showMe" (click)="onClickDoNotShowBillingAddress()"
                        mat-raised-button color="warn">{{ 'COMPANY.REMOVE_COLLECTION' | translate }}</button>

                    <div *ngIf="showMe && _update" class="h2 mb-24">
                        <strong> {{ 'COMPANY.LISTING.BILLING_ADDRESSES' | translate }} </strong>
                    </div>
                    <div *ngIf="showMe && !_update" class="h2 mb-24"> <strong> {{ 'COMPANY.COLLECTION' | translate }}
                        </strong> </div>

                    <div *ngIf="showMe" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'COMPANY.LISTING.ADDRESS_STREET' | translate }}"
                                formControlName="international_billing_company_address" maxlength="100" required>
                            <mat-error
                                *ngIf="formGroupInternationalPerson.get('international_billing_company_address').hasError('required')">
                                O endereço de cobrança é obrigatório
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'COMPANY.LISTING.NUMBER' | translate }}"
                                formControlName="international_billing_company_number" maxlength="10"
                                (keypress)="numberOnly($event)">
                            <mat-error
                                *ngIf="formGroupInternationalPerson.get('international_billing_company_number').hasError('required')">
                                O número de endereço de cobrança é obrigatório
                            </mat-error>
                        </mat-form-field>

                    </div>

                    <div *ngIf="showMe" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'COMPANY.LISTING.ADDRESS_ADDITIONAL_INFO' | translate }}"
                                formControlName="international_billing_company_additional_info" maxlength="100"
                                required>
                            <mat-error
                                *ngIf="formGroupInternationalPerson.get('international_billing_company_additional_info').hasError('required')">
                                O complemento de endereço de cobrança é obrigatório
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'COMPANY.LISTING.ADDRESS_NEIGHBORHOOD' | translate }}"
                                formControlName="international_billing_company_neighborhood" maxlength="100" required>
                            <mat-error
                                *ngIf="formGroupInternationalPerson.get('international_billing_company_neighborhood').hasError('required')">
                                O bairro de endereço de cobrança é obrigatório
                            </mat-error>
                        </mat-form-field>

                    </div>

                    <div *ngIf="showMe" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'COMPANY.LISTING.ADDRESS_ZIP_CODE' | translate }}"
                                formControlName="international_billing_company_zip_code" (keypress)="numberOnly($event)"
                                maxlength="9" mask="00000.000" required>
                            <mat-error
                                *ngIf="formGroupInternationalPerson.get('international_billing_company_zip_code').hasError('required')">
                                O cep de endereço de cobrança é obrigatório
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'COMPANY.LISTING.ADDRESS_CITY' | translate }}"
                                formControlName="international_billing_company_city" required>
                            <mat-error fxFlex="50" class="mx-8"
                                *ngIf="formGroupInternationalPerson.get('international_billing_company_city').hasError('required')">
                                A cidade do endereço de cobrança é obrigatória
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'COMPANY.LISTING.ADDRESS_STATE' | translate }}"
                                formControlName="international_billing_company_state" required>
                            <mat-error fxFlex="50" class="mx-8"
                                *ngIf="formGroupInternationalPerson.get('international_billing_company_state').hasError('required')">
                                O estado de endereço é obrigatória
                            </mat-error>
                        </mat-form-field>

                    </div>

                    <div *ngIf="showMe" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field fxFlex="50" class="mx-8">
                            <mat-select fxFlex="100" placeholder="{{ 'COMPANY.LISTING.ADDRESS_COUNTRY' | translate }}"
                                formControlName="international_billing_company_country_id">

                                <ng-container *ngFor="let country of countries">
                                    <mat-option [value]="country.id">
                                        {{ country.initials }} - <strong>{{ country.name }}</strong>
                                    </mat-option>
                                </ng-container>

                            </mat-select>
                        </mat-form-field>

                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'COMPANY.LISTING.PHONE' | translate }}"
                                formControlName="international_billing_company_phone" (keypress)="numberOnly($event)"
                                maxlength="20" required>
                            <mat-error
                                *ngIf="formGroupInternationalPerson.get('international_billing_company_phone').hasError('required')">
                                O telefone de endereço de cobrança é obrigatório
                            </mat-error>
                        </mat-form-field>

                    </div>

                    <div *ngIf="showMe" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">



                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'COMPANY.LISTING.EMAIL' | translate }}"
                                formControlName="international_billing_company_email" maxlength="40" required>
                            <mat-error
                                *ngIf="formGroupInternationalPerson.get('international_billing_company_email').hasError('required')">
                                O e-mail de endereço de cobrança é obrigatório
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'COMPANY.LISTING.CONTACT_NAME' | translate }}"
                                formControlName="international_billing_company_contact_name" maxlength="100" required>
                            <mat-error
                                *ngIf="formGroupInternationalPerson.get('international_billing_company_contact_name').hasError('required')">
                                O nome de contato de endereço de cobrança é obrigatório
                            </mat-error>
                        </mat-form-field>


                    </div>


                    <!-- NAVIGATION -->
                    <div class="p-24" fxLayout="row" style="position: relative;">

                        <div style=" position: absolute;right: 20px;">
                            <a mat-raised-button color="primary" style="margin-right: 10px;"
                                href="javascript:history.go(-1)">{{
                                'COMPANY.BACK' | translate }}</a>
                            <button type="submit"
                                [disabled]="!formGroupInternationalPerson.valid || verifyCheckboxTypePerson != true"
                                mat-raised-button color="warn">{{ 'COMPANY.SAVE' | translate
                                }}</button>
                        </div>

                    </div>
                </form>
                <!-- / REACTIVE FORM INTERNATIONAL PERSON-->


                <!-- / REACTIVE FORM LEGAL PERSON -->
                <form *ngIf="kind_of_person == 'on' && nationality == 'Nacional'" [formGroup]="formGroupLegalPerson"
                    class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" fxLayout="column" fxLayoutAlign="start"
                    fxFlex="1 0 auto" name="form" (ngSubmit)="submitLegalPerson()">

                    <div *ngIf="loadingTypeLegalPerson == 'false'" class="loading-shade">
                        <mat-spinner></mat-spinner>
                    </div>

                    <div class="h2 mb-24"> <strong> {{ 'COMPANY.REGISTRATION_INFORMATIONS' | translate }} </strong>
                    </div>

                    <span *ngIf="_update">{{ 'COMPANY.LISTING.CODE' | translate }} <em>#
                            {{ data.code }}</em></span>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-slide-toggle [disableRipple]="true" formControlName="nationality"
                            (click)="onClickNationality() && toggle($event)">{{
                            nationality }} &nbsp; &nbsp;
                        </mat-slide-toggle>
                        {{ state }}

                        <img *ngIf="nationality == 'Nacional'" [src]="'assets/images/flags/br.png'">

                    </div>

                    <div fxLayout="row" fxLayoutAlign="end center" fxFlex="1 0 auto">

                        <mat-slide-toggle [disableRipple]="true" formControlName="status"
                            (click)="onClickStatus() && toggle($event)">
                            {{ status }} &nbsp; &nbsp;
                        </mat-slide-toggle>
                        {{ state }}

                    </div>

                    <p *ngIf="doNotShowPhysicalCustom == 'off'"> Você selecionou pessoa : {{selected}} </p>
                    <p *ngIf="doNotShowPhysicalCustom == 'on'"> Pessoa : Física </p>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field fxFlex="50" class="mx-8" appearance="fill"
                            *ngIf="changeLayoutModelNationality != true">
                            <mat-label>Selecione física ou jurídica</mat-label>
                            <mat-select [(value)]="selected">
                                <mat-option *ngIf="changeLayoutModelKindPerson != true" (click)="onClickKindOfPerson()"
                                    value="Fisíca">Fisíca</mat-option>
                                <mat-option *ngIf="changeLayoutModelKindPerson != false" (click)="onClickKindOfPerson()"
                                    value="Jurídica">
                                    Jurídica</mat-option>
                            </mat-select>

                        </mat-form-field>

                        <div> <strong> {{ 'COMPANY.PERSON' | translate }} : &nbsp; &nbsp; </strong>
                        </div>

                        <mat-checkbox formControlName="type_of_customer_relationship"
                            (click)="onClickKindOfCustomerRelationship()" value="C">CLIENTE &nbsp; &nbsp;&nbsp; &nbsp;
                        </mat-checkbox>
                        <mat-checkbox formControlName="type_of_supplier_relationship"
                            (click)="onClickKindOfSupplierRelationship()" value="F">FORNECEDOR &nbsp; &nbsp;&nbsp;
                            &nbsp;</mat-checkbox>
                        <mat-checkbox formControlName="type_of_carrier_relationship"
                            (click)="onClickKindOfCarrierRelationship()" value="T">TRANSPORTADOR &nbsp;
                            &nbsp;&nbsp; &nbsp;</mat-checkbox>

                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput maxlength="100" placeholder="{{ 'COMPANY.LISTING.NAME' | translate }}"
                                formControlName="legal_name" required>
                            <mat-error fxFlex="50" class="mx-8"
                                *ngIf="formGroupLegalPerson.get('legal_name').hasError('required')">
                                O nome é obrigatório
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field *ngIf="changeLayoutModelNationality == false && kind_of_person == 'on'"
                            fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'COMPANY.LISTING.KIND_OF_PERSON_LEGAL' | translate }}"
                                formControlName="legal_cnpj" maxlength="19" mask="00.000.000/0000-00" required>
                            <mat-error fxFlex="50" class="mx-8"
                                *ngIf="formGroupLegalPerson.get('kind_of_person').hasError('required')">
                                O cnpj é obrigatório
                            </mat-error>

                        </mat-form-field>

                        <input [hidden]="true" matInput placeholder="{{ 'COMPANY.LISTING.CODE' | translate }}"
                            formControlName="code">
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field *ngIf="changeLayoutModelNationality == false && kind_of_person == 'on'"
                            fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'COMPANY.LISTING.FANTASY_NAME' | translate }}"
                                formControlName="legal_fantasy_name" maxlength="30" required>
                            <mat-error *ngIf="formGroupLegalPerson.get('legal_fantasy_name').hasError('required')">
                                O nome fantasia é obrigatório
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field *ngIf="changeLayoutModelNationality == false && kind_of_person == 'on'"
                            fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'COMPANY.LISTING.IE' | translate }}"
                                formControlName="legal_ie" maxlength="14" required>
                            <mat-error *ngIf="formGroupLegalPerson.get('legal_ie').hasError('required')">
                                A inscrição estadual é obrigatória
                            </mat-error>
                        </mat-form-field>

                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field *ngIf="changeLayoutModelNationality == false && kind_of_person == 'on'"
                            fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'COMPANY.LISTING.IM' | translate }}"
                                formControlName="legal_im" maxlength="15" required>
                            <mat-error *ngIf="formGroupLegalPerson.get('legal_im').hasError('required')">
                                A inscrição municipal é obrigatória
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'COMPANY.LISTING.ADDRESS_STREET' | translate }}"
                                formControlName="legal_company_address" required>
                            <mat-error fxFlex="50" class="mx-8"
                                *ngIf="formGroupLegalPerson.get('legal_company_address').hasError('required')">
                                O endereço é obrigatório
                            </mat-error>
                        </mat-form-field>

                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">


                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput maxlength="10" (keypress)="numberOnly($event)"
                                placeholder="{{ 'COMPANY.LISTING.NUMBER' | translate }}"
                                formControlName="legal_company_number">
                            <mat-error fxFlex="50" class="mx-8"
                                *ngIf="formGroupLegalPerson.get('legal_company_number').hasError('')">
                                O número é obrigatório
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'COMPANY.LISTING.ADDRESS_ADDITIONAL_INFO' | translate }}"
                                formControlName="legal_company_additional_info">
                        </mat-form-field>


                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">


                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'COMPANY.LISTING.ADDRESS_NEIGHBORHOOD' | translate }}"
                                formControlName="legal_company_neighborhood" required>
                            <mat-error fxFlex="50" class="mx-8"
                                *ngIf="formGroupLegalPerson.get('legal_company_neighborhood').hasError('required')">
                                O bairro é obrigatório
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'COMPANY.LISTING.ADDRESS_ZIP_CODE' | translate }}"
                                formControlName="legal_company_zip_code" maxlength="9" (keypress)="numberOnly($event)"
                                mask="00000.000" required>
                            <mat-error fxFlex="50" class="mx-8"
                                *ngIf="formGroupLegalPerson.get('legal_company_zip_code').hasError('required')">
                                O cep é obrigatório
                            </mat-error>
                        </mat-form-field>

                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'COMPANY.LISTING.ADDRESS_CITY' | translate }}"
                                formControlName="legal_company_city" required>
                            <mat-error fxFlex="50" class="mx-8"
                                *ngIf="formGroupLegalPerson.get('legal_company_city').hasError('required')">
                                A cidade é obrigatória
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'COMPANY.LISTING.ADDRESS_STATE' | translate }}"
                                formControlName="legal_company_state" required>
                            <mat-error fxFlex="50" class="mx-8"
                                *ngIf="formGroupLegalPerson.get('legal_company_state').hasError('required')">
                                O estado é obrigatório
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field fxFlex="50" class="mx-8">
                            <mat-select fxFlex="100" placeholder="{{ 'COMPANY.LISTING.ADDRESS_COUNTRY' | translate }}"
                                formControlName="legal_company_country_id">

                                <ng-container *ngFor="let country of countries">
                                    <mat-option [value]="country.id">
                                        {{ country.initials }} - <strong>{{ country.name }}</strong>
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>

                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">


                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'COMPANY.LISTING.PHONE' | translate }}"
                                formControlName="legal_company_phone" maxlength="20" (keypress)="numberOnly($event)"
                                required>
                            <mat-error *ngIf="formGroupLegalPerson.get('legal_company_phone').hasError('required')">
                                O telefone é obrigatório
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'COMPANY.LISTING.CONTACT_NAME' | translate }}"
                                formControlName="legal_company_contact_name" maxlength="30" required>
                            <mat-error
                                *ngIf="formGroupLegalPerson.get('legal_company_contact_name').hasError('required')">
                                O nome de contato é obrigatório
                            </mat-error>
                        </mat-form-field>

                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'COMPANY.LISTING.EMAIL' | translate }}"
                                formControlName="legal_company_email" maxlength="40" required>
                            <mat-error *ngIf="formGroupLegalPerson.get('legal_company_email').hasError('required')">
                                O e-mail é obrigatório
                            </mat-error>
                        </mat-form-field>

                        <!-- <mat-form-field fxFlex="50" class="mx-8">
                            <mat-select fxFlex="100" placeholder="{{ 'COMPANY.LISTING.CONTRACT' | translate }}"
                                formControlName="legal_company_contract_id">
                                <ng-container *ngFor="let contract of contracts">
                                    <mat-option [value]="contract.ID">
                                        {{ contract.ID }} - <strong>{{ contract.Empresa }}</strong>
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field> -->

                    </div>

                    <button type="button" *ngIf="!_update && !showMe" (click)="onClickShowBillingAddress()"
                        mat-raised-button color="warn">{{ 'COMPANY.ADD_COLLETION' | translate }}</button>

                    <button type="button" *ngIf="!_update && showMe" (click)="onClickDoNotShowBillingAddress()"
                        mat-raised-button color="warn">{{ 'COMPANY.REMOVE_COLLECTION' | translate }}</button>

                    <div *ngIf="showMe && _update" class="h2 mb-24">
                        <strong> {{ 'COMPANY.LISTING.BILLING_ADDRESSES' | translate }} </strong>
                    </div>
                    <div *ngIf="showMe && !_update" class="h2 mb-24"> <strong> {{ 'COMPANY.COLLECTION' | translate }}
                        </strong> </div>

                    <div *ngIf="showMe" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'COMPANY.LISTING.ADDRESS_STREET' | translate }}"
                                formControlName="legal_billing_company_address" maxlength="100" required>
                            <mat-error
                                *ngIf="formGroupLegalPerson.get('legal_billing_company_address').hasError('required')">
                                O endereço de cobrança é obrigatório
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'COMPANY.LISTING.NUMBER' | translate }}"
                                formControlName="legal_billing_company_number" maxlength="10"
                                (keypress)="numberOnly($event)">
                            <mat-error
                                *ngIf="formGroupLegalPerson.get('legal_billing_company_number').hasError('required')">
                                O número de endereço de cobrança é obrigatório
                            </mat-error>
                        </mat-form-field>

                    </div>

                    <div *ngIf="showMe" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'COMPANY.LISTING.ADDRESS_ADDITIONAL_INFO' | translate }}"
                                formControlName="legal_billing_company_additional_info" maxlength="100" required>
                            <mat-error
                                *ngIf="formGroupLegalPerson.get('legal_billing_company_additional_info').hasError('required')">
                                O complemento de endereço de cobrança é obrigatório
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'COMPANY.LISTING.ADDRESS_NEIGHBORHOOD' | translate }}"
                                formControlName="legal_billing_company_neighborhood" maxlength="100" required>
                            <mat-error
                                *ngIf="formGroupLegalPerson.get('legal_billing_company_neighborhood').hasError('required')">
                                O bairro de endereço de cobrança é obrigatório
                            </mat-error>
                        </mat-form-field>

                    </div>

                    <div *ngIf="showMe" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'COMPANY.LISTING.ADDRESS_ZIP_CODE' | translate }}"
                                formControlName="legal_billing_company_zip_code" (keypress)="numberOnly($event)"
                                maxlength="9" mask="00000.000" required>
                            <mat-error
                                *ngIf="formGroupLegalPerson.get('legal_billing_company_zip_code').hasError('required')">
                                O cep de endereço de cobrança é obrigatório
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'COMPANY.LISTING.ADDRESS_CITY' | translate }}"
                                formControlName="legal_billing_company_city" required>
                            <mat-error fxFlex="50" class="mx-8"
                                *ngIf="formGroupLegalPerson.get('legal_billing_company_city').hasError('required')">
                                A cidade do endereço de cobrança é obrigatória
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'COMPANY.LISTING.ADDRESS_STATE' | translate }}"
                                formControlName="legal_billing_company_state" required>
                            <mat-error fxFlex="50" class="mx-8"
                                *ngIf="formGroupLegalPerson.get('legal_billing_company_state').hasError('required')">
                                O estado do endereço de cobrança é obrigatória
                            </mat-error>
                        </mat-form-field>


                    </div>

                    <div *ngIf="showMe" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field fxFlex="50" class="mx-8">
                            <mat-select fxFlex="100" placeholder="{{ 'COMPANY.LISTING.ADDRESS_COUNTRY' | translate }}"
                                formControlName="legal_billing_company_country_id">

                                <ng-container *ngFor="let country of countries">
                                    <mat-option [value]="country.id">
                                        {{ country.initials }} - <strong>{{ country.name }}</strong>
                                    </mat-option>
                                </ng-container>

                            </mat-select>
                        </mat-form-field>

                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'COMPANY.LISTING.PHONE' | translate }}"
                                formControlName="legal_billing_company_phone" (keypress)="numberOnly($event)"
                                maxlength="20" required>
                            <mat-error
                                *ngIf="formGroupLegalPerson.get('legal_billing_company_phone').hasError('required')">
                                O telefone de endereço de cobrança é obrigatório
                            </mat-error>
                        </mat-form-field>

                    </div>

                    <div *ngIf="showMe" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">



                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'COMPANY.LISTING.EMAIL' | translate }}"
                                formControlName="legal_billing_company_email" maxlength="40" required>
                            <mat-error
                                *ngIf="formGroupLegalPerson.get('legal_billing_company_email').hasError('required')">
                                O e-mail de endereço de cobrança é obrigatório
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'COMPANY.LISTING.CONTACT_NAME' | translate }}"
                                formControlName="legal_billing_company_contact_name" maxlength="100" required>
                            <mat-error
                                *ngIf="formGroupLegalPerson.get('legal_billing_company_contact_name').hasError('required')">
                                O nome de contato de endereço de cobrança é obrigatório
                            </mat-error>
                        </mat-form-field>

                    </div>

                    <!-- NAVIGATION -->
                    <div class="p-24" fxLayout="row" style="position: relative;">

                        <div style=" position: absolute;right: 20px;">
                            <a mat-raised-button color="primary" style="margin-right: 10px;"
                                href="javascript:history.go(-1)">{{
                                'COMPANY.BACK' | translate }}</a>
                            <button type="submit"
                                [disabled]="!formGroupLegalPerson.valid  || verifyCheckboxTypePerson != true"
                                mat-raised-button color="warn">{{ 'COMPANY.SAVE' | translate
                                }}</button>
                        </div>

                    </div>
                </form>
                <!-- / REACTIVE FORM LEGAL PERSON -->

            </div>
            <!-- / CONTENT -->
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>