<div class="loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
</div>

<!-- ACTIONS -->
<div class="toolbar" class="pt-20 px-8" style="width: 100%;" *ngIf="endpoint && actions">

    <mat-select class="pt-8" fxFlex="10" placeholder="Ações">

        <mat-option *ngIf="this.selection.selected.length == 0">
            <span>Nenhum item selecionado</span>
        </mat-option>

        <ng-container *ngIf="this.selection.selected.length == 1">

            <a routerLink="{{ endpoint }}/edit/{{getSelected().ID}}">
                <mat-option>Editar</mat-option>
            </a>

            <a target="_self" *ngIf="endpoint.includes('financial/debit-note')" (click)="downloadDebitNotePdf()">
                <mat-option>Imprimir Nota de Débito</mat-option>
            </a>

            <a target="_self" *ngIf="endpoint.includes('financial/debit-note')" (click)="generateDebitNoteBankSlip()">
                <mat-option>Gerar Boleto para Pagamento</mat-option>
            </a>

        </ng-container>

        <ng-container *ngIf="this.selection.selected.length > 0">
            <a target="_self" *ngIf="endpoint.includes('airwaybills')" (click)="download('pdf')">
                <mat-option>Download</mat-option>
            </a>

            <a target="_self" *ngIf="endpoint.includes('airwaybills/house')" (click)="download('pdf', true)">
                <mat-option>Anvisa</mat-option>
            </a>

            <a target="_self" *ngIf="endpoint.includes('financial/fines')" (click)="generateDebitNote()">
                <mat-option>Gerar Nota de Débito</mat-option>
            </a>

            <a target="_self" *ngIf="endpoint.includes('financial/invoices')" (click)="download('PDF')">
                <mat-option>Imprimir Invoice</mat-option>
            </a>

            <a target="_self" *ngIf="endpointScreen.includes('manifests/show')" (click)="downloadManifest()">
                <mat-option>Download Manifesto</mat-option>
            </a>

            <a target="_self" *ngIf="endpointScreen.includes('manifests/show')" (click)="downloadDeclaration()">
                <mat-option>Download Lote de Declaração</mat-option>
            </a>

            <a target="_self" *ngIf="endpointScreen.includes('manifests/show')" (click)="downloadPresence()">
                <mat-option>Download Presença de Carga</mat-option>
            </a>

            <a (click)="destroy()">
                <mat-option>Excluir</mat-option>
            </a>
        </ng-container>

    </mat-select>

</div>

<!-- ADVANCED-FILTER -->
<div fxLayout="row" *ngIf="advancedFilter">

    <ng-container *ngFor="let filter of filterColumns">

        <mat-form-field fxFlex="16" class="px-8 mt-8" *ngIf="filter.type == 'string'">
            <input matInput autocomplete="off" placeholder="{{filter.display_name}}"
                [(ngModel)]="filters[filter.column]">
        </mat-form-field>

        <ng-container *ngIf="filter.column == 'created_at'">
            <mat-form-field fxFlex="16" class="px-8 mt-8">

                <input matInput [matDatepicker]="pickerFrom" autocomplete="off" placeholder="Data de"
                    [(ngModel)]="filters['date_from']">
                <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
                <mat-datepicker #pickerFrom></mat-datepicker>

            </mat-form-field>
            <mat-form-field fxFlex="16" class="px-8 mt-8">

                <input matInput [matDatepicker]="pickerTo" autocomplete="off" placeholder="Data até"
                    [(ngModel)]="filters['date_to']">
                <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
                <mat-datepicker #pickerTo></mat-datepicker>

            </mat-form-field>
        </ng-container>


    </ng-container>
    <button mat-raised-button class="mr-24 mt-16" (click)="applyAdvancedFilter()"
        style="max-width: 88px;max-height:36px;">Filtrar</button>

</div>
<!-- /ADVANCED-FILTER -->

<!-- SIMPLE-FILTER -->
<mat-form-field class="px-8 mt-8 index-search-field" *ngIf="displayFilter && !advancedFilter">
    <input matInput autocomplete="off" (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
</mat-form-field>
<!-- /SIMPLE-FILTER -->

<table mat-table [dataSource]="dataSource" matSort matSortActive="created" matSortDisableClear matSortDirection="asc"
    class="mat-elevation-z8 index-table-grid">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select" *ngIf="allowRowSelection">

        <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox [color]="primary" (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)">
            </mat-checkbox>
        </td>
    </ng-container>

    <ng-container *ngFor='let column of displayedColumns'>

        <ng-container matColumnDef="{{ column }}" *ngIf="column != 'select'">

            <th mat-header-cell *matHeaderCellDef class="px-20">
                {{ column }}
            </th>
            <td mat-cell *matCellDef="let element" class="px-20">

                <ng-container *ngIf="column == 'url'">
                    <a href="{{element[column]}}" target="_blank">
                        Download
                    </a>
                </ng-container>

                <ng-container *ngIf="column == 'Número' || 
                column == 'ID Externo' ||
                column == 'Código do Checkpoint' ||
                column == 'Empresa' ||
                column == 'Nome' ||
                column == 'Código' ||
                column == 'Nome do Usuario' ||
                column == 'Nome do Importador' ||
                column == 'Nome do Embarcador' ||
                column == 'Código da Bag' ||
                column == 'Nome da Permissão'">
                    <a routerLink="{{ endpoint }}/show/{{ element.ID }}"> {{element[column]}} </a>
                </ng-container>

                <ng-container *ngIf="column != 'Número' && 
                column != 'ID Externo' && 
                column != 'Código do Checkpoint' &&
                column != 'Empresa' &&
                column != 'Nome' &&
                column != 'Código' &&
                column != 'Nome do Usuario' &&
                column != 'Nome do Importador' &&
                column != 'Nome do Embarcador' &&
                column != 'Código da Bag' &&
                column != 'Nome da Permissão'">
                    {{element[column]}}
                </ng-container>
            </td>
        </ng-container>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [length]="resultsLength" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>