.loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.index-search-field {
    font-size: 14px;
    width: 100%;
}

.index-table-grid {
    width: 100%;
    text-align: left !important;
}

th {
    text-align: left !important;
}