<!-- CONTENT HEADER -->
<div class="header mat-red-bg p-24" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">

        <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">

            <a routerLink="/">
                <mat-icon class="secondary-text s-18">home</mat-icon>
            </a>
            <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
            <a routerLink="/{{firstUrl}}" *ngIf="first && firstUrl">
                <span class="secondary-text">{{ first }}</span>
            </a>
            <a routerLink="/dashboard" *ngIf="!first || !firstUrl">
                <span class="secondary-text">Dashboard</span>
            </a>

            <mat-icon class="secondary-text s-16" *ngIf="second && secondUrl">chevron_right</mat-icon>
            <a routerLink="/secondUrl" *ngIf="second && secondUrl">
                <span class="secondary-text">Houses</span>
            </a>
        </div>

        <!-- tittle -->
        <div class="h2 mt-16">
            <h2>{{ title }}</h2>
        </div>

        <!-- NAVIGATION -->
        <div class="toolbar" style="position: relative" *ngIf="endpoint">

            <div style="float: right;position: absolute;right: 20px;bottom:0;">
                <a class="mx-8" mat-raised-button routerLink="{{ endpoint }}/import" *ngIf="import">Importar</a>
                <a mat-raised-button routerLink="{{ endpoint }}/create">Adicionar</a>
            </div>

        </div>
        <!-- / NAVIGATION -->

    </div>
</div>
<!-- / CONTENT HEADER -->