<div class="page-layout blank p-22" fusePerfectScrollbar>

    <default-header title="{{'HOUSE.CONSOLIDATORS' | translate}}" [endpoint]="endpoint"
    first="Bags" firstUrl="airwaybills/consolidators" second="" secondUrl=""></default-header>

    <default-table [displayedColumns]="displayedColumns" [advancedFilter]="false" [endpoint]="endpoint"
        [pagination]="false" [service]="service">
    </default-table>

</div>