<div class="page-layout carded fullwidth">

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-red-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <div *ngIf="loading == true && _update" class="loading-shade">
            <mat-spinner></mat-spinner>
        </div>

        <default-header *ngIf="_update" title="{{ 'FLIGHT.EDIT' | translate }}"
        first="Voos" firstUrl="flights" second="" secondUrl=""></default-header>
        <default-header *ngIf="!_update" title="{{ 'FLIGHT.CREATE' | translate }}"
        first="Voos" firstUrl="flights" second="" secondUrl=""></default-header>

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg" style="border-radius: 8px 8px 0 0;">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar px-24 py-8">
                <span>{{ 'FLIGHT.FLIGHTS' | translate }} <em *ngIf="_update && !loading">#{{ data.id }} -
                        {{ data.number }}</em></span>
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <div class="content p-24">

                

                <!-- REACTIVE FORM -->
                <form [formGroup]="formGroup" class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" fxLayout="column"
                    fxLayoutAlign="start" fxFlex="1 0 auto" name="form" (ngSubmit)="submit()">

                    
                <span class="mat-title"> <mat-icon class="secondary-text s-16">chevron_right</mat-icon> <strong> {{ 'FLIGHT.REGISTRATION_INFORMATIONS' | translate }} </strong></span>

                    <div class="h2 mb-24"> <strong> {{ 'FLIGHT.FLIGHT' | translate }} </strong> </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field fxFlex="25" class="mx-8">
                            <input matInput placeholder="{{ 'FLIGHT.LISTING.NUMBER' | translate }}"
                                formControlName="flight_number" required>
                        </mat-form-field>
                        <mat-form-field fxFlex="25" class="mx-8">
                            <input matInput placeholder="{{ 'FLIGHT.LISTING.ALTERNATIVE_NUMBER' | translate }}"
                                formControlName="flight_alternative_number">
                        </mat-form-field>
                        <mat-form-field fxFlex="50" class="mx-8">
                            <mat-select fxFlex="100" placeholder="{{ 'FLIGHT.LISTING.AIRLINE_NAME' | translate }}"
                                formControlName="airline" required>

                                <ng-container *ngFor="let airline of airlines">
                                    <mat-option [value]="airline['ID']">
                                        {{ airline['Companhia Aérea'] }}
                                    </mat-option>
                                </ng-container>

                            </mat-select>
                        </mat-form-field>

                    </div>

                    <!-- ORIGIN -->
                    <div class="h2 mb-24 pt-24"> <strong> {{ 'FLIGHT.LISTING.ORIGIN' | translate }} </strong> </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field fxFlex="50" class="mx-8">
                            <mat-select fxFlex="100" placeholder="{{ 'FLIGHT.LISTING.AIRPORT_NAME' | translate }}"
                                formControlName="origin_airport" required>

                                <ng-container *ngFor="let airport of airports">
                                    <mat-option [value]="airport['ID']">
                                        {{ airport['Nome do Aeroporto'] }}
                                    </mat-option>
                                </ng-container>

                            </mat-select>
                        </mat-form-field>
                        <mat-form-field *ngIf="!_update" fxFlex="25" class="mx-8">
                            <input matInput [owlDateTime]="origin" [owlDateTimeTrigger]="origin" autocomplete="off"
                                placeholder="{{ 'FLIGHT.LISTING.DATE' | translate }}" formControlName="origin_date"
                                required>
                            <owl-date-time #origin></owl-date-time>
                        </mat-form-field>

                        <mat-form-field *ngIf="_update" fxFlex="25" class="mx-8">
                            <input matInput placeholder="{{ 'FLIGHT.LISTING.CURRENCY_DATE' | translate }}"
                                formControlName="origin_date">
                            <owl-date-time #origin></owl-date-time>
                        </mat-form-field>

                        <mat-form-field *ngIf="_update" fxFlex="25" class="mx-8">
                            <input matInput [owlDateTime]="origin" [owlDateTimeTrigger]="origin" autocomplete="off"
                                placeholder="{{ 'FLIGHT.LISTING.NEW_DATE' | translate }}" formControlName="origin_new_date"
                                required>
                            <owl-date-time #origin></owl-date-time>
                        </mat-form-field>




                    </div>

                    <!-- DESTINATION -->
                    <div class="h2 mb-24 pt-24"> <strong> {{ 'FLIGHT.LISTING.DESTINATION' | translate }} </strong>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="mx-8">

                        <mat-form-field fxFlex="50" class="mx-8">
                            <mat-select fxFlex="100" placeholder="{{ 'FLIGHT.LISTING.AIRPORT_NAME' | translate }}"
                                formControlName="destination_airport" required>

                                <ng-container *ngFor="let airport of airports">
                                    <mat-option [value]="airport['ID']">
                                        {{ airport['Nome do Aeroporto'] }}
                                    </mat-option>
                                </ng-container>

                            </mat-select>
                        </mat-form-field>
                        <mat-form-field *ngIf="!_update" fxFlex="25" class="mx-8">
                            <input matInput [owlDateTime]="destination" [owlDateTimeTrigger]="destination"
                                autocomplete="off" placeholder="{{ 'FLIGHT.LISTING.DATE' | translate }}"
                                formControlName="destination_date" required>
                            <owl-date-time #destination></owl-date-time>
                        </mat-form-field>

                        <mat-form-field *ngIf="_update" fxFlex="25" class="mx-8">
                            <input matInput placeholder="{{ 'FLIGHT.LISTING.CURRENCY_DATE' | translate }}"
                                formControlName="destination_date">
                            <owl-date-time #destination></owl-date-time>
                        </mat-form-field>

                        <mat-form-field *ngIf="_update" fxFlex="25" class="mx-8">
                            <input matInput [owlDateTime]="destination" [owlDateTimeTrigger]="destination" autocomplete="off"
                                placeholder="{{ 'FLIGHT.LISTING.NEW_DATE' | translate }}" formControlName="destination_new_date"
                                required>
                            <owl-date-time #destination></owl-date-time>
                        </mat-form-field>

                    </div>

                    <!-- NAVIGATION -->
                    <div class="p-24" fxLayout="row" style="position: relative;">

                        <div style=" position: absolute;right: 20px;">
                            <a mat-raised-button color="primary" style="margin-right: 10px;"
                                href="javascript:history.go(-1)">{{ 'FLIGHT.BACK' | translate }}</a>
                            <button type="submit" [disabled]="!formGroup.valid" mat-raised-button color="warn">{{ 'FLIGHT.SAVE' | translate
                                }}</button>
                        </div>

                    </div>
                    <!-- / NAVIGATION -->

                </form>

            </div>
            <!-- / CONTENT -->
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>