<div class="page-layout carded fullwidth">

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-red-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <div *ngIf="loading == true" class="loading-shade">
            <mat-spinner></mat-spinner>
        </div>

        <default-header title="{{ 'FLIGHT.SHOW' | translate }}"
        first="Voos" firstUrl="flights" second="" secondUrl=""></default-header>

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg" style="border-radius: 8px 8px 0 0;" *ngIf="!loading">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar px-24 py-8">
                <span>{{ 'FLIGHT.FLIGHT' | translate }} #{{ data.id }} - {{ data.number }}</span>
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <div class="content p-24">
                
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="mat-title"> <strong> {{ 'FLIGHT.INFORMATIONS' | translate }} </strong></span>

                <mat-card>
                    <p><strong>{{ 'FLIGHT.LISTING.NUMBER' | translate }}: </strong> {{ data.number }}</p>
                    <p><strong>{{ 'FLIGHT.LISTING.ALTERNATIVE_NUMBER' | translate }}: </strong> {{ data.alternative_number }}</p>
                    <!-- airline -->
                    <p><strong>{{ 'FLIGHT.LISTING.AIRLINE_NAME' | translate }}:</strong> {{ data.airline.name }}</p>
                </mat-card>

                <!-- ORIGIN -->
                <mat-card style="margin-top:10px">
                    <!-- address -->
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span class="mat-title"> <strong> {{ 'FLIGHT.LISTING.ORIGIN' | translate }} </strong></span>
                    <p><strong>{{ 'FLIGHT.LISTING.AIRPORT_CODE' | translate }}:</strong>
                        {{ data.origin.airportCode }}</p>
                    <p><strong>{{ 'FLIGHT.LISTING.AIRPORT_NAME' | translate }}:</strong>
                        {{ data.origin.airportName }}</p>
                    <p><strong>{{ 'FLIGHT.LISTING.DATE' | translate }}:</strong> {{ data.origin.date }}
                    </p>
                </mat-card>

                <!-- DESTINATION -->
                <mat-card style="margin-top:10px">
                    <!-- address -->
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span class="mat-title"> <strong> {{ 'FLIGHT.LISTING.DESTINATION' | translate }} </strong></span>
                    <p><strong>{{ 'FLIGHT.LISTING.AIRPORT_CODE' | translate }}:</strong>
                        {{ data.destination.airportCode }}</p>
                    <p><strong>{{ 'FLIGHT.LISTING.AIRPORT_NAME' | translate }}:</strong>
                        {{ data.destination.airportName }}</p>
                    <p><strong>{{ 'FLIGHT.LISTING.DATE' | translate }}:</strong> {{ data.destination.date }}
                    </p>
                </mat-card>
            </div>
            <!-- / CONTENT -->

            <!-- NAVIGATION -->
            <div class="toolbar" style="position: relative">

                <div style="float: right;position: absolute;right: 20px;">
                    <a mat-raised-button color="primary" style="margin-right: 10px;" href="javascript:history.go(-1)">{{ 'FLIGHT.BACK' | translate }}</a>
                    <a mat-raised-button color="warn"
                        routerLink="/flights/edit/{{ data.id }}">{{ 'FLIGHT.EDIT' | translate }}</a>
                </div>

            </div>
            <!-- / NAVIGATION -->

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>