<div class="page-layout carded fullwidth">

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-red-bg"></div>
    <!-- / TOP BACKGROUND -->

    <div class="loading-shade" *ngIf="loading && !data">
        <mat-spinner *ngIf="loading && !data"></mat-spinner>
    </div>

    <!-- CENTER -->
    <div class="center" *ngIf="!loading && data">
        <default-header title="HOUSE INTEGRATION - {{ 'HOUSE.SHOW' | translate }}"
        first="Houses" firstUrl="airwaybills/house" second="" secondUrl=""></default-header>
        <h1>HOUSE INTEGRATION</h1>
        <!-- / NAVIGATION -->
    </div>
    <!-- / CENTER -->
</div>