<div class="page-layout blank p-22" fusePerfectScrollbar>

    <default-header title="{{'FINANCIAL.INVOICES.TITLE' | translate}}" [endpoint]="endpoint"
    first="Faturas" firstUrl="financial/invoices" second="" secondUrl=""></default-header>

    <default-table [displayedColumns]="displayedColumns" 
    [filterColumns]="filterColumns" [advancedFilter]="true" [endpoint]="endpoint" [pagination]="false" [service]="service"></default-table>

</div>