.widget {
    min-width: 212px;
    display: inline-block;
}

.widget-header {
    position: relative;
    min-height: 134px;
}

.widget-header div:first-child {
    left: 50%;
    position: absolute;
    transform: translate(-50%);
}

.widget-header div:last-child {
    bottom: 15%;
    position: absolute;
    width: 100%;
    text-align: center;
}

.widget-header div {
    left: 50%;
    transform: translate(-50%);
}

.widget-footer span:first-child {
    float: left;
}