<fuse-widget class="widget" style="width: 30%;">

    <!-- Front -->
    <div class="widget fuse-widget-front mat-white-bg mat-elevation-z2">

        <div class="widget-header pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
            <div class="light-blue-fg font-size-72 line-height-72">
                <span *ngIf="count">
                    {{ count }}
                </span>
            </div>
            <div class="h3 secondary-text font-weight-500">
                {{ description }} - (CLR)
            </div>
        </div>

        <div class="widget-footer p-16 grey-50-bg border-top" fxLayout="row" fxLayoutAlign="start center">
            <span class="h4 secondary-text text-truncate">
                Aguardando próximo status
            </span>
            <span class="h4 ml-8">
                <!-- 3 -->
            </span>
        </div>
    </div>
    <!-- / Front -->

</fuse-widget>