<div class="page-layout carded fullwidth">

  <!-- TOP BACKGROUND -->
  <div class="top-bg mat-red-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <default-header *ngIf="_update" title="{{'FINANCIAL.DEBIT_NOTE.EDIT' | translate}}"
    first="Notas de Débito" firstUrl="financial/debit-note" second="" secondUrl=""></default-header>
    <default-header *ngIf="!_update" title="{{'FINANCIAL.DEBIT_NOTE.CREATE' | translate}}"
    first="Notas de Débito" firstUrl="financial/debit-note" second="" secondUrl=""></default-header>

    <!-- CONTENT CARD -->
    <div class="content-card mat-white-bg" style="border-radius: 8px 8px 0 0;">

      <!-- CONTENT TOOLBAR -->
      <div class="content p-24" *ngIf="_update && !loading">
        <mat-card>
          <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
          <span class="mat-title"> <strong> {{ 'FINANCIAL.DEBIT_NOTE.INFORMATIONS' | translate }} </strong> </span>
          <p><span>{{ 'FINANCIAL.DEBIT_NOTE.TITLE' | translate }} <em *ngIf="_update && !loading">
                {{ data.code }}</em></span></p>
          <p><span>{{ 'FINANCIAL.DEBIT_NOTE.COMPANY' | translate }}: </span> {{ data.company }}</p>
          <p><span>{{ 'FINANCIAL.DEBIT_NOTE.PAID_AT' | translate }}: </span> {{ data.paid_at }}</p>
          <p><span>{{ 'FINANCIAL.DEBIT_NOTE.DIGITABLE_LINE' | translate }}: </span> {{ data.digitable_line }}</p>

        </mat-card>
      </div>
      <!-- / CONTENT -->
      <!-- / CONTENT TOOLBAR -->
      <div class="toolbar px-24 py-8">
        <span>{{'FINANCIAL.DEBIT_NOTE.TITLE' | translate}} <em *ngIf="_update && !loading">
            # {{ data.id }}
          </em>
        </span>
      </div>
      <!-- / CONTENT TOOLBAR -->
      <!-- CONTENT -->
      <div class="content p-24">
        <!-- REACTIVE FORM -->
        <form [formGroup]="formGroup" class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" fxLayout="column"
          fxLayoutAlign="start" fxFlex="1 0 auto" name="form" (ngSubmit)="submit()">
          <div class="h2 mb-24" *ngIf="!_update"> <strong> {{ 'FINANCIAL.DEBIT_NOTE.INFORMATIONS' | translate }}
            </strong> </div>


          <div class="pb-8" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field fxFlex="50" class="mx-8">
              <input matInput type="text" placeholder="Código" formControlName="code" required>
            </mat-form-field>

            <mat-form-field fxFlex="50" class="mx-8">
              <input matInput type="text" placeholder="Valor Total" formControlName="total_amount" required>
            </mat-form-field>
          </div>

          <div class="pb-8" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

            <mat-form-field fxFlex="50" class="mx-8">
              <input matInput type="text" placeholder="Linha Digital" formControlName="digitable_line" required>
            </mat-form-field>

            <mat-form-field fxFlex="50" class="mx-8">
              <input matInput type="text" placeholder="Pagamento" formControlName="'paid_at" required>
            </mat-form-field>

          </div>

          <div class="p-24" fxLayout="row" style="position: relative;">

            <div style=" position: absolute;right: 20px;">
              <a mat-raised-button color="primary" style="margin-right: 10px;"
                href="javascript:history.go(-1)">{{ 'FINANCIAL.DEBIT_NOTE.BACK' | translate }}</a>
              <button type="submit" mat-raised-button
                color="warn">{{ 'FINANCIAL.DEBIT_NOTE.SAVE' | translate }}</button>
            </div>

          </div>



        </form>
      </div>
      <!-- / CONTENT -->
    </div>
    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>