<div class="page-layout blank p-24" fusePerfectScrollbar>

    <default-header title="{{'AIRLINE.AIRLINES' | translate}}" [endpoint]="endpoint"
    first="Companhias aéreas" firstUrl="airlines" second="" secondUrl=""></default-header>

    <default-table [dataSource]="dataSource" [displayedColumns]="displayedColumns"
        [filterColumns]="filterColumns" [advancedFilter]="true" [endpoint]="endpoint" [pagination]="false"
        [service]="airlineService"></default-table>

</div>