.tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.tr > .td {
    display: table-cell;
    padding: 0px 6px;
    width: 25%;
    margin-bottom: 0;
}

.button-add-checkpoint {
    float: right;
    right: 20px;
}