<!-- CONTENT CARD -->
<div class="content-card mat-white-bg my-8">

    <!-- CONTENT TOOLBAR -->
    <div class="toolbar px-24 py-8">
        <div class="h2 mb-24 pt-24">Checkpoints</div>
    </div>
    <!-- / CONTENT TOOLBAR -->

    <div class="content" *ngIf="checkpoints">

        <default-table [columns]="displayedColumns" [displayedColumns]="displayedColumns" [dataSource]="checkpoints"
            [disableControls]=true>
        </default-table>

    </div>

    <!-- CONTENT -->
    <div class="content p-24">

        <!-- REACTIVE FORM -->
        <form [formGroup]="formCheckpoint" class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" name="form" (ngSubmit)="addCheckpoint($event)">

            <!-- <div class="p-24" fxLayout="row" style="position: relative;">
                <div style=" position: absolute;right: 20px;">
                    <button type="submit" mat-raised-button color="warn">Adicionar</button>
                </div>
            </div> -->

            <table>
                <tbody>
                    <tr class="tr">
                        <td class="td">
                            <mat-select placeholder="Checkpoint" formControlName="checkpoint" required>
                                <mat-option>
                                    <ngx-mat-select-search [placeholderLabel]="'Buscar'" [noEntriesFoundLabel]="'Checkpoint não encontrado'"
                                        formControlName="checkpointFilter">
                                    </ngx-mat-select-search>
                                </mat-option>
                                <ng-container *ngFor="let item of filteredCheckpoints | async">
                                    <mat-option [value]="item.id">
                                        {{ item.code }} - <strong>{{ item.name }}</strong>
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                        </td>
                        <td class="td">
                            <mat-form-field>
                                <input matInput placeholder="Comentário" formControlName="comments">
                            </mat-form-field>
                        </td>
                        <td class="td">
                            <input matInput [owlDateTime]="picker" [owlDateTimeTrigger]="picker" autocomplete="off" placeholder="Data"
                                formControlName="date" required>
                            <owl-date-time #picker></owl-date-time>
                        </td>
                        <td class="td">
                            <div class="button-add-checkpoint">
                                <button type="submit" mat-raised-button color="warn">Adicionar</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Comentário" formControlName="description">
                </mat-form-field>

                <input matInput [owlDateTime]="picker" [owlDateTimeTrigger]="picker" autocomplete="off"
                    placeholder="Data" formControlName="date" required>
                <owl-date-time #picker></owl-date-time>
            </div> -->

        </form>

    </div>
    <!-- / CONTENT -->

</div>
<!-- / CONTENT CARD -->