<div class="page-layout carded fullwidth">

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-red-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <default-header title="{{'FINANCIAL.FINES.TITLE' | translate}}"
        first="Multas e Encargos" firstUrl="financial/fines" second="" secondUrl=""></default-header>

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg" style="border-radius: 8px 8px 0 0;" *ngIf="!loading">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar px-24 py-8">
                <span>{{ 'FINANCIAL.FINES.TITLE' | translate }} <!-- #{{ data.id }} - {{ data.code }} --></span>
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <!-- <div class="content p-24">
                <mat-card>
                    <p><strong>{{ 'FINANCIAL.FINES.ID' | translate }}: </strong> {{ data.id }}</p>
                    <p><strong>{{ 'FINANCIAL.FINES.CODE' | translate }}: </strong> {{ data.code }}</p>
                    <p><strong>{{ 'FINANCIAL.FINES.COMPANY' | translate }}: </strong> {{ data.company }}</p>
                    <p><strong>{{ 'FINANCIAL.FINES.TOTAL' | translate }}: </strong> {{ data.total_amount }}</p>
                    <p><strong>{{ 'FINANCIAL.FINES.DIGITABLE_LINE' | translate }}: </strong>
                        {{ data.digitable_line }}</p>
                    <p><strong>{{ 'FINANCIAL.FINES.PAID_AT' | translate }}: </strong> {{ data.paid_at }}</p>
                </mat-card>
            </div> -->
            <!-- / CONTENT -->

            <!-- NAVIGATION -->
            <div class="toolbar" style="position: relative">

                <div style="float: right;position: absolute;right: 20px;">
                    <a mat-raised-button color="primary" style="margin-right: 10px;"
                        href="javascript:history.go(-1)">{{ 'FINANCIAL.FINES.BACK' | translate }}</a>
                    <a mat-raised-button color="warn"
                        routerLink="/airlines/edit/{{ data.id }}">{{ 'FINANCIAL.FINES.EDIT' | translate }}</a>
                </div>

            </div>
            <!-- / NAVIGATION -->

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>