<div class="page-layout carded fullwidth">

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-red-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <default-header title="{{ 'CONTRACT.SHOW' | translate }}"
        first="Contratos" firstUrl="contracts" second="" secondUrl=""></default-header>

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg" style="border-radius: 8px 8px 0 0;" *ngIf="!loading">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar px-24 py-8">
                <span>{{ 'CONTRACT.CONTRACT' | translate }} # {{ data.ID }} - Empresa : {{ data.Empresa }}</span>
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <div class="content p-24">
                <mat-card>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span class="mat-title"> <strong> {{ 'CONTRACT.INFORMATIONS' | translate }} </strong> </span>
                    <p><strong>Wacc: </strong> 0{{ data.WACC }}</p>
                    <p><strong>Spread Câmbio (% sobre o Câmbio): </strong> {{ data.Cambio }}</p>
                    <p><strong>Checkpoint finalizador: </strong> {{ data.checkpoint }}</p>
                    <p><strong>{{ 'CONTRACT.LISTING.DEFAULT' | translate }}: </strong> {{ data.Padrao }}</p>
                </mat-card>

                <mat-card *ngIf="data.services">
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span class="mat-title"> <strong> {{ 'CONTRACT.SERVICES' | translate }} </strong> </span>

                    <default-table #services [source]="data.services" [endpoint]="'/services'" [allowRowSelection]=false
                        [actions]=false [advancedFilter]="false" [displayFilter]="false"
                        [columns]="['Descrição', 'Quantidade', 'Nível de Serviço', 'Checkpoint', 'Carga', 'Aproximação']">
                    </default-table>

                </mat-card>
            </div>
            <!-- / CONTENT -->

            <!-- NAVIGATION -->
            <div class="toolbar" style="position: relative">

                <div style="float: right;position: absolute;right: 20px;">
                    <a mat-raised-button color="primary" style="margin-right: 10px;" href="javascript:history.go(-1)">{{
                        'CONTRACT.BACK' | translate }}</a>
                    <a mat-raised-button color="warn" routerLink="/contracts/edit/{{ data.id }}">{{ 'CONTRACT.EDIT' |
                        translate }}</a>
                </div>

            </div>
            <!-- / NAVIGATION -->

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>