<div class="page-layout carded fullwidth">
    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-red-bg"></div>
    <!-- / TOP BACKGROUND -->

    <div class="loading-shade" *ngIf="loading && !data">
        <mat-spinner *ngIf="loading && !data"></mat-spinner>
    </div>

    <!-- CENTER -->
    <div class="center" *ngIf="!loading && data">
        <default-header title="{{ 'CONTRACT.SHOW' | translate }}"
        first="Contratos" firstUrl="contracts" second="" secondUrl=""></default-header>

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg" style="border-radius: 8px 8px 0 0;" *ngIf="!loading">

        <div class="toolbar px-24 py-8 position-adjustment">
            <span *ngIf="data">{{ 'CONTRACT.CONTRACT' | translate }} # {{ data.ID }} - Empresa : {{ data.Empresa }}</span>
            <span *ngIf="!data">{{ 'CONTRACT.CONTRACT' | translate }}</span>
            <div style="float: right;position: absolute;right: 20px;">
                <a mat-raised-button color="primary" style="margin-right: 10px;" href="javascript:history.go(-1)">{{ 'CONTRACT.BACK'
                    | translate }}</a>
                <a *ngIf="data" mat-raised-button color="warn" style="margin-right: 10px;"
                    routerLink="/contracts/edit/{{ data.ID }}">{{ 'CONTRACT.EDIT' |
                    translate
                    }}</a>
            </div>
        </div>
        <!-- / CONTENT TOOLBAR -->
        <mat-divider></mat-divider>

            <!-- CONTENT TOOLBAR -->
            <form [formGroup]="formGroup" name="form" (ngSubmit)="submit()">
                <div class="content p-24">
                    <table>
                        <tbody>
                            <tr class="tr">
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field>
                                            <mat-label class="label-house">{{ 'CONTRACT.LISTING.DESCRIPTION' | translate }}&nbsp;*</mat-label>
                                            <input matInput formControlName="description" placeholder="">
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field>
                                            <mat-label class="label-house">{{ 'CONTRACT.LISTING.WACC' | translate }}&nbsp;*</mat-label>
                                            <input matInput formControlName="wacc" mask="000,00" placeholder="">
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field>
                                            <mat-label class="label-house">{{ 'CONTRACT.LISTING.EXCHANGE_SPREAD_RATE' | translate }}&nbsp;*</mat-label>
                                            <input matInput formControlName="exchange_spread_rate" placeholder="" mask="000,00">
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field class="width-adjustment">
                                            <mat-label class="label-house">{{ 'CONTRACT.LISTING.COMPANY.NAME' | translate }}&nbsp;*</mat-label>
                                            <mat-select formControlName="company">
                                                <mat-option>
                                                    <ngx-mat-select-search [placeholderLabel]="'Buscar'"
                                                        [noEntriesFoundLabel]="'Empresa não encontrada'" formControlName="companyLastFilter">
                                                    </ngx-mat-select-search>
                                                </mat-option>
                                                <ng-container *ngFor="let item of filteredCompany | async">
                                                    <mat-option [value]="item.ID">
                                                        {{ item['Código'] }} - <strong>{{ item['Nome da Empresa'] }}</strong>
                                                    </mat-option>
                                                </ng-container>
                                            </mat-select>
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                            </tr>
                            <tr class="tr">
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field class="width-adjustment">
                                            <mat-label class="label-house">{{ 'CONTRACT.LISTING.STANDARD_DUTIES_COLLECTION' | translate }}&nbsp;*</mat-label>
                                            <mat-select formControlName="standard_duties_collection_id">
                                                <mat-option [value]="1">{{ 'CONTRACT.DUTIES_COLLECTION_TYPES.DDP' | translate }}</mat-option>
                                                <mat-option [value]="2">{{ 'CONTRACT.DUTIES_COLLECTION_TYPES.DDU' | translate }}</mat-option>
                                                <mat-option [value]="3">{{ 'CONTRACT.DUTIES_COLLECTION_TYPES.EXW' | translate }}</mat-option>
                                                <mat-option [value]="4">{{ 'CONTRACT.DUTIES_COLLECTION_TYPES.FAS' | translate }}</mat-option>
                                                <mat-option [value]="5">{{ 'CONTRACT.DUTIES_COLLECTION_TYPES.FOB' | translate }}</mat-option>
                                                <mat-option [value]="6">{{ 'CONTRACT.DUTIES_COLLECTION_TYPES.FCA' | translate }}</mat-option>
                                                <mat-option [value]="7">{{ 'CONTRACT.DUTIES_COLLECTION_TYPES.CFR' | translate }}</mat-option>
                                                <mat-option [value]="8">{{ 'CONTRACT.DUTIES_COLLECTION_TYPES.CIF' | translate }}</mat-option>
                                                <mat-option [value]="9">{{ 'CONTRACT.DUTIES_COLLECTION_TYPES.CPT' | translate }}</mat-option>
                                                <mat-option [value]="10">{{ 'CONTRACT.DUTIES_COLLECTION_TYPES.CIP' | translate }}</mat-option>
                                                <mat-option [value]="11">{{ 'CONTRACT.DUTIES_COLLECTION_TYPES.DAT' | translate }}</mat-option>
                                                <mat-option [value]="12">{{ 'CONTRACT.DUTIES_COLLECTION_TYPES.DAP' | translate }}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card class="mat-checkbox-adjustment">
                                        <mat-label class="label-house">{{ 'CONTRACT.LISTING.DEFAULT' | translate }}&nbsp;*</mat-label>
                                        <mat-select formControlName="default">
                                            <mat-option [value]="1">{{ 'CONTRACT.YES' | translate }}
                                            </mat-option>
                                            <mat-option [value]="0">{{ 'CONTRACT.NO' | translate }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field class="width-adjustment">
                                            <mat-label class="label-house">{{ 'CONTRACT.LISTING.DUTY_INVOICE' |
                                                translate }}:&nbsp;*
                                            </mat-label>
                                            <mat-select formControlName="duty_invoice">
                                                <mat-option value="ByExchangeRate">{{ 'CONTRACT.LISTING.BY_EXCHANGE_RATE' | translate }}</mat-option>
                                                <mat-option value="AsPaid">{{ 'CONTRACT.LISTING.AS_PAID' | translate }}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field class="width-adjustment">
                                            <mat-label class="label-house">{{ 'CONTRACT.LISTING.DUTY_KIND_OF_CHARGE' |
                                                translate }}:&nbsp;*
                                            </mat-label>
                                            <mat-select formControlName="duty_kind_of_charge">
                                                <mat-option value="AsReleased">{{ 'CONTRACT.LISTING.AS_RELEASED' | translate }}</mat-option>
                                                <mat-option value="ChargeInAdvance">{{ 'CONTRACT.LISTING.CHARGE_IN_ADVANCE' | translate }}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                            </tr>
                            <tr class="tr">
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field>
                                            <mat-label class="label-house">{{ 'CONTRACT.LISTING.DUTIES_COLLECT_PERCENT_FEE' | translate }}&nbsp;*</mat-label>
                                            <input matInput formControlName="duties_collect_percent_fee" placeholder="" mask="000,00">
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field>
                                            <mat-label class="label-house">{{ 'CONTRACT.LISTING.DUTIES_PRE_PAYMENT_ADD' | translate }}&nbsp;*</mat-label>
                                            <input matInput formControlName="duties_pre_payment_add" placeholder="" mask="000,00">
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field class="width-adjustment">
                                            <mat-label class="label-house">{{ 'CONTRACT.LISTING.SERVICES_CURRENCY' | translate }}&nbsp;*</mat-label>
                                            <mat-select formControlName="services_currency_id">
                                                <mat-option [value]="1">BRL</mat-option>
                                                <mat-option [value]="2">USD</mat-option>
                                                <mat-option [value]="3">CAD</mat-option>
                                                <mat-option [value]="4">EUR</mat-option>
                                                <mat-option [value]="5">HKD</mat-option>
                                                <mat-option [value]="6">KRW</mat-option>
                                                <mat-option [value]="7">SEK</mat-option>
                                                <mat-option [value]="8">CNY</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field class="width-adjustment">
                                            <mat-label class="label-house">{{ 'CONTRACT.LISTING.DUTIES_CURRENCY' | translate }}&nbsp;*</mat-label>
                                            <mat-select formControlName="duties_currency_id">
                                                <mat-option [value]="1">BRL</mat-option>
                                                <mat-option [value]="2">USD</mat-option>
                                                <mat-option [value]="3">CAD</mat-option>
                                                <mat-option [value]="4">EUR</mat-option>
                                                <mat-option [value]="5">HKD</mat-option>
                                                <mat-option [value]="6">KRW</mat-option>
                                                <mat-option [value]="7">SEK</mat-option>
                                                <mat-option [value]="8">CNY</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                            </tr>
                            <tr class="tr">
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field class="width-adjustment">
                                            <mat-label class="label-house">{{ 'CONTRACT.LISTING.RELEASE_CODE' | translate }}&nbsp;*</mat-label>
                                            <mat-select formControlName="release_code_id">
                                                <mat-option>
                                                    <ngx-mat-select-search [placeholderLabel]="'Buscar'" [noEntriesFoundLabel]="'Checkpoint não encontrado'"
                                                        formControlName="checkpointFilter">
                                                    </ngx-mat-select-search>
                                                </mat-option>
                                                <ng-container *ngFor="let item of filteredCheckpoints | async">
                                                    <mat-option [value]="item.id">
                                                        {{ item.code }} - <strong>{{ item.name }}</strong>
                                                    </mat-option>
                                                </ng-container>
                                            </mat-select>
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card class="mat-checkbox-adjustment">
                                        <mat-label class="label-house">{{ 'CONTRACT.LISTING.INVOICE_SERVICE_SEPERATE_HOLD' | translate }}&nbsp;*</mat-label>
                                        <mat-select formControlName="invoice_service_seperate_hold">
                                            <mat-option [value]="1">{{ 'CONTRACT.YES' | translate }}
                                            </mat-option>
                                            <mat-option [value]="0">{{ 'CONTRACT.NO' | translate }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card class="mat-checkbox-adjustment">
                                        <mat-label class="label-house">{{ 'CONTRACT.LISTING.INVOICE_DUTIES_SEPARATE_HOLD' | translate }}&nbsp;*</mat-label>
                                        <mat-select formControlName="invoice_service_seperate_hold">
                                            <mat-option [value]="1">{{ 'CONTRACT.YES' | translate }}
                                            </mat-option>
                                            <mat-option [value]="0">{{ 'CONTRACT.NO' | translate }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card class="mat-checkbox-adjustment">
                                        <mat-label class="label-house">{{ 'CONTRACT.LISTING.ACTIVE' | translate }}&nbsp;*</mat-label>
                                        <mat-select formControlName="active">
                                            <mat-option [value]="1">{{ 'CONTRACT.YES' | translate }}
                                            </mat-option>
                                            <mat-option [value]="0">{{ 'CONTRACT.NO' | translate }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-card>
                                </td>
                            </tr>
                            <tr class="tr">
                                <td class="td">
                                    <mat-card class="mat-checkbox-adjustment">
                                        <mat-label class="label-house">{{ 'CONTRACT.LISTING.CHARGE_MAWB' | translate }}&nbsp;*</mat-label>
                                        <mat-select formControlName="charge_mawb">
                                            <mat-option [value]="1">{{ 'CONTRACT.YES' | translate }}
                                            </mat-option>
                                            <mat-option [value]="0">{{ 'CONTRACT.NO' | translate }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field>
                                            <mat-label class="label-house">{{ 'CONTRACT.LISTING.MAWB_PRICE' | translate }}&nbsp;*</mat-label>
                                            <input matInput formControlName="mawb_price" placeholder="" mask="000,00">
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card class="mat-checkbox-adjustment">
                                        <mat-label class="label-house">{{ 'CONTRACT.LISTING.CHARGE_MAWB_WEIGHT' | translate }}&nbsp;*</mat-label>
                                        <mat-select formControlName="charge_mawb_weight">
                                            <mat-option [value]="1">{{ 'CONTRACT.YES' | translate }}
                                            </mat-option>
                                            <mat-option [value]="0">{{ 'CONTRACT.NO' | translate }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field>
                                            <mat-label class="label-house">{{ 'CONTRACT.LISTING.MAWB_WEIGHT_FIST_DAY' | translate }}&nbsp;*</mat-label>
                                            <input matInput formControlName="mawb_weight_fist_day" placeholder="" mask="000,00">
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                            </tr>
                            <tr class="tr">
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field>
                                            <mat-label class="label-house">{{ 'CONTRACT.LISTING.MAWB_WEIGHT_NEXT_DAYS' | translate }}&nbsp;*</mat-label>
                                            <input matInput formControlName="mawb_weight_next_days" placeholder="" mask="000,00">
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card class="mat-checkbox-adjustment">
                                        <mat-label class="label-house">{{ 'CONTRACT.LISTING.CHARGE_HDL_TO_MAWB' | translate }}&nbsp;*</mat-label>
                                        <mat-select formControlName="charge_hdl_to_mawb">
                                            <mat-option [value]="1">{{ 'CONTRACT.YES' | translate }}
                                            </mat-option>
                                            <mat-option [value]="0">{{ 'CONTRACT.NO' | translate }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field>
                                            <mat-label class="label-house">{{ 'CONTRACT.LISTING.HDL_PRICE' | translate }}&nbsp;*</mat-label>
                                            <input matInput formControlName="hdl_price" placeholder="" mask="000,00">
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card class="mat-checkbox-adjustment">
                                        <mat-label class="label-house">{{ 'CONTRACT.LISTING.CHARGE_INDIVIDUAL_STORAGE' | translate }}&nbsp;*</mat-label>
                                        <mat-select formControlName="charge_individual_storage">
                                            <mat-option [value]="1">{{ 'CONTRACT.YES' | translate }}
                                            </mat-option>
                                            <mat-option [value]="0">{{ 'CONTRACT.NO' | translate }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-card>
                                </td>
                            </tr>
                            <tr class="tr">
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field>
                                            <mat-label class="label-house">{{ 'CONTRACT.LISTING.MIN_CHARGE' | translate }}&nbsp;*</mat-label>
                                            <input matInput formControlName="min_charge" placeholder="" mask="000,00">
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field>
                                            <mat-label class="label-house">{{ 'CONTRACT.LISTING.MAX_CHARGE' | translate }}&nbsp;*</mat-label>
                                            <input matInput formControlName="max_charge" placeholder="" mask="000,00">
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field>
                                            <mat-label class="label-house">{{ 'CONTRACT.LISTING.BILLING_SCHEDULE' | translate }}:&nbsp;*</mat-label>
                                            <input matInput [owlDateTime]="picker" [owlDateTimeTrigger]="picker" autocomplete="off" formControlName="billing_schedule" placeholder="">
                                            <owl-date-time #picker></owl-date-time>
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field>
                                            <mat-label class="label-house">{{ 'CONTRACT.LISTING.DEADLINE_BILLING' | translate }}:&nbsp;*</mat-label>
                                            <input matInput [owlDateTime]="deadline" [owlDateTimeTrigger]="deadline" autocomplete="off"
                                                formControlName="deadline_billing" placeholder="">
                                            <owl-date-time #deadline></owl-date-time>
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                            </tr>
                            <tr class="tr">
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field>
                                            <mat-label class="label-house">{{ 'CONTRACT.LISTING.DEADLINE_DUE_DATE' | translate }}:&nbsp;*</mat-label>
                                            <input matInput [owlDateTime]="due_date" [owlDateTimeTrigger]="due_date" autocomplete="off"
                                                formControlName="deadline_due_date" placeholder="">
                                            <owl-date-time #due_date></owl-date-time>
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field class="width-adjustment">
                                            <mat-label class="label-house">{{ 'CONTRACT.LISTING.TYPE' | translate }}&nbsp;*</mat-label>
                                            <mat-select formControlName="type">
                                                <mat-option value="Client">Client</mat-option>
                                                <mat-option value="Station">Station</mat-option>
                                                <mat-option value="SinAsignar">SinAsignar</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field class="width-adjustment">
                                            <mat-label class="label-house">{{ 'CONTRACT.LISTING.TYPE_INVOICE' | translate }}&nbsp;*</mat-label>
                                            <mat-select formControlName="type_invoice">
                                                <mat-option value="Default">Default</mat-option>
                                                <mat-option value="Inbound">Inbound</mat-option>
                                                <mat-option value="DomesticWithMAWB">DomesticWithMAWB</mat-option>
                                                <mat-option value="SeparatedDuties">SeparatedDuties</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field>
                                            <mat-label class="label-house">{{ 'CONTRACT.LISTING.SELLER_KEY_MANDAE' | translate }}&nbsp;*</mat-label>
                                            <input matInput formControlName="seller_key_mandae" placeholder="" mask="000,00">
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                            </tr>
                            <tr class="tr">
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field class="width-adjustment">
                                            <mat-label class="label-house">{{ 'CONTRACT.LISTING.REIMBURSEMENT_MODAL' |
                                                translate }}:&nbsp;*
                                            </mat-label>
                                            <mat-select formControlName="reimbursement_modal_id">
                                                <mat-option [value]="1">{{ 'CONTRACT.LISTING.ANTICIPATED' |translate }}</mat-option>
                                                <mat-option [value]="2">{{ 'CONTRACT.LISTING.FINISHER' |translate }}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field class="width-adjustment">
                                            <mat-label class="label-house">{{ 'CONTRACT.LISTING.LAST_CHECKPOINT' | translate }}&nbsp;*</mat-label>
                                            <mat-select formControlName="last_checkpoint">
                                                <mat-option>
                                                    <ngx-mat-select-search [placeholderLabel]="'Buscar'"
                                                        [noEntriesFoundLabel]="'Checkpoint não encontrado'" formControlName="checkpointLastFilter">
                                                    </ngx-mat-select-search>
                                                </mat-option>
                                                <ng-container *ngFor="let item of filteredLastCheckpoints | async">
                                                    <mat-option [value]="item.id">
                                                        {{ item.code }} - <strong>{{ item.name }}</strong>
                                                    </mat-option>
                                                </ng-container>
                                            </mat-select>
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card class="mat-checkbox-adjustment">
                                        <mat-label class="label-house">{{ 'CONTRACT.LISTING.DUTIES_INVOICE_REQUIRED' | translate }}&nbsp;*</mat-label>
                                        <mat-select formControlName="duties_invoice_required">
                                            <mat-option [value]="1">{{ 'CONTRACT.YES' | translate }}
                                            </mat-option>
                                            <mat-option [value]="0">{{ 'CONTRACT.NO' | translate }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card class="mat-checkbox-adjustment">
                                        <mat-label class="label-house">{{ 'CONTRACT.LISTING.COLLECT_TAX' | translate }}&nbsp;*</mat-label>
                                        <mat-select formControlName="collect_tax_id">
                                            <mat-option [value]="1">{{ 'CONTRACT.YES' | translate }}
                                            </mat-option>
                                            <mat-option [value]="0">{{ 'CONTRACT.NO' | translate }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-card>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>

            <div class="content p-24">
                <mat-card *ngIf="services">
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span class="mat-title"> <strong> {{ 'CONTRACT.SERVICES' | translate }} </strong> </span>
                    <default-table #services [source]="data.services" [disableControls]=true 
                        [displayFilter]="false"
                        [endpoint]="'/services'" 
                        [columns]="['Descrição', 'Nível de Serviço', 'Checkpoint', 'Aproximação']"
                        [displayedColumns]="['Descrição', 'Nível de Serviço', 'Checkpoint', 'Aproximação']">
                    </default-table>
                </mat-card>
                <mat-card *ngIf="!services">
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span class="mat-title"> <strong> {{ 'CONTRACT.SERVICES' | translate }} </strong> </span>
                    <mat-label class="label-house">{{ 'CONTRACT.NO_SERVICES' | translate }}&nbsp;*</mat-label>                    
                </mat-card>
            </div>
            <div class="toolbar px-24 py-8 position-adjustment">
                <div style="float: right;position: absolute;right: 20px;">
                    <a mat-raised-button color="primary" style="margin-right: 10px;" href="javascript:history.go(-1)">{{
                        'CONTRACT.BACK'
                        | translate }}</a>
                    <a *ngIf="data" mat-raised-button color="warn" style="margin-right: 10px;"
                        routerLink="/contracts/edit/{{ data.ID }}">{{ 'CONTRACT.EDIT' |
                        translate
                        }}</a>
                </div>
            </div>
            <br><br>
            <br><br>
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>