<div id="forms" class="page-layout simple fullwidth" fxLayout="column">

    <!-- HEADER -->
    <div class="header mat-red-bg p-24 h-160" fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column" fxLayoutAlign="center start">
            <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-18">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">User Interface</span>
            </div>
            <div class="h1 mt-16">Forms</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">

        <div class="h1">
            Reactive Forms
        </div>

        <p class="pt-16 pb-32">
            Angular reactive forms facilitate a reactive style of programming that favors explicit management of the
            data flowing between a non-UI data model (typically retrieved from a server) and a UI-oriented form model
            that retains the states and values of the HTML controls on screen. Reactive forms offer the ease of using
            reactive patterns, testing, and validation.
        </p>

        <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">

            <!-- REACTIVE FORM EXAMPLE -->

            <form class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto"
                name="form" [formGroup]="form">

                <div class="h2 mb-24">Reactive Form Example</div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field fxFlex="100">
                        <input matInput placeholder="Company (disabled)" formControlName="company">
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field fxFlex="50">
                        <input matInput placeholder="First name" formControlName="firstName" required>
                        <mat-error *ngIf="formErrors.firstName.required">
                            First Name is required!
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="50">
                        <input matInput placeholder="Last name" formControlName="lastName" required>
                        <mat-error *ngIf="formErrors.lastName.required">
                            Last Name is required!
                        </mat-error>
                    </mat-form-field>

                </div>

                <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field fxFlex="100">
                        <textarea matInput placeholder="Address" formControlName="address" required>
                            1600 Amphitheatre Pkwy
                        </textarea>
                        <mat-error *ngIf="formErrors.address.required">
                            Address is required!
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="100">
                        <textarea matInput placeholder="Address 2" formControlName="address2"></textarea>
                        <mat-error *ngIf="formErrors.address2.required">
                            Address 2 is required!
                        </mat-error>
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field fxFlex="33">
                        <input matInput placeholder="City" formControlName="city" required>
                        <mat-error *ngIf="formErrors.city.required">
                            City is required!
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="34">
                        <input matInput placeholder="State" formControlName="state" required>
                        <mat-error *ngIf="formErrors.state.required">
                            State is required!
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="33">
                        <input matInput #postalCode placeholder="Postal Code" value="94043" formControlName="postalCode"
                            required>
                        <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
                        <mat-error *ngIf="formErrors.postalCode.maxlength">
                            Postal Code needs to be max. {{formErrors.postalCode.maxlength.requiredLength}} characters
                        </mat-error>
                        <mat-error *ngIf="formErrors.postalCode.required">
                            Postal Code is required!
                        </mat-error>
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field fxFlex="100">
                        <mat-select placeholder="Country" formControlName="country" required>
                            <mat-option [value]="'United States of America'">
                                United States of America
                            </mat-option>
                            <mat-option [value]="'United Kingdom'">
                                United Kingdom
                            </mat-option>
                            <mat-option [value]="'Russia'">
                                Russia
                            </mat-option>
                            <mat-option [value]="'China'">
                                China
                            </mat-option>
                            <mat-option [value]="'Japan'">
                                Japan
                            </mat-option>
                            <mat-option [value]="'Turkey'">
                                Turkey
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="formErrors.country.required">
                            Country is required!
                        </mat-error>
                    </mat-form-field>

                </div>

            </form>

            <!-- / REACTIVE FORM EXAMPLE -->

            <div class="form-errors-model mat-white-bg p-24 mat-elevation-z4">

                <div class="h2 mb-24">Reactive Form Errors Model</div>

                <pre><code>{{formErrors | json}}</code></pre>
            </div>

        </div>

        <div class="h1 pt-32">
            Horizontal Stepper
        </div>

        <p class="pb-32">
            Angular Material's stepper provides a wizard-like workflow by dividing content into logical steps.
            <code>mat-horizontal-stepper</code> selector can be used to create a horizontal stepper.
        </p>

        <div class="horizontal-stepper-wrapper">

            <!-- HORIZONTAL STEPPER EXAMPLE -->
            <mat-horizontal-stepper class="mat-elevation-z4" [linear]="true">

                <mat-step [stepControl]="horizontalStepperStep1">

                    <form [formGroup]="horizontalStepperStep1">

                        <ng-template matStepLabel>Fill out your name</ng-template>

                        <div fxFlex="1 0 auto" fxLayout="row">

                            <mat-form-field fxFlex="50">
                                <input matInput placeholder="First name" formControlName="firstName" required>
                                <mat-error *ngIf="horizontalStepperStep1Errors.firstName.required">
                                    First Name is required!
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field fxFlex="50">
                                <input matInput placeholder="Last name" formControlName="lastName" required>
                                <mat-error *ngIf="formErrors.lastName.required">
                                    Last Name is required!
                                </mat-error>
                            </mat-form-field>

                        </div>

                        <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                            <button mat-raised-button matStepperNext type="button" color="accent">
                                Next
                            </button>
                        </div>

                    </form>

                </mat-step>

                <mat-step [stepControl]="horizontalStepperStep2">

                    <form [formGroup]="horizontalStepperStep2">

                        <ng-template matStepLabel>Fill out your address</ng-template>

                        <div fxFlex="1 0 auto" fxLayout="row">

                            <mat-form-field fxFlex="100">
                                <textarea matInput placeholder="Address" formControlName="address" required>
                                    1600 Amphitheatre Pkwy
                                </textarea>
                                <mat-error *ngIf="horizontalStepperStep2Errors.address.required">
                                    Address is required!
                                </mat-error>
                            </mat-form-field>

                        </div>

                        <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                            <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                                Previous
                            </button>
                            <button mat-raised-button matStepperNext type="button" color="accent">
                                Next
                            </button>
                        </div>

                    </form>

                </mat-step>

                <mat-step [stepControl]="horizontalStepperStep3">

                    <form [formGroup]="horizontalStepperStep3">

                        <ng-template matStepLabel>Fill out your address</ng-template>

                        <div fxFlex="1 0 auto" fxLayout="row">

                            <mat-form-field fxFlex="33">
                                <input matInput placeholder="City" formControlName="city" required>
                                <mat-error *ngIf="horizontalStepperStep3Errors.city.required">
                                    City is required!
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field fxFlex="34">
                                <input matInput placeholder="State" formControlName="state" required>
                                <mat-error *ngIf="horizontalStepperStep3Errors.state.required">
                                    State is required!
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field fxFlex="33">
                                <input matInput #postalCode placeholder="Postal Code" formControlName="postalCode"
                                    required>
                                <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
                                <mat-error *ngIf="horizontalStepperStep3Errors.postalCode.maxlength">
                                    Postal Code needs to be max.
                                    {{horizontalStepperStep3Errors.postalCode.maxlength.requiredLength}} characters
                                </mat-error>
                                <mat-error *ngIf="horizontalStepperStep3Errors.postalCode.required">
                                    Postal Code is required!
                                </mat-error>
                            </mat-form-field>

                        </div>

                        <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                            <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                                Previous
                            </button>
                            <button mat-raised-button matStepperNext type="button" color="accent">
                                Next
                            </button>
                        </div>

                    </form>

                </mat-step>

                <mat-step>

                    <ng-template matStepLabel>Done</ng-template>

                    <div class="h2 m-16" fxLayout="row" fxLayoutAlign="center center">
                        Thank your for filling out our form.
                    </div>

                    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                        <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                            Previous
                        </button>
                        <button mat-raised-button type="button" color="accent" (click)="finishHorizontalStepper()">
                            Finish
                        </button>
                    </div>

                </mat-step>

            </mat-horizontal-stepper>
            <!-- / HORIZONTAL STEPPER EXAMPLE -->

        </div>

        <div class="h1 pt-48">
            Vertical Stepper
        </div>

        <p class="pb-32">
            Angular Material's stepper provides a wizard-like workflow by dividing content into logical steps.
            <code>mat-vertical-stepper</code> can be used to create a vertical stepper.
        </p>

        <div class="vertical-stepper-wrapper">

            <!-- VERTICAL STEPPER EXAMPLE -->
            <mat-vertical-stepper class="mat-elevation-z4" [linear]="true">

                <mat-step [stepControl]="verticalStepperStep1">

                    <form [formGroup]="verticalStepperStep1">

                        <ng-template matStepLabel>Fill out your name</ng-template>

                        <div fxFlex="1 0 auto" fxLayout="row">

                            <mat-form-field fxFlex="50">
                                <input matInput placeholder="First name" formControlName="firstName" required>
                                <mat-error *ngIf="verticalStepperStep1Errors.firstName.required">
                                    First Name is required!
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field fxFlex="50">
                                <input matInput placeholder="Last name" formControlName="lastName" required>
                                <mat-error *ngIf="formErrors.lastName.required">
                                    Last Name is required!
                                </mat-error>
                            </mat-form-field>

                        </div>

                        <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                            <button mat-raised-button matStepperNext type="button" color="accent">
                                Next
                            </button>
                        </div>

                    </form>

                </mat-step>

                <mat-step [stepControl]="verticalStepperStep2">

                    <form [formGroup]="verticalStepperStep2">

                        <ng-template matStepLabel>Fill out your address</ng-template>

                        <div fxFlex="1 0 auto" fxLayout="row">

                            <mat-form-field fxFlex="100">
                                <textarea matInput placeholder="Address" formControlName="address" required>
                                    1600 Amphitheatre Pkwy
                                </textarea>
                                <mat-error *ngIf="verticalStepperStep2Errors.address.required">
                                    Address is required!
                                </mat-error>
                            </mat-form-field>

                        </div>

                        <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                            <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                                Previous
                            </button>
                            <button mat-raised-button matStepperNext type="button" color="accent">
                                Next
                            </button>
                        </div>

                    </form>

                </mat-step>

                <mat-step [stepControl]="verticalStepperStep3">

                    <form [formGroup]="verticalStepperStep3">

                        <ng-template matStepLabel>Fill out your address</ng-template>

                        <div fxFlex="1 0 auto" fxLayout="row">

                            <mat-form-field fxFlex="33">
                                <input matInput placeholder="City" formControlName="city" required>
                                <mat-error *ngIf="verticalStepperStep3Errors.city.required">
                                    City is required!
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field fxFlex="34">
                                <input matInput placeholder="State" formControlName="state" required>
                                <mat-error *ngIf="verticalStepperStep3Errors.state.required">
                                    State is required!
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field fxFlex="33">
                                <input matInput #postalCode placeholder="Postal Code" formControlName="postalCode"
                                    required>
                                <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
                                <mat-error *ngIf="verticalStepperStep3Errors.postalCode.maxlength">
                                    Postal Code needs to be max.
                                    {{verticalStepperStep3Errors.postalCode.maxlength.requiredLength}} characters
                                </mat-error>
                                <mat-error *ngIf="verticalStepperStep3Errors.postalCode.required">
                                    Postal Code is required!
                                </mat-error>
                            </mat-form-field>

                        </div>

                        <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                            <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                                Previous
                            </button>
                            <button mat-raised-button matStepperNext type="button" color="accent">
                                Next
                            </button>
                        </div>

                    </form>

                </mat-step>

                <mat-step>

                    <ng-template matStepLabel>Done</ng-template>

                    <div class="h2 m-16" fxLayout="row" fxLayoutAlign="center center">
                        Thank your for filling out our form.
                    </div>

                    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                        <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                            Previous
                        </button>
                        <button mat-raised-button type="button" color="accent" (click)="finishVerticalStepper()">
                            Finish
                        </button>
                    </div>

                </mat-step>

            </mat-vertical-stepper>
            <!-- / VERTICAL STEPPER EXAMPLE -->

        </div>

    </div>
    <!-- / CONTENT -->

</div>