<div class="page-layout blank p-24" fusePerfectScrollbar>

    <default-header title='Tarifários' [endpoint]="endpoint" 
    first="Tarifários" firstUrl="zipcode-ranges" second="" secondUrl=""></default-header>

    <default-table [dataSource]="dataSource" [displayedColumns]="displayedColumns" [endpoint]="endpoint"
        [pagination]="false" [service]="service"></default-table>

</div>
