<div class="page-layout carded fullwidth">

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-red-bg"></div>
    <!-- / TOP BACKGROUND -->

    <div class="loading-shade" *ngIf="loading && !data">
        <mat-spinner *ngIf="loading && !data"></mat-spinner>
    </div>

    <!-- CENTER -->
    <div class="center" *ngIf="!loading && data">
        <default-header title="{{ 'HOUSE.SHOW' | translate }}"
        first="Houses" firstUrl="airwaybills/house" second="" secondUrl=""></default-header>

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg" style="border-radius: 8px 8px 0 0;" *ngIf="!loading">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar px-24 py-8 position-adjustment">
                <span *ngIf="data">{{ 'HOUSE.HOUSE' | translate }} #{{ data.id }} - {{ data.code }}</span>
                <span *ngIf="!data">{{ 'HOUSE.HOUSE' | translate }}</span>
                <div style="float: right;position: absolute;right: 20px;">
                    <a mat-raised-button color="primary" style="margin-right: 10px;" href="javascript:history.go(-1)">{{
                        'HOUSE.BACK' | translate }}</a>
                    <a *ngIf="data" mat-raised-button color="warn" style="margin-right: 10px;" routerLink="/airwaybills/house/edit/{{ data.id }}">{{ 'HOUSE.EDIT' |
                        translate
                        }}</a>
                    <a mat-raised-button class="button-printhawb">{{ 'HOUSE.PRINTHAWB' |
                        translate
                        }}</a>
                    <a mat-raised-button class="button-printlabel">{{ 'HOUSE.PRINTLABEL' |
                        translate
                        }}</a>
                </div>
            </div>
            <!-- / CONTENT TOOLBAR -->
            <mat-divider></mat-divider>
            <!-- CONTENT -->
            <div class="content p-24">
                <table>
                    <tbody>
                        <tr class="tr">
                            <td class="td">
                                <mat-card>
                                    <button *ngIf="data.company" matTooltip="{{data.company.code}}">
                                        <mat-form-field  *ngIf="data.company">
                                            <mat-label class="label-house">{{ 'HOUSE.COMPANY' | translate }}</mat-label>
                                            <input matInput disabled  placeholder="" value="{{data.company.name}}">
                                        </mat-form-field>
                                    </button>
                                </mat-card>
                            </td>
                            <td class="td">
                                <mat-card>
                                    <mat-form-field *ngFor="let externalIdentifier of data.external_identifiers" >
                                        <mat-label class="label-house">{{ 'HOUSE.HOUSE_CODE' | translate }}:</mat-label>
                                        <input matInput disabled  placeholder="" value="{{externalIdentifier.external_id}}">
                                    </mat-form-field>
                                </mat-card>
                            </td>
                            <td class="td">
                                <mat-card *ngIf="data.origin">
                                    <button matTooltip="{{data.origin[0].name}}">
                                        <mat-form-field>
                                            <mat-label class="label-house">{{ 'MASTER.LISTING.AIRPORT_ORIGIN' | translate }}:</mat-label>
                                            <input matInput matTooltip="{{data.origin[0].name}}" disabled  placeholder="" value="{{data.origin[0].code}}">
                                        </mat-form-field>
                                    </button>
                                </mat-card>
                                <mat-card *ngIf="!data.origin">
                                    <button matTooltip="SEM DADOS PARA ESSA REMESSA">
                                        <mat-form-field>
                                            <mat-label class="label-house">{{ 'MASTER.LISTING.AIRPORT_ORIGIN' | translate }}:</mat-label>
                                            <input matInput matTooltip="SEM INFORMAÇÃO" disabled placeholder="" value="SEM INFORMAÇÃO">
                                        </mat-form-field>
                                    </button>
                                </mat-card>
                            </td>
                            <td class="td">
                                <mat-card *ngIf="data.destination">
                                    <button matTooltip="{{data.destination[0].name}}">
                                        <mat-form-field>
                                            <mat-label class="label-house">{{ 'MASTER.LISTING.AIRPORT_DESTINATION' | translate }}:</mat-label>
                                            <input matInput matTooltip="{{data.destination[0].name}}" disabled  placeholder="" value="{{data.destination[0].code}}">
                                        </mat-form-field>
                                    </button>
                                </mat-card>
                                <mat-card *ngIf="!data.destination">
                                    <button matTooltip="SEM DADOS PARA ESSA REMESSA">
                                        <mat-form-field>
                                            <mat-label class="label-house">{{ 'MASTER.LISTING.AIRPORT_DESTINATION' | translate }}:</mat-label>
                                            <input matInput matTooltip="SEM INFORMAÇÃO" disabled placeholder="" value="SEM INFORMAÇÃO">
                                        </mat-form-field>
                                    </button>
                                </mat-card>
                            </td>
                        </tr>
                        <tr class="tr">
                            <td>
                                <mat-card style="margin-top:10px" *ngIf="data.shipper">
                                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                                    <span *ngIf="data.contract.id" class="mat-title">
                                        <a color="warn" style="margin-right: 10px;" routerLink="/contracts/show/{{ data.contract.id }}">{{
                                            'CONTRACT.CONTRACT' |
                                            translate
                                            }}</a> - {{ data.contract.description }}
                                    </span>
                                    <span *ngIf="!data.contract.id" class="mat-title">
                                        {{ 'CONTRACT.CONTRACT' | translate }} - {{ 'CONTRACT.NOCONTRACT' | translate }}
                                    </span>
                                </mat-card>
                            </td>
                        </tr>
                        <tr class="tr">
                            <td class="td2">
                                <mat-card style="margin-top:10px" *ngIf="data.shipper">
                                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                                    <ng-container *ngIf="data.shipper.id; then withShipperLink; else withoutShipperLink">
                                    </ng-container>
                                    <ng-template #withShipperLink>
                                        <a routerLink="/importers/show/{{ data.shipper.id }}">
                                            <span class="mat-title">{{ 'HOUSE.SHIPPER.SHIPPER' | translate }}</span>
                                        </a>
                                    </ng-template>
                                    <ng-template #withoutShipperLink>
                                        <span class="mat-title">{{ 'HOUSE.SHIPPER.SHIPPER' | translate }}</span>
                                    </ng-template>
                                    <table>
                                        <tbody>
                                            <tr class="tr-field">
                                                <td class="td2">
                                                    <mat-form-field>
                                                        <mat-label class="label-house">{{ 'HOUSE.PERSON.NAME' | translate }}:
                                                        </mat-label>
                                                        <input matInput disabled  placeholder="" value="{{ data.shipper.name }}">
                                                    </mat-form-field>
                                                </td>
                                                <td class="td2">
                                                    <mat-form-field *ngIf="data.shipper.documents">
                                                        <mat-label class="label-house">{{ 'HOUSE.PERSON.DOCUMENT' | translate }} - {{ data.shipper.documents[0].type }}:
                                                        </mat-label>
                                                        <input matInput disabled  placeholder="" value="{{ data.shipper.documents[0].number }}">
                                                    </mat-form-field>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                
                                    <!-- address -->
                                    <ng-container *ngIf="data.shipper.addresses">
                                        <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                                        <span class="mat-title">{{ 'HOUSE.LISTING.ADDRESS_STREET' | translate }}</span>
                                        <table>
                                            <tbody>
                                                <tr class="tr-field">
                                                    <td class="td2">
                                                        <mat-form-field *ngIf="data.shipper.addresses[0].country">
                                                            <mat-label class="label-house">{{ 'HOUSE.LISTING.ADDRESS_COUNTRY' | translate }}:
                                                            </mat-label>
                                                            <input matInput disabled  placeholder="" value="{{ data.shipper.addresses[0].country.name }}">
                                                        </mat-form-field>
                                                    </td>
                                                    <td class="td2">
                                                        <mat-form-field *ngIf="data.shipper.addresses[0].address">
                                                            <mat-label class="label-house">{{ 'HOUSE.LISTING.ADDRESS_STREET' | translate }}:
                                                            </mat-label>
                                                            <input matInput disabled  placeholder="" value="{{ data.shipper.addresses[0].address }}">
                                                        </mat-form-field>
                                                    </td>
                                                </tr>
                                                <tr class="tr-field">
                                                    <td class="td2">
                                                        <mat-form-field *ngIf="data.shipper.addresses[0].number">
                                                            <mat-label class="label-house">{{ 'HOUSE.LISTING.NUMBER' | translate }}:
                                                            </mat-label>
                                                            <input matInput disabled  placeholder="" value="{{ data.shipper.addresses[0].number }}">
                                                        </mat-form-field>
                                                    </td>
                                                    <td class="td2">
                                                        <mat-form-field *ngIf="data.shipper.addresses[0].additional_info">
                                                            <mat-label class="label-house">{{ 'HOUSE.LISTING.ADDRESS_ADDITIONAL_INFO' | translate }}:
                                                            </mat-label>
                                                            <input matInput disabled  placeholder="" value="{{ data.shipper.addresses[0].additional_info }}">
                                                        </mat-form-field>
                                                        <mat-form-field *ngIf="!data.shipper.addresses[0].additional_info">
                                                            <mat-label class="label-house">{{ 'HOUSE.LISTING.ADDRESS_ADDITIONAL_INFO' | translate }}:
                                                            </mat-label>
                                                            <input matInput disabled placeholder="" value="SEM INFORMAÇÃO">
                                                        </mat-form-field>
                                                    </td>
                                                </tr>
                                                <tr class="tr-field">
                                                    <td class="td2">
                                                        <mat-form-field *ngIf="data.shipper.addresses[0].neighborhood">
                                                            <mat-label class="label-house">{{ 'HOUSE.LISTING.ADDRESS_NEIGHBORHOOD' | translate }}:
                                                            </mat-label>
                                                            <input matInput disabled  placeholder="" value="{{ data.shipper.addresses[0].neighborhood }}">
                                                        </mat-form-field>
                                                    </td>
                                                    <td class="td2">
                                                        <mat-form-field *ngIf="data.shipper.addresses[0].neighborhood">
                                                            <mat-label class="label-house">{{ 'HOUSE.LISTING.ADDRESS_CITY' | translate }}:
                                                            </mat-label>
                                                            <input matInput disabled  placeholder="" value="{{ data.shipper.addresses[0].city }}">
                                                        </mat-form-field>
                                                    </td>
                                                </tr>
                                                <tr class="tr-field">
                                                    <td class="td2">
                                                        <mat-form-field *ngIf="data.shipper.addresses[0].neighborhood">
                                                            <mat-label class="label-house">{{ 'HOUSE.LISTING.ADDRESS_ZIP_CODE' | translate }}:
                                                            </mat-label>
                                                            <input matInput #postalCode maxlength="9" placeholder="" value="{{ data.shipper.addresses[0].zip_code }}">
                                                        </mat-form-field>
                                                    </td>
                                                    <td class="td2">
                                                        <mat-form-field *ngIf="data.shipper.addresses[0].neighborhood">
                                                            <mat-label class="label-house">{{ 'HOUSE.LISTING.ADDRESS_STATE' | translate }}:
                                                            </mat-label>
                                                            <input matInput disabled  placeholder="" value="{{ data.shipper.addresses[0].state }}">
                                                        </mat-form-field>
                                                    </td>
                                                </tr>
                                                <tr class="tr-field">
                                                    <td class="td2">
                                                        <mat-form-field *ngIf="data.shipper.phones">
                                                            <mat-label class="label-house">{{ 'HOUSE.PHONES.NUMBER' | translate }}:
                                                            </mat-label>
                                                            <input matInput disabled placeholder="" value="{{ data.shipper.phones[0].number }}">
                                                        </mat-form-field>
                                                        <mat-form-field *ngIf="!data.shipper.phones">
                                                            <mat-label class="label-house">{{ 'HOUSE.PHONES.NUMBER' | translate }}:
                                                            </mat-label>
                                                            <input matInput disabled placeholder="" value="SEM INFORMAÇÃO">
                                                        </mat-form-field>
                                                    </td>
                                                    <td class="td2">
                                                        <mat-form-field *ngIf="data.shipper.email">
                                                            <mat-label class="label-house">{{ 'HOUSE.EMAIL.ADDRESS' | translate }}:
                                                            </mat-label>
                                                            <input matInput disabled placeholder="" value="{{ data.shipper.email }}">
                                                        </mat-form-field>
                                                        <mat-form-field *ngIf="!data.shipper.email">
                                                            <mat-label class="label-house">{{ 'HOUSE.EMAIL.ADDRESS' | translate }}:
                                                            </mat-label>
                                                            <input matInput disabled placeholder="" value="SEM INFORMAÇÃO">
                                                        </mat-form-field>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </ng-container>
                                </mat-card>
                            </td>
                            <td class="td2">
                                <mat-card style="margin-top:10px">
                                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                                    <ng-container *ngIf="data.importer.id; then withImporterLink; else withoutImporterLink">
                                    </ng-container>
                                    <ng-template #withImporterLink>
                                        <a routerLink="/importers/show/{{ data.importer.id }}">
                                            <span class="mat-title">{{ 'HOUSE.IMPORTER.IMPORTER' | translate }}</span>
                                        </a>
                                    </ng-template>
                                    <ng-template #withoutImporterLink>
                                        <span class="mat-title">{{ 'HOUSE.IMPORTER.IMPORTER' | translate }}</span>
                                    </ng-template>
                                    <table>
                                        <tbody>
                                            <tr class="tr-field">
                                                <td class="td2">
                                                    <mat-form-field>
                                                        <mat-label class="label-house">{{ 'HOUSE.PERSON.NAME' | translate }}:
                                                        </mat-label>
                                                        <input matInput disabled  placeholder="" value="{{ data.importer.name }}">
                                                    </mat-form-field>
                                                </td>
                                                <td class="td2">
                                                    <mat-form-field *ngIf="data.importer.documents">
                                                        <mat-label class="label-house">{{ 'HOUSE.PERSON.DOCUMENT' | translate }} - {{ data.importer.documents[0].type }}:
                                                        </mat-label>
                                                        <input matInput disabled  placeholder="" value="{{ data.importer.documents[0].number }}">
                                                    </mat-form-field>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <!-- address -->
                                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                                    <span class="mat-title">{{ 'HOUSE.LISTING.ADDRESS_STREET' | translate }}</span>
                                    <table>
                                        <tbody>
                                            <tr class="tr-field">
                                                <td class="td2">
                                                    <mat-form-field *ngIf="data.importer.addresses[0].country">
                                                        <mat-label class="label-house">{{ 'HOUSE.LISTING.ADDRESS_COUNTRY' | translate }}:
                                                        </mat-label>
                                                        <input matInput disabled  placeholder="" value="{{ data.importer.addresses[0].country.name }}">
                                                    </mat-form-field>
                                                </td>
                                                <td class="td2">
                                                    <mat-form-field *ngIf="data.importer.addresses[0].address">
                                                        <mat-label class="label-house">{{ 'HOUSE.LISTING.ADDRESS_STREET' | translate }}:
                                                        </mat-label>
                                                        <input matInput disabled  placeholder="" value="{{ data.importer.addresses[0].address }}">
                                                    </mat-form-field>
                                                </td>
                                            </tr>
                                            <tr class="tr-field">
                                                <td class="td2">
                                                    <mat-form-field *ngIf="data.importer.addresses[0].number">
                                                        <mat-label class="label-house">{{ 'HOUSE.LISTING.NUMBER' | translate }}:
                                                        </mat-label>
                                                        <input matInput disabled  placeholder="" value="{{ data.importer.addresses[0].number }}">
                                                    </mat-form-field>
                                                </td>
                                                <td class="td2">
                                                    <mat-form-field>
                                                        <mat-label class="label-house">{{ 'HOUSE.LISTING.ADDRESS_ADDITIONAL_INFO' | translate }}:
                                                        </mat-label>
                                                        <input matInput disabled  placeholder="" value="{{ data.importer.addresses[0].additional_info }}">
                                                    </mat-form-field>
                                                </td>
                                            </tr>
                                            <tr class="tr-field">
                                                <td class="td2">
                                                    <mat-form-field *ngIf="data.importer.addresses[0].neighborhood">
                                                        <mat-label class="label-house">{{ 'HOUSE.LISTING.ADDRESS_NEIGHBORHOOD' | translate }}:
                                                        </mat-label>
                                                        <input matInput disabled  placeholder="" value="{{ data.importer.addresses[0].neighborhood }}">
                                                    </mat-form-field>
                                                </td>
                                                <td class="td2">
                                                    <mat-form-field *ngIf="data.importer.addresses[0].city">
                                                        <mat-label class="label-house">{{ 'HOUSE.LISTING.ADDRESS_CITY' | translate }}:
                                                        </mat-label>
                                                        <input matInput disabled  placeholder="" value="{{ data.importer.addresses[0].city }}">
                                                    </mat-form-field>
                                                </td>
                                            </tr>
                                            <tr class="tr-field">
                                                <td class="td2">
                                                    <mat-form-field *ngIf="data.importer.addresses[0].zip_code">
                                                        <mat-label class="label-house">{{ 'HOUSE.LISTING.ADDRESS_ZIP_CODE' | translate }}:
                                                        </mat-label>
                                                        <input matInput disabled  placeholder="" value="{{ data.importer.addresses[0].zip_code }}">
                                                    </mat-form-field>
                                                </td>
                                                <td class="td2">
                                                    <mat-form-field *ngIf="data.importer.addresses[0].state">
                                                        <mat-label class="label-house">{{ 'HOUSE.LISTING.ADDRESS_STATE' | translate }}:
                                                        </mat-label>
                                                        <input matInput disabled  placeholder="" value="{{ data.importer.addresses[0].state }}">
                                                    </mat-form-field>
                                                </td>
                                            </tr>
                                            <tr class="tr-field">
                                                <td class="td2">
                                                    <mat-form-field *ngIf="data.importer.phones">
                                                        <mat-label class="label-house">{{ 'HOUSE.PHONES.NUMBER' | translate }}:
                                                        </mat-label>
                                                        <input matInput disabled placeholder="" value="{{ data.importer.phones[0].number }}">
                                                    </mat-form-field>
                                                    <mat-form-field *ngIf="!data.importer.phones">
                                                        <mat-label class="label-house">{{ 'HOUSE.PHONES.NUMBER' | translate }}:
                                                        </mat-label>
                                                        <input matInput disabled placeholder="" value="SEM INFORMAÇÃO">
                                                    </mat-form-field>
                                                </td>
                                                <td class="td2">
                                                    <mat-form-field *ngIf="data.importer.email">
                                                        <mat-label class="label-house">{{ 'HOUSE.EMAIL.ADDRESS' | translate }}:
                                                        </mat-label>
                                                        <input matInput disabled placeholder="" value="{{ data.importer.email }}">
                                                    </mat-form-field>
                                                    <mat-form-field *ngIf="!data.importer.email">
                                                        <mat-label class="label-house">{{ 'HOUSE.EMAIL.ADDRESS' | translate }}:
                                                        </mat-label>
                                                        <input matInput disabled placeholder="" value="SEM INFORMAÇÃO">
                                                    </mat-form-field>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </mat-card>
                            </td>
                        </tr>
                        <tr class="tr">
                            <td class="td">
                                <span class="mat-title">{{ 'HOUSE.HOUSE_DESCRIPTION' | translate }}</span>
                            </td>
                        </tr>
                        <tr class="tr">
                            <td class="td2">
                                <mat-card style="margin-top:10px">
                                    <table>
                                        <tbody>
                                            <tr class="tr-field">
                                                <td class="td2">
                                                    <mat-form-field id="height-adjustment">
                                                        <mat-label class="label-house">{{ 'MASTER.LISTING.DESCRIPTION' | translate }}:
                                                        </mat-label>
                                                        <textarea matInput disabled  placeholder="" value="{{ data.description }}"></textarea>
                                                    </mat-form-field>
                                                </td>
                                                <td class="td2">
                                                    <mat-form-field>
                                                        <mat-label class="label-house">{{ 'HOUSE.LISTING.AMOUNT_FREIGHT' | translate }}:
                                                        </mat-label>
                                                        <input matInput disabled  placeholder="" value="{{ data.amount_freight | mask: 'comma_separator.2' }}">
                                                    </mat-form-field>
                                                    <mat-form-field *ngIf="data.unit_type">
                                                        <mat-label class="label-house">{{ 'HOUSE.UNIT_TYPE' | translate }}:
                                                        </mat-label>
                                                        <input matInput disabled placeholder="" value="{{ data.unit_type.name }}">
                                                    </mat-form-field>
                                                    <mat-form-field>
                                                        <mat-label class="label-house">{{ 'MASTER.GROSS_WEIGHT' | translate }}:
                                                        </mat-label>
                                                        <input matInput disabled placeholder="" value="{{ data.gross_weight | mask: 'comma_separator.2' }}">
                                                    </mat-form-field>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </mat-card>
                            </td>
                            <td class="td2">
                                <mat-card style="margin-top:10px;">
                                    <table>
                                        <tbody>
                                            <tr class="tr-field">
                                                <td class="td2 padding-adjustment">
                                                    <mat-form-field *ngIf="data.service_type">
                                                        <mat-label class="label-house">{{ 'HOUSE.SERVICE_TYPE' | translate }}:
                                                        </mat-label>
                                                        <input matInput disabled placeholder="" value="{{ data.service_type | uppercase }}">
                                                    </mat-form-field>
                                                    <mat-form-field *ngIf="data.type_transport">
                                                        <mat-label class="label-house">{{ 'HOUSE.TYPE_TRANSPORT' | translate }}:
                                                        </mat-label>
                                                        <input matInput disabled placeholder="" value="{{ data.type_transport | uppercase }}">
                                                    </mat-form-field>
                                                </td>
                                                <td class="td2 padding-adjustment">
                                                    <mat-form-field *ngIf="data.packages">
                                                        <mat-label class="label-house">{{ 'HOUSE.PACKAGES' | translate }}:
                                                        </mat-label>
                                                        <input matInput disabled placeholder="" value="{{ data.packages }}">
                                                    </mat-form-field>
                                                    <mat-form-field *ngIf="!data.packages">
                                                        <mat-label class="label-house">{{ 'HOUSE.PACKAGES' | translate }}:
                                                        </mat-label>
                                                        <input matInput disabled placeholder="" value="SEM INFORMAÇÃO">
                                                    </mat-form-field>

                                                    <mat-form-field *ngIf="data.currency">
                                                        <mat-label class="label-house">{{ 'HOUSE.CURRENCY' | translate }}:
                                                        </mat-label>
                                                        <input matInput disabled placeholder="" value="{{ data.currency.code }}">
                                                    </mat-form-field>
                                                    <mat-form-field *ngIf="!data.currency">
                                                        <mat-label class="label-house">{{ 'HOUSE.CURRENCY' | translate }}:
                                                        </mat-label>
                                                        <input matInput disabled placeholder="" value="SEM INFORMAÇÃO">
                                                    </mat-form-field>
                                                    <!-- <ng-container *ngIf="data.master_airwaybill_id; then withMaster; else withoutMaster">
                                                    </ng-container>
                                                    <ng-template #withMaster>
                                                        <a routerLink="/airwaybills/master/show/{{ data.master_airwaybill_id }}">
                                                            <mat-form-field>
                                                                <mat-label class="label-house">{{ 'MASTER.MASTER' | translate }}:
                                                                </mat-label>
                                                                <input matInput disabled placeholder="" value="{{ data.master.external_identifiers[0].external_id }}">
                                                            </mat-form-field>
                                                        </a>
                                                    </ng-template>
                                                    <ng-template #withoutMaster>
                                                        <mat-form-field>
                                                            <mat-label class="label-house">{{ 'MASTER.MASTER' | translate }}:
                                                            </mat-label>
                                                            <input matInput disabled placeholder="" value="NENHUM MASTER VINCULADO">
                                                        </mat-form-field>
                                                    </ng-template> -->
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </mat-card>
                            </td>
                        </tr>
                        <tr class="tr">
                            <td class="td">
                                <span class="mat-title">{{ 'HOUSE.CUSTOMS_SETTINGS.SETTINGS' | translate }}</span>
                            </td>
                        </tr>
                        <tr class="tr">
                            <td class="td2">
                                <mat-card style="margin-top:10px" *ngIf="data.customs_settings">
                                    <table>
                                        <tbody>
                                            <tr class="tr-field">
                                                <td class="td2">
                                                    <mat-form-field *ngIf="data.customs_settings.payment_type">
                                                        <mat-label class="label-house">{{ 'HOUSE.CUSTOMS_SETTINGS.PAYMENT_TYPE' | translate }}:
                                                        </mat-label>
                                                        <input matInput disabled placeholder="" value="{{ data.customs_settings.payment_type }}">
                                                    </mat-form-field>
                                                    <mat-form-field *ngIf="!data.customs_settings.payment_type">
                                                        <mat-label class="label-house">{{ 'HOUSE.CUSTOMS_SETTINGS.PAYMENT_TYPE' | translate }}:
                                                        </mat-label>
                                                        <input matInput disabled placeholder="" value="SEM INFORMAÇÃO">
                                                    </mat-form-field>
                                                </td>
                                                <td class="td2">
                                                    <mat-form-field *ngIf="data.customs_settings.tax_class">
                                                        <mat-label class="label-house">{{ 'HOUSE.CUSTOMS_SETTINGS.TAX_CLASS' | translate }}:
                                                        </mat-label>
                                                        <input matInput disabled placeholder="" value="{{ data.customs_settings.tax_class.description }}">
                                                    </mat-form-field>
                                                </td>
                                            </tr>
                                            <tr class="tr-field">
                                                <td class="td2">
                                                    <mat-form-field *ngIf="data.customs_settings.customs_adm">
                                                        <mat-label class="label-house">{{ 'HOUSE.CUSTOMS_SETTINGS.CUSTOMS_ADM' | translate }}:
                                                        </mat-label>
                                                        <input matInput disabled  placeholder="" value="{{ data.customs_settings.customs_adm.name }}">
                                                    </mat-form-field>
                                                </td>
                                                <td class="td2">
                                                    <mat-form-field *ngIf="data.customs_settings.currency">
                                                        <mat-label class="label-house">{{ 'HOUSE.CURRENCY' | translate }}:
                                                        </mat-label>
                                                        <input matInput disabled placeholder="" value="{{ data.customs_settings.currency.code }}">
                                                    </mat-form-field>
                                                    <mat-form-field *ngIf="!data.customs_settings.currency">
                                                        <mat-label class="label-house">{{ 'HOUSE.CURRENCY' | translate }}:
                                                        </mat-label>
                                                        <input matInput disabled placeholder="" value="SEM INFORMAÇÃO">
                                                    </mat-form-field>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </mat-card>
                            </td>
                            <td class="td2">
                                <mat-card style="margin-top:10px" *ngIf="data.customs_settings">
                                    <table>
                                        <tbody>
                                            <tr class="tr-field">  
                                                <td class="td2">
                                                    <mat-form-field *ngIf="data.customs_settings.customs_incoterm">
                                                        <mat-label class="label-house">{{ 'HOUSE.CUSTOMS_SETTINGS.INCOTERM' | translate }}:
                                                        </mat-label>
                                                        <input matInput disabled  placeholder="" value="{{ data.customs_settings.customs_incoterm.name }}">
                                                    </mat-form-field>
                                                </td>
                                                <td class="td2">
                                                    <mat-form-field *ngIf="data.customs_settings.customs_service">
                                                        <mat-label class="label-house">{{ 'HOUSE.SERVICE_TYPE' | translate }}:
                                                        </mat-label>
                                                        <input matInput disabled  placeholder="" value="{{ data.customs_settings.customs_service }}">
                                                    </mat-form-field>
                                                </td>
                                            </tr>
                                            <tr class="tr-field">
                                                <td class="td2">
                                                    <mat-form-field *ngIf="data.customs_settings.destination">
                                                        <mat-label class="label-house">{{ 'MASTER.LISTING.AIRPORT_DESTINATION' | translate }}:
                                                        </mat-label>
                                                        <input matInput disabled placeholder="" value="{{ data.customs_settings.destination }}">
                                                    </mat-form-field>
                                                    <mat-form-field *ngIf="!data.customs_settings.destination">
                                                        <mat-label class="label-house">{{ 'MASTER.LISTING.AIRPORT_DESTINATION' | translate }}:
                                                        </mat-label>
                                                        <input matInput disabled placeholder="" value="SEM INFORMAÇÃO">
                                                    </mat-form-field>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </mat-card>
                            </td>
                        </tr>
                        <tr class="tr">
                            <td class="td">
                                <span class="mat-title">{{ 'HOUSE.ITEMS.ITEMS_TOTAL' | translate }} ({{data.items.length}})</span>
                            </td>
                        </tr>
                        <!-- TOTAL-->
                        <tr class="tr">
                            <td class="td2">
                                <mat-card style="margin-top:10px" *ngIf="itemsSum">
                                    <table>
                                        <tbody>
                                            <tr class="tr-field">
                                                <td class="td2">
                                                    <mat-form-field *ngIf="true">
                                                        <mat-label class="label-house">{{ 'HOUSE.ITEMS.COMERCIAL_DUTIABLE_VALUE' | translate }}</mat-label>
                                                        <input matInput disabled placeholder="" value="0.00">
                                                    </mat-form-field>
                                                </td>
                                                <td class="td2">
                                                    <mat-form-field *ngIf="itemsSum.commercial_value">
                                                        <mat-label class="label-house">{{ 'HOUSE.ITEMS.COMPLETE_COMMERCIAL_VALUE' | translate }}</mat-label>
                                                        <input matInput disabled placeholder="" value="{{ itemsSum.commercial_value }}">
                                                    </mat-form-field>
                                                    <mat-form-field *ngIf="!itemsSum.commercial_value">
                                                        <mat-label class="label-house">{{ 'HOUSE.ITEMS.COMPLETE_COMMERCIAL_VALUE' | translate }}</mat-label>
                                                        <input matInput disabled placeholder="" value="0.00">
                                                    </mat-form-field>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </mat-card>
                            </td>
                            <td class="td2">
                                <mat-card style="margin-top:10px" *ngIf="data.items">
                                    <table>
                                        <tbody>
                                            <tr class="tr-field">
                                                <td class="td2">
                                                    <mat-form-field *ngIf="itemsSum.weight">
                                                        <mat-label class="label-house">{{ 'HOUSE.ITEMS.TOTAL_WEIGHT' | translate }}</mat-label>
                                                        <input matInput disabled placeholder="" value="{{ itemsSum.weight }}">
                                                    </mat-form-field>
                                                    <mat-form-field *ngIf="!itemsSum.weight">
                                                        <mat-label class="label-house">{{ 'HOUSE.ITEMS.TOTAL_WEIGHT' | translate }}</mat-label>
                                                        <input matInput disabled placeholder="" value="0.00">
                                                    </mat-form-field>
                                                </td>
                                                <td class="td2">
                                                    <mat-form-field *ngIf="itemsSum.volu_weight">
                                                        <mat-label class="label-house">{{ 'HOUSE.ITEMS.TOTAL_VOLUME_WEIGHT' | translate }}</mat-label>
                                                        <input matInput disabled placeholder="" value="{{ itemsSum.volu_weight }}">
                                                    </mat-form-field>
                                                    <mat-form-field *ngIf="!itemsSum.volu_weight">
                                                        <mat-label class="label-house">{{ 'HOUSE.ITEMS.TOTAL_VOLUME_WEIGHT' | translate }}</mat-label>
                                                        <input matInput disabled placeholder="" value="0.00">
                                                    </mat-form-field>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </mat-card>
                            </td>
                        </tr>
                        <!-- ITEM - DETAIL -->
                        <tr class="tr">
                            <td class="td">
                                <span class="mat-title">{{ 'HOUSE.ITEMS.ITEMS_DETAIL' | translate }}</span>
                            </td>
                        </tr>
                        <tr class="tr" *ngFor="let item of data.items">
                            <td class="td2">
                                <mat-card style="margin-top:10px" *ngIf="data.items">
                                    <table>
                                        <tbody>
                                            <tr class="tr-field">
                                                <td class="td2">
                                                    <mat-form-field *ngIf="item.quantity">
                                                        <mat-label class="label-house">{{ 'HOUSE.ITEMS.QUANTITY' | translate }}</mat-label>
                                                        <input matInput disabled placeholder="" value="{{ item.quantity }}">
                                                    </mat-form-field>
                                                    <mat-form-field *ngIf="!item.quantity">
                                                        <mat-label class="label-house">{{ 'HOUSE.ITEMS.QUANTITY' | translate }}</mat-label>
                                                        <input matInput disabled placeholder="" value="0">
                                                    </mat-form-field>
                                                    <mat-form-field class="margin-adjustment" *ngIf="item.modal">
                                                        <mat-label class="label-house">{{ 'HOUSE.ITEMS.MODAL' | translate }}</mat-label>
                                                        <input matInput disabled placeholder="" value="{{ item.modal.description }}">
                                                    </mat-form-field>
                                                    <mat-form-field class="margin-adjustment" *ngIf="!item.modal">
                                                        <mat-label class="label-house">{{ 'HOUSE.ITEMS.MODAL' | translate }}</mat-label>
                                                        <input matInput disabled placeholder="" value="SEM DESCRIÇÃO">
                                                    </mat-form-field>
                                                </td>
                                                <td class="td2">
                                                    <mat-form-field *ngIf="item.description">
                                                        <mat-label class="label-house">{{ 'HOUSE.ITEMS.DESCRIPTION' | translate }}</mat-label>
                                                        <input matInput disabled placeholder="" value="{{ item.description }}">
                                                    </mat-form-field>
                                                    <mat-form-field *ngIf="!item.description">
                                                        <mat-label class="label-house">{{ 'HOUSE.ITEMS.DESCRIPTION' | translate }}</mat-label>
                                                        <input matInput disabled placeholder="" value="SEM DESCRIÇÃO">
                                                    </mat-form-field>
                                                    <mat-form-field class="margin-adjustment" *ngIf="item.currency">
                                                        <mat-label class="label-house">{{ 'HOUSE.ITEMS.CURRENCY' | translate }}</mat-label>
                                                        <input matInput disabled placeholder="" value="{{ item.currency.code }}">
                                                    </mat-form-field>
                                                    <mat-form-field class="margin-adjustment" *ngIf="!item.currency">
                                                        <mat-label class="label-house">{{ 'HOUSE.ITEMS.CURRENCY' | translate }}</mat-label>
                                                        <input matInput disabled placeholder="" value="USD">
                                                    </mat-form-field>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </mat-card>
                            </td>
                            <td class="td2">
                                <mat-card style="margin-top:10px" *ngIf="data.items">
                                    <table>
                                        <tbody>
                                            <tr class="tr-field">
                                                <td class="td2">
                                                    <mat-form-field *ngIf="item.volu_weight">
                                                        <mat-label class="label-house">{{ 'HOUSE.ITEMS.VOLUME_WEIGHT' | translate }}</mat-label>
                                                        <input matInput disabled placeholder="" value="{{ item.volu_weight }}">
                                                    </mat-form-field>
                                                    <mat-form-field *ngIf="!item.volu_weight">
                                                        <mat-label class="label-house">{{ 'HOUSE.ITEMS.VOLUME_WEIGHT' | translate }}</mat-label>
                                                        <input matInput disabled placeholder="" value="0.00">
                                                    </mat-form-field>
                                                    <mat-form-field *ngIf="item.weight">
                                                        <mat-label class="label-house">{{ 'HOUSE.ITEMS.WEIGHT' | translate }}</mat-label>
                                                        <input matInput disabled placeholder="" value="{{ item.weight }}">
                                                    </mat-form-field>
                                                    <mat-form-field *ngIf="!item.weight">
                                                        <mat-label class="label-house">{{ 'HOUSE.ITEMS.WEIGHT' | translate }}</mat-label>
                                                        <input matInput disabled placeholder="" value="0.00">
                                                    </mat-form-field>
                                                    <mat-form-field *ngIf="item.length">
                                                        <mat-label class="label-house">{{ 'HOUSE.ITEMS.LENGTH' | translate }}</mat-label>
                                                        <input matInput disabled placeholder="" value="{{ item.length }}">
                                                    </mat-form-field>
                                                    <mat-form-field *ngIf="!item.length">
                                                        <mat-label class="label-house">{{ 'HOUSE.ITEMS.LENGTH' | translate }}</mat-label>
                                                        <input matInput disabled placeholder="" value="0.00">
                                                    </mat-form-field>
                                                </td>
                                                <td class="td2">
                                                    <mat-form-field *ngIf="item.unitType">
                                                        <mat-label class="label-house">{{ 'HOUSE.ITEMS.UNIT_TYPE' | translate }}</mat-label>
                                                        <input matInput disabled placeholder="" value="{{ item.unitType.name }}">
                                                    </mat-form-field>
                                                    <mat-form-field *ngIf="!item.unitType">
                                                        <mat-label class="label-house">{{ 'HOUSE.ITEMS.UNIT_TYPE' | translate }}</mat-label>
                                                        <input matInput disabled placeholder="" value="QUILOGRAMA LIQUIDO">
                                                    </mat-form-field>
                                                    
                                                    <mat-form-field *ngIf="item.width">
                                                        <mat-label class="label-house">{{ 'HOUSE.ITEMS.WIDTH' | translate }}</mat-label>
                                                        <input matInput disabled placeholder="" value="{{ item.width }}">
                                                    </mat-form-field>
                                                    <mat-form-field *ngIf="!item.width ">
                                                        <mat-label class="label-house">{{ 'HOUSE.ITEMS.WIDTH' | translate }}</mat-label>
                                                        <input matInput disabled placeholder="" value="0.00">
                                                    </mat-form-field>

                                                    <mat-form-field *ngIf="item.height">
                                                        <mat-label class="label-house">{{ 'HOUSE.ITEMS.HEIGHT' | translate }}</mat-label>
                                                        <input matInput disabled placeholder="" value="{{ item.height }}">
                                                    </mat-form-field>
                                                    <mat-form-field *ngIf="!item.height">
                                                        <mat-label class="label-house">{{ 'HOUSE.ITEMS.HEIGHT' | translate }}</mat-label>
                                                        <input matInput disabled placeholder="" value="0.00">
                                                    </mat-form-field>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </mat-card>
                            </td>
                        </tr>
                        <tr class="tr">
                            <td class="td">
                                <span class="mat-title">{{ 'HOUSE.CONSOLIDATORS' | translate }}</span>
                            </td>
                        </tr>
                        <tr class="tr">
                            <td class="td2" *ngIf="data.bag">
                                <mat-card style="margin-top:10px">
                                    <table>
                                        <tbody>
                                            <tr class="tr-field">
                                                <td class="td2">
                                                    <mat-form-field *ngIf="data.bag">
                                                        <mat-label class="label-house">{{ 'HOUSE.CODE' | translate }}:
                                                        </mat-label>
                                                        <input matInput disabled placeholder="" value="{{ data.bag.code }}">
                                                    </mat-form-field>
                                                </td>
                                                <td class="td2">
                                                    <mat-form-field *ngIf="data.bag">
                                                        <mat-label class="label-house">{{ 'MASTER.LISTING.AIRPORT_ORIGIN' | translate }}:
                                                        </mat-label>
                                                        <input matInput disabled placeholder="" value="{{ data.bag.origin }}">
                                                    </mat-form-field>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </mat-card>
                            </td>
                            <td class="td2" *ngIf="data.bag">
                                <mat-card style="margin-top:10px">
                                    <table>
                                        <tbody>
                                            <tr class="tr-field">
                                                <td class="td2">
                                                    <mat-form-field *ngIf="data.bag">
                                                        <mat-label class="label-house">{{ 'MASTER.LISTING.AIRPORT_DESTINATION' | translate }}:
                                                        </mat-label>
                                                        <input matInput disabled placeholder="" value="{{ data.bag.destination }}">
                                                    </mat-form-field>
                                                </td>
                                                <td class="td2">
                                                    <mat-form-field *ngIf="data.bag">
                                                        <mat-label class="label-house">{{ 'MASTER.FLIGHT.DATE' | translate }}:
                                                        </mat-label>
                                                        <input matInput disabled placeholder="" value="{{ data.bag.date }}">
                                                    </mat-form-field>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </mat-card>
                            </td>
                            <td class="td" *ngIf="!data.bag">
                                <mat-card style="margin-top:10px">
                                    <p><strong>{{ 'HOUSE.NO_CONSOLIDATORS' | translate }}</strong></p>
                                </mat-card>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- / CONTENT CARD -->

        <!-- CHECKPOINT -->
        <ng-container *ngIf="!loading">
            <checkpoint [houseId]="data.id" [checkpoints]="data.checkpoints"></checkpoint>
        </ng-container>
        <!-- / CHECKPOINT -->

        <!-- NAVIGATION -->
        <!-- <div class="content-card mat-white-bg" *ngIf="!loading">
            <div class="toolbar" style="position: relative">
                <div style="float: right;position: absolute;right: 20px;">
                    <a mat-raised-button color="primary" style="margin-right: 10px;" href="javascript:history.go(-1)">{{
                        'HOUSE.BACK' | translate }}</a>
                    <a mat-raised-button color="warn" routerLink="/airwaybills/house/show/{{ data['ID'] }}">{{ 'HOUSE.EDIT' |
                        translate
                        }}</a>
                </div>
            </div>
        </div> -->
        <!-- / NAVIGATION -->
    </div>
    <!-- / CENTER -->
</div>