<div class="page-layout carded fullwidth">

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-red-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <default-header *ngIf="_update" title="{{ 'IMPORTER.EDIT' | translate }}"
        first="Importadores" firstUrl="importers" second="" secondUrl=""></default-header>
        <default-header *ngIf="!_update" title="{{ 'IMPORTER.CREATE' | translate }}"
        first="Importadores" firstUrl="importers" second="" secondUrl=""></default-header>

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg" style="border-radius: 8px 8px 0 0;">

            <div *ngIf="loadingImporter || loadingcountry || loadingCity" class="loading-shade">
                <mat-spinner></mat-spinner>
            </div>

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar px-24 py-8" *ngIf="data">
                <span>{{ 'IMPORTER.IMPORTER' | translate }} <em *ngIf="_update && !loading">#{{ data.id }} -
                        {{ data.name }}</em></span>
            </div>
            <div class="toolbar px-24 py-8" *ngIf="!data">
                <span>{{ 'IMPORTER.IMPORTER' | translate }}</span>
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <div class="content p-24">
                <!-- REACTIVE FORM -->
                <form [formGroup]="formGroupImporter" class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24"
                    fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form" (ngSubmit)="submit()">

                    <mat-form-field *ngIf="hidden != false" fxFlex="50" class="mx-8">
                        <input formControlName="id" required>
                    </mat-form-field>

                    <div class="h2 mb-24"> <strong> {{ 'IMPORTER.INFORMATIONS' | translate }} </strong> </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'IMPORTER.LISTING.NAME' | translate }}"
                                formControlName="importer_name" required>
                            <mat-error *ngIf="formGroupImporter.get('importer_name').hasError('required')">
                                O nome é obrigatório
                            </mat-error>
                        </mat-form-field>
                       

                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field fxFlex="50" class="mx-8" appearance="fill">
                            <mat-label>Selecione o tipo de documento</mat-label>
                            <mat-select [(value)]="type_of_documento">
                                <mat-option (click)="onClickKindOfDocumentCPF()" value="CPF">CPF</mat-option>
                                <mat-option (click)="onClickKindOfDocumentRG()" value="RG">
                                    RG</mat-option>
                                <mat-option (click)="onClickKindOfDocumentCPNJ()" value="CNPJ">
                                    CNPJ</mat-option>
                                <mat-option (click)="onClickKindOfDocumentPassaport()" value="Passaport">
                                    Passaport</mat-option>
                                <mat-option (click)="onClickKindOfDocumentTAXID()" value="TAX ID">
                                    TAX ID</mat-option>
                            </mat-select>

                        </mat-form-field>

                        <mat-form-field *ngIf="changeLayoutModelKindDocumentCPF != false" fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'IMPORTER.LISTING.DOCUMENT_CPF' | translate }}"
                                formControlName="importer_document" mask="000.000.000-00">
                            <mat-error *ngIf="formGroupImporter.get('importer_document').hasError('required')">
                                O cpf é obrigatório
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field *ngIf="changeLayoutModelKindDocumentRG != false" fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'IMPORTER.LISTING.DOCUMENT_RG' | translate }}"
                                formControlName="importer_document" maxlength="12" mask="00.000.000-0">
                            <mat-error *ngIf="formGroupImporter.get('importer_document').hasError('required')">
                                O rg é obrigatório
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field *ngIf="changeLayoutModelKindDocumentCNPJ != false" fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'IMPORTER.LISTING.DOCUMENT_CNPJ' | translate }}"
                                formControlName="importer_document" maxlength="19" mask="00.000.000/0000-00">
                            <mat-error *ngIf="formGroupImporter.get('importer_document').hasError('required')">
                                O cnpj é obrigatório
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field *ngIf="changeLayoutModelKindDocumentPassaport != false" fxFlex="50"
                            class="mx-8">
                            <input matInput placeholder="{{ 'IMPORTER.LISTING.DOCUMENT_PASSAPORT' | translate }}"
                                formControlName="importer_document" maxlength="30">
                            <mat-error *ngIf="formGroupImporter.get('importer_document').hasError('required')">
                                O passaporte é obrigatório
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field *ngIf="changeLayoutModelKindDocumentTAXID != false" fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'IMPORTER.LISTING.DOCUMENT_TAX_ID' | translate }}"
                                formControlName="importer_document" mask="00-0000000"
                                *ngIf="changeLayoutModelKindDocumentTAXID != false" maxlength="30">
                            <mat-error *ngIf="formGroupImporter.get('importer_document').hasError('required')">
                                O tax id é obrigatório
                            </mat-error>
                        </mat-form-field>

                    </div>

                    <!-- address -->
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">


                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'ADDRESS.ADDRESS' | translate }}"
                                formControlName="importer_address" required>
                            <mat-error *ngIf="formGroupImporter.get('importer_address').hasError('required')">
                                O endereço é obrigatório
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'ADDRESS.NUMBER' | translate }}"
                                formControlName="importer_number" required>
                            <mat-error *ngIf="formGroupImporter.get('importer_number').hasError('required')">
                                O número é obrigatório
                            </mat-error>
                        </mat-form-field>

                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'ADDRESS.ADDITIONAL_INFO' | translate }}"
                                formControlName="importer_additional_info">
                            <mat-error *ngIf="formGroupImporter.get('importer_additional_info').hasError('required')">
                                O complemento é obrigatório
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'ADDRESS.NEIGHBORHOOD' | translate }}"
                                formControlName="importer_neighborhood" required>
                            <mat-error *ngIf="formGroupImporter.get('importer_neighborhood').hasError('required')">
                                O bairro é obrigatório
                            </mat-error>
                        </mat-form-field>

                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'ADDRESS.ZIP_CODE' | translate }}" formControlName="importer_zip_code" mask="00000-000" required>
                            <mat-error *ngIf="formGroupImporter.get('importer_zip_code').hasError('required')">
                                O cep é obrigatório
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field fxFlex="50" class="mx-8">
                            <mat-label class="label-house">{{ 'ADDRESS.CITY' | translate }}:</mat-label>
                            <mat-select formControlName="importer_city" required>
                                <mat-option>
                                    <ngx-mat-select-search [placeholderLabel]="'Buscar'" [noEntriesFoundLabel]="'Cidade não encontrada'"
                                        formControlName="cityFilter">
                                    </ngx-mat-select-search>
                                </mat-option>
                                <ng-container *ngFor="let item of filteredCity | async">
                                    <mat-option [value]="item.id">
                                        {{ item.uf }} - <strong>{{ item.name }}</strong>
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                            <mat-error *ngIf="formGroupImporter.get('importer_city').hasError('required')">
                                A cidade é obrigatória
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'ADDRESS.STATE' | translate }}"
                                formControlName="importer_state" required>
                            <mat-error *ngIf="formGroupImporter.get('importer_state').hasError('required')">
                                O estado é obrigatório
                            </mat-error>
                        </mat-form-field>


                        <mat-form-field fxFlex="50" class="mx-8">
                            <mat-select fxFlex="100" placeholder="{{ 'ADDRESS.COUNTRY' | translate }}"
                                formControlName="importer_country_id" required>

                                <ng-container *ngFor="let country of countries">
                                    <mat-option [value]="country.id">
                                        {{ country.initials }} - <strong>{{ country.name }}</strong>
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>

                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'IMPORTER.LISTING.PHONE' | translate }}"
                                formControlName="importer_phone" required>
                            <mat-error *ngIf="formGroupImporter.get('importer_state').hasError('required')">
                                O telefone é obrigatório
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'IMPORTER.EMAIL' | translate }}"
                                formControlName="importer_email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
                            <mat-error *ngIf="formGroupImporter.get('importer_email').hasError('required')">
                                O email é obrigatório
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <!-- NAVIGATION -->
                    <div class="p-24" fxLayout="row" style="position: relative;">
                        <div style=" position: absolute;right: 20px;">
                            <a mat-raised-button color="primary" style="margin-right: 10px;"
                                href="javascript:history.go(-1)">{{ 'IMPORTER.BACK' | translate }}</a>
                            <button type="submit" [disabled]="!formGroupImporter.valid"  mat-raised-button color="warn">{{ 'IMPORTER.SAVE' | translate
                                }}</button>
                        </div>
                    </div>
                    <!-- / NAVIGATION -->
                </form>
            </div>
            <!-- / CONTENT -->
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>