<div class="page-layout carded fullwidth">

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-red-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <default-header title="{{ 'SERVICE.SHOW' | translate }}"
        first="Serviços" firstUrl="services" second="" secondUrl=""></default-header>

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg" style="border-radius: 8px 8px 0 0;" *ngIf="!loading">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar px-24 py-8">
                <span>{{ 'SERVICE.SERVICES' | translate }} #{{ data.id }}</span>
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <div class="content p-24">

                <div *ngIf="loading == true" class="loading-shade">
                    <mat-spinner></mat-spinner>
                </div>

                <mat-card>
                    <span class="mat-title"> <mat-icon class="secondary-text s-16">chevron_right</mat-icon> <strong> {{ 'SERVICE.REGISTRATION_INFORMATIONS' | translate }} </strong></span>
                    <p><strong>{{ 'SERVICE.LISTING.DESCRIPTION' | translate }}: </strong> {{ data.description }}</p>
                    <p><strong>{{ 'SERVICE.LISTING.SERVICE_LEVEL_AGREEMENT' | translate }}: </strong>
                        {{ data.service_level_agreement }}</p>
                    <p><strong>{{ 'SERVICE.LISTING.CHECKPOINT' | translate }}: </strong> {{ data.checkpoint }}</p>
                    <p><strong>{{ 'SERVICE.LISTING.CHARGE_TYPE' | translate }}: </strong> {{ data.charge_type }}</p>
                    <p><strong>{{ 'SERVICE.LISTING.APPROACH' | translate }}: </strong> {{ data.approach }}</p>
                </mat-card>
            </div>
            <!-- / CONTENT -->

            <!-- NAVIGATION -->
            <div class="toolbar" style="position: relative">

                <div style="float: right;position: absolute;right: 20px;">
                    <a mat-raised-button color="primary" style="margin-right: 10px;"
                        href="javascript:history.go(-1)">{{ 'SERVICE.BACK' | translate }}</a>
                    <a mat-raised-button color="warn"
                        href="javascript:history.go(-1)">{{ 'SERVICE.EDIT' | translate }}</a>
                </div>

            </div>
            <!-- / NAVIGATION -->

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>