<div class="page-layout carded fullwidth">

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-red-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <div *ngIf="loading != false" class="loading-shade">
            <mat-spinner></mat-spinner>
        </div>

        <default-header title="{{ 'AIRPORT.SHOW' | translate }}"
        first="Aeroportos" firstUrl="airports" second="" secondUrl=""></default-header>

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg" style="border-radius: 8px 8px 0 0;" *ngIf="!loading">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar px-24 py-8">
                <span>{{ 'AIRPORT.AIRPORT' | translate }} #{{ data.id }} - {{ data.code }}</span>
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <div class="content p-24">
                <mat-card>
                    <p><strong>{{ 'AIRPORT.LISTING.NAME' | translate }}: </strong> {{ data.name }}</p>
                    <p><strong>{{ 'AIRPORT.LISTING.CODE' | translate }}: </strong> {{ data.code }}</p>
                </mat-card>

            </div>
            <!-- / CONTENT -->

            <!-- NAVIGATION -->
            <div class="toolbar" style="position: relative">

                <div style="float: right;position: absolute;right: 20px;">
                    <a mat-raised-button color="primary" style="margin-right: 10px;" href="javascript:history.go(-1)">{{ 'AIRPORT.BACK' | translate }}</a>
                    <a mat-raised-button color="warn"
                        routerLink="/airports/edit/{{ data.id }}">{{ 'AIRPORT.EDIT' | translate }}</a>
                </div>

            </div>
            <!-- / NAVIGATION -->

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>