<div class="page-layout carded fullwidth">
  <div class="top-bg mat-red-bg"></div>
  <div class="loading-shade" *ngIf="loading || loadingAirport || loadingAirline || loadingFlights || loadingCompany || loadingContract">
    <mat-spinner *ngIf="loading || loadingAirport || loadingAirline || loadingFlights || loadingCompany || loadingContract"></mat-spinner>
  </div>
  <div class="center" *ngIf="!loading && !loadingAirport && !loadingAirline && !loadingFlights && !loadingCompany && !loadingContract">
    <default-header *ngIf="!data" title="{{ 'HOUSE.CREATE' | translate }}" first="Master" firstUrl="airwaybills/master" second=""
      secondUrl=""></default-header>
    <default-header *ngIf="data" title="{{ 'HOUSE.EDIT' | translate }}" first="Master" firstUrl="airwaybills/master"
      second="" secondUrl=""></default-header>
    
    <div class="content-card mat-white-bg" style="border-radius: 8px 8px 0 0;" *ngIf="!loading">
      <div class="toolbar px-24 py-8 position-adjustment">
        <span *ngIf="data">{{ 'MASTER.MASTER' | translate }} #{{ data.id }}</span>
        <span *ngIf="!data">{{ 'MASTER.MASTER' | translate }}</span>
        <div style="float: right;position: absolute;right: 20px;">
          <a mat-raised-button color="primary" style="margin-right: 10px;" href="javascript:history.go(-1)">{{
            'HOUSE.BACK' | translate }}</a>
          <a mat-raised-button color="button-printhawb" style="margin-right: 10px;"
            routerLink="/airwaybills/master/show/{{ data.id }}" *ngIf="data">{{
            'HOUSE.SHOW' |
            translate
            }}</a>
          
          <button type="submit" [disabled]="verifyFields()" (click)="submit()" mat-raised-button color="warn">{{ 'HOUSE.SAVE' |
            translate
            }}</button>
        </div>
      </div>

      <form [formGroup]="formGroup" name="form" (ngSubmit)="submit()">
        <div class="content p-24">
          <table>
            <tbody>
              <tr class="tr">
                <td class="td">
                  <mat-card>
                    <mat-form-field class="width-adjustment-full">
                      <mat-label class="label-house">{{ 'HOUSE.LISTING.COMPANY_BRANCH' |
                        translate }}:
                      </mat-label>
                      <mat-select formControlName="company_branch" required>
                        <mat-option [value]="1">PHX - Sâo Paulo</mat-option>
                        <mat-option [value]="2">PHX - Recife</mat-option>
                      </mat-select>
                      <mat-error *ngIf="!formGroup.get('company_branch').valid">
                        {{ 'HOUSE.LISTING.COMPANY_BRANCH' | translate }} {{ 'ERRORS.MANDATORY' |translate }}
                      </mat-error>
                    </mat-form-field>
                  </mat-card>
                </td>
                <td class="td">
                  <mat-card>
                    <mat-form-field class="width-adjustment-full">
                      <mat-label class="label-house">{{ 'HOUSE.LISTING.CONTRACT' | translate }}</mat-label>
                      <mat-select formControlName="contract">
                        <mat-option>
                          <ngx-mat-select-search [placeholderLabel]="'Buscar'" [noEntriesFoundLabel]="'Empresa não encontrada'"
                            formControlName="contractLastFilter">
                          </ngx-mat-select-search>
                        </mat-option>
                        <ng-container *ngFor="let item of filteredContract | async">
                          <mat-option [value]="item.ID">
                            {{ item['Empresa'] }}
                          </mat-option>
                        </ng-container>
                      </mat-select>
                      <mat-error *ngIf="!formGroup.get('contract').valid">
                        {{ 'HOUSE.LISTING.' | translate }} {{ 'ERRORS.MANDATORY' |translate }}
                      </mat-error>
                    </mat-form-field>
                  </mat-card>
                </td>
              </tr>
              <tr class="tr">
                <td class="td">
                  <mat-card>
                    <mat-form-field class="width-adjustment-full">
                      <mat-label class="label-house">{{ 'HOUSE.COMPANY' | translate }}</mat-label>
                      <mat-select formControlName="company">
                        <mat-option>
                          <ngx-mat-select-search [placeholderLabel]="'Buscar'"
                            [noEntriesFoundLabel]="'Empresa não encontrada'" formControlName="companyLastFilter">
                          </ngx-mat-select-search>
                        </mat-option>
                        <ng-container *ngFor="let item of filteredCompany | async">
                          <mat-option [value]="item.ID">
                            {{ item['Código'] }} - <strong>{{ item['Nome da Empresa'] }}</strong>
                          </mat-option>
                        </ng-container>
                      </mat-select>
                      <mat-error *ngIf="!formGroup.get('company').valid">
                        {{ 'HOUSE.COMPANY' | translate }} {{ 'ERRORS.MANDATORY' |translate }}
                      </mat-error>
                    </mat-form-field>
                  </mat-card>
                </td>
                <td class="td">
                  <mat-card>
                      <mat-form-field class="width-adjustment-full">
                        <mat-label class="label-house">{{ 'MASTER.LISTING.DESCRIPTION' |
                          translate }}:
                        </mat-label>
                        <input matInput formControlName="description" placeholder="" required>
                        <mat-error *ngIf="!formGroup.get('description').valid">
                          {{ 'MASTER.LISTING.DESCRIPTION' | translate }} {{ 'ERRORS.MANDATORY' |translate }}
                        </mat-error>
                      </mat-form-field>
                  </mat-card>
                </td>
                <td class="td">
                  <mat-card>
                    <mat-form-field class="width-adjustment-full">
                      <mat-label class="label-house">{{ 'MASTER.LISTING.NUMBER' |
                        translate }}:
                      </mat-label>
                      <input matInput formControlName="number" placeholder="" required>
                      <mat-error *ngIf="!formGroup.get('number').valid">
                        {{ 'MASTER.LISTING.NUMBER' | translate }} {{ 'ERRORS.MANDATORY' |translate }}
                      </mat-error>
                    </mat-form-field>
                  </mat-card>
                </td>
                <td class="td">
                  <mat-card>
                    <mat-form-field class="width-adjustment-full">
                      <mat-label class="label-house">{{ 'MASTER.FLIGHT.AIRLINE' | translate }}</mat-label>
                      <mat-select formControlName="airline">
                        <mat-option>
                          <ngx-mat-select-search [placeholderLabel]="'Buscar'" [noEntriesFoundLabel]="'Companhia aerea não encontrada'"
                            formControlName="airlineLastFilter">
                          </ngx-mat-select-search>
                        </mat-option>
                        <ng-container *ngFor="let item of filteredAirline | async">
                          <mat-option [value]="item.ID"><strong>{{ item['Companhia Aérea'] }}</strong>
                          </mat-option>
                        </ng-container>
                      </mat-select>
                      <mat-error *ngIf="!formGroup.get('airline').valid">
                        {{ 'HOUSE.COMPANY' | translate }} {{ 'ERRORS.MANDATORY' |translate }}
                      </mat-error>
                    </mat-form-field>
                  </mat-card>
                </td>
              </tr>
              <tr class="tr">
                <td class="td">
                  <span class="mat-title">{{ 'MASTER.FLIGHT.FLIGHT' | translate }}</span>
                </td>
              </tr>
              <tr class="tr">
                <td class="td">
                  <mat-card>
                    <mat-form-field class="width-adjustment-full">
                      <mat-label class="label-house">{{ 'MASTER.FLIGHT.NUMBER' | translate }}:
                      </mat-label>
                      <input matInput formControlName="flight_number" placeholder="" required>
                      <mat-error *ngIf="!formGroup.get('flight_number').valid">
                        {{ 'MASTER.FLIGHT.NUMBER' | translate }} {{ 'ERRORS.MANDATORY' |translate }}
                      </mat-error>
                    </mat-form-field>
                  </mat-card>
                </td>
                <td class="td">
                  <mat-card>
                    <mat-form-field class="width-adjustment-full">
                      <mat-label class="label-house">{{ 'MASTER.FLIGHT.NUMBER_ALTERNATIVE' | translate }}:
                      </mat-label>
                      <input matInput formControlName="flight_alternative_number" placeholder="" required>
                      <mat-error *ngIf="!formGroup.get('flight_alternative_number').valid">
                        {{ 'MASTER.FLIGHT.NUMBER_ALTERNATIVE' | translate }} {{ 'ERRORS.MANDATORY' |translate }}
                      </mat-error>
                    </mat-form-field>
                  </mat-card>
                </td>
                <td class="td">
                  <mat-card>
                    <mat-form-field class="width-adjustment-full">
                      <mat-label class="label-house">{{
                        'MASTER.FLIGHT.ORIGIN' | translate }}:
                      </mat-label>
                      <mat-select formControlName="origin_airport" required>
                        <mat-option>
                          <ngx-mat-select-search [placeholderLabel]="'Buscar'" [noEntriesFoundLabel]="'Aeroporto não encontrado'"
                            formControlName="airportOriginLastFilter">
                          </ngx-mat-select-search>
                        </mat-option>
                        <ng-container *ngFor="let item of filteredOriginAirport | async">
                          <mat-option [value]="item.ID">
                            <strong>{{ item['Sigla do Aeroporto'] }}</strong> - {{ item['Nome do Aeroporto'] }}
                          </mat-option>
                        </ng-container>
                      </mat-select>
                      <mat-error *ngIf="!formGroup.get('origin_airport').valid">
                        {{ 'MASTER.FLIGHT.ORIGIN' | translate }} {{ 'ERRORS.MANDATORY' |translate }}
                      </mat-error>
                    </mat-form-field>
                  </mat-card>
                </td>
                <td class="td">
                  <mat-card>
                    <mat-form-field class="width-adjustment-full">
                      <mat-label class="label-house">{{
                        'MASTER.FLIGHT.DESTINATION' | translate }}:
                      </mat-label>
                      <mat-select formControlName="destination_airport" required>
                        <mat-option>
                          <ngx-mat-select-search [placeholderLabel]="'Buscar'" [noEntriesFoundLabel]="'Aeroporto não encontrado'"
                            formControlName="airportDestinationLastFilter">
                          </ngx-mat-select-search>
                        </mat-option>
                        <ng-container *ngFor="let item of filteredDestinationAirport | async">
                          <mat-option [value]="item.ID">
                            <strong>{{ item['Sigla do Aeroporto'] }}</strong> - {{ item['Nome do Aeroporto'] }}
                          </mat-option>
                        </ng-container>
                      </mat-select>
                      <mat-error *ngIf="!formGroup.get('destination_airport').valid">
                        {{ 'MASTER.FLIGHT.DESTINATION' | translate }} {{ 'ERRORS.MANDATORY' |translate }}
                      </mat-error>
                    </mat-form-field>
                  </mat-card>
                </td>
              </tr>
              <tr class="tr">
                <td class="td">
                  <span class="mat-title">{{ 'HOUSE.CONSOLIDATORS' | translate }}</span>
                </td>
              </tr>
              <tr class="tr">
                <td class="td">
                  <mat-card>
                    <mat-form-field class="width-adjustment-full">
                      <mat-label class="label-house">{{ 'HOUSE.CODE' | translate }}:
                      </mat-label>
                      <input matInput formControlName="bag_code" placeholder="">
                      <mat-error *ngIf="!formGroup.get('bag_code').valid">
                        {{ 'HOUSE.CODE' | translate }} {{ 'ERRORS.MANDATORY' |translate }}
                      </mat-error>
                    </mat-form-field>
                  </mat-card>
                </td>
                <td class="td">
                  <mat-card>
                    <mat-form-field class="width-adjustment-full">
                      <mat-label class="label-house">{{
                        'MASTER.LISTING.AIRPORT_ORIGIN' | translate }}:
                      </mat-label>
                      <mat-select formControlName="bag_origin" required>
                        <mat-option>
                          <ngx-mat-select-search [placeholderLabel]="'Buscar'" [noEntriesFoundLabel]="'Aeroporto não encontrado'"
                            formControlName="bagOriginLastFilter">
                          </ngx-mat-select-search>
                        </mat-option>
                        <ng-container *ngFor="let item of filteredOriginBag | async">
                          <mat-option [value]="item['Sigla do Aeroporto']">
                            <strong>{{ item['Sigla do Aeroporto'] }}</strong> - {{ item['Nome do Aeroporto'] }}
                          </mat-option>
                        </ng-container>
                      </mat-select>
                      <mat-error *ngIf="!formGroup.get('bag_origin').valid">
                        {{ 'MASTER.LISTING.AIRPORT_ORIGIN' | translate }} {{ 'ERRORS.MANDATORY' |translate }}
                      </mat-error>
                    </mat-form-field>
                  </mat-card>
                </td>
                <td class="td">
                  <mat-card>
                    <mat-form-field class="width-adjustment-full">
                      <mat-label class="label-house">{{
                        'MASTER.LISTING.AIRPORT_DESTINATION' | translate }}:
                      </mat-label>
                      <mat-select formControlName="bag_destination" required>
                        <mat-option>
                          <ngx-mat-select-search [placeholderLabel]="'Buscar'" [noEntriesFoundLabel]="'Aeroporto não encontrado'"
                            formControlName="bagDestinationLastFilter">
                          </ngx-mat-select-search>
                        </mat-option>
                        <ng-container *ngFor="let item of filteredDestinationBag | async">
                          <mat-option [value]="item['Sigla do Aeroporto']">
                            <strong>{{ item['Sigla do Aeroporto'] }}</strong> - {{ item['Nome do Aeroporto'] }}
                          </mat-option>
                        </ng-container>
                      </mat-select>
                      <mat-error *ngIf="!formGroup.get('bag_destination').valid">
                        {{ 'MASTER.LISTING.AIRPORT_DESTINATION' | translate }} {{ 'ERRORS.MANDATORY' |translate }}
                      </mat-error>
                    </mat-form-field>
                  </mat-card>
                </td>
                <td class="td">
                  <mat-card>
                    <mat-form-field class="width-adjustment-full">
                      <mat-label class="label-house">{{ 'MASTER.FLIGHT.DATE' | translate }}:
                      </mat-label>
                      <input matInput [owlDateTime]="bagdate" [owlDateTimeTrigger]="bagdate" autocomplete="off" formControlName="bag_date"
                        placeholder="" required>
                      <mat-error *ngIf="!formGroup.get('bag_date').valid">
                        {{ 'MASTER.FLIGHT.DATE' | translate }} {{ 'ERRORS.MANDATORY' |translate }}
                      </mat-error>
                      <owl-date-time #bagdate></owl-date-time>
                    </mat-form-field>
                  </mat-card>
              </tr>
            </tbody>
          </table>
        </div>
      </form>
    </div>
  </div>
</div>