<div id="reset-password" fxLayout="column">

    <div id="reset-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="reset-password-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <img src="assets/images/logos/phx.svg">
            </div>

            <div class="title">Alterar senha</div>


            <strong *ngIf="data"> {{ data.name }} </strong>

            <br>
            <form name="resetPasswordForm" [formGroup]="resetPasswordForm" novalidate
                (ngSubmit)="requestRecoveryLink()">

                <mat-form-field *ngIf="data">
                    <input matInput placeholder="Email" value="{{data.email}}" [readonly]="true"
                        formControlName="email">
                </mat-form-field>


                <mat-form-field>
                    <input matInput [type]="hide ? 'password' : 'text'" placeholder="Criar uma senha" formControlName="password">
                    <mat-error *ngIf="resetPasswordForm.get('password').hasError('required')">
                        Senha é obrigatória
                    </mat-error>
                    <mat-error
                        *ngIf="!resetPasswordForm.get('password').hasError('passwordsNotMatchingLenght') && !resetPasswordForm.get('password').hasError('required')">
                        A senha deve conter pelo menos 8 caracteres
                    </mat-error>
                    <mat-button-toggle mat-icon-button [disabled] matSuffix (click)="hide = !hide"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </mat-button-toggle>
                </mat-form-field>


                <mat-form-field>
                    <input matInput [type]="hide ? 'password' : 'text'" placeholder="Confirmar" formControlName="passwordConfirm">
                    <mat-error *ngIf="resetPasswordForm.get('passwordConfirm').hasError('required')">
                        Confirmação de senha é obrigatório
                    </mat-error>
                    <mat-error *ngIf="!resetPasswordForm.get('passwordConfirm').hasError('required') &&
                                       resetPasswordForm.get('passwordConfirm').hasError('passwordsNotMatching')">
                        As senhas precisam ser idênticas
                    </mat-error>
                    <mat-error *ngIf="!resetPasswordForm.get('passwordConfirm').hasError('required') &&
                    resetPasswordForm.get('passwordConfirm').hasError('passwordsNotMatchingMaxLenght')">
                        A senha deve conter menos de 50 caracteres
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button class="submit-button" [disabled]="!resetPasswordForm.valid" color="accent"
                    aria-label="RESET MY PASSWORD" type="submit">
                    Salvar senha
                </button>
            </form>

            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <a class="link" href="javascript:history.go(-1)">Voltar </a>
            </div>

        </div>

    </div>

</div>