<div class="page-layout blank p-24" fusePerfectScrollbar>

    <default-header title="Retornos do banco" [endpoint]="endpoint"
    first="Retornos do banco" firstUrl="bank-files" second="" secondUrl=""></default-header>

    <default-table [service]="fileService" 
        [filterColumns]="filterColumns" 
        [advancedFilter]="true"
        [displayedColumns]="displayedColumns" 
        [endpoint]="endpoint">
    </default-table>

</div>