<div class="page-layout carded fullwidth">

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-red-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <default-header title="{{ 'ROLE.SHOW' | translate }}"
        first="Hierarquias" firstUrl="roles" second="" secondUrl=""></default-header>

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg" style="border-radius: 8px 8px 0 0;" *ngIf="!loading">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar px-24 py-8">
                <span>{{ 'ROLE.ROLE' | translate }} #{{ data.id }} - {{ data.display_name }}</span>
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <div class="content p-24">
                <mat-card>
                    <p><strong>{{ 'ROLE.LISTING.ID' | translate }}: </strong> {{ data.id }}</p>
                    <p><strong>{{ 'ROLE.LISTING.NAME' | translate }}: </strong> {{ data.display_name }}</p>
                    <p><strong>{{ 'ROLE.LISTING.ADMIN' | translate }}: </strong>
                        <span *ngIf="data.admin">{{ 'ROLE.LISTING.YES' | translate }}</span>
                        <span *ngIf="!data.admin">{{ 'ROLE.LISTING.NO' | translate }}</span>
                    </p>
                </mat-card>

            </div>
            <!-- / CONTENT -->

            <!-- CONTENT -->
            <div class="content p-24">
                <div class="h2 mb-24">{{ 'ROLE.LISTING.PERMISSIONS.PERMISSIONS' | translate }}</div>

                <mat-card>
                    <mat-grid-list cols="3" rowHeight="2:1">
                        <p *ngIf="data.permissions.length == 0 && !data.admin">
                            {{ 'ROLE.LISTING.PERMISSIONS.ROLE_NOT_HAVE_PERMISSIONS' | translate }}
                        </p>
                        <p *ngIf="data.admin">
                            {{ 'ROLE.LISTING.PERMISSIONS.ADMINISTRATOR_RULES' | translate }}
                        </p>
                        <mat-grid-tile *ngFor="let permission of data.permissions; let i = index" [colspan]="1"
                            [rowspan]="1">
                            <div class="fuse-card">

                                <div class="p-16">
                                    <div class="h1">{{ permission.display_name }}</div>
                                    <div class="h4 secondary-text">{{ permission.name }}</div>
                                </div>

                                <div class="p-16 pt-0 line-height-1.75">
                                    {{ permission.description }}
                                </div>

                            </div>
                        </mat-grid-tile>
                    </mat-grid-list>
                </mat-card>

            </div>
            <!-- / CONTENT -->

            <!-- NAVIGATION -->
            <div class="toolbar" style="position: relative">

                <div style="float: right;position: absolute;right: 20px;">
                    <a mat-raised-button color="primary" style="margin-right: 10px;" href="javascript:history.go(-1)">{{ 'ROLE.BACK' | translate }}</a>
                    <a mat-raised-button color="warn"
                        routerLink="/roles/edit/{{ data.id }}">{{ 'ROLE.EDIT' | translate }}</a>
                </div>

            </div>
            <!-- / NAVIGATION -->

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>