<div class="page-layout blank p-24" fusePerfectScrollbar>

    <default-header title="{{'USER.USERS' | translate}}" [endpoint]="endpoint"
    first="Utilizadores" firstUrl="users" second="" secondUrl=""></default-header>

    <default-table [dataSource]="dataSource" [displayedColumns]="displayedColumns"
    [endpoint]="endpoint" [pagination]="false" [service]="userService"></default-table>

</div>