<div class="page-layout carded fullwidth">

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-red-bg"></div>
    <!-- / TOP BACKGROUND -->

    <div class="loading-shade" *ngIf="loading || loadingCompany || loadingContract || loadingTax">
        <mat-spinner *ngIf="loading || loadingCompany || loadingContract || loadingTax"></mat-spinner>
    </div>

    <!-- CENTER -->
    <div class="center" *ngIf="!loading && !loadingCompany && !loadingContract && !loadingTax">
        <default-header *ngIf="_update && data" title="{{ 'ZIPCODE_RANGES.SHOW' | translate }}"
        first="Tarifários" firstUrl="zipcode-ranges" second="" secondUrl=""></default-header>
        <default-header *ngIf="!_update" title="{{ 'ZIPCODE_RANGES.CREATE' | translate }}"
        first="Tarifários" firstUrl="zipcode-ranges" second="" secondUrl=""></default-header>

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg" style="border-radius: 8px 8px 0 0;" *ngIf="!loading">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar px-24 py-8 position-adjustment">
                <span>{{ 'ZIPCODE_RANGES.ZIPCODE_RANGES' | translate }} <em *ngIf="_update">#{{ data.id }}
                    </em></span>

                <div style="float: right;position: absolute;right: 20px;">
                    <a mat-raised-button color="primary" style="margin-right: 10px;" href="javascript:history.go(-1)">{{
                        'ZIPCODE_RANGES.BACK' | translate }}</a>
                    <a mat-raised-button color="button-printhawb" style="margin-right: 10px;"
                        routerLink="/zipcode-ranges/edit/{{ data.id }}">{{
                        'ZIPCODE_RANGES.EDIT' |
                        translate
                        }}</a>
                </div>
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <form [formGroup]="formGroupZipCodeRange" name="form" (ngSubmit)="submit()">
                <div class="content p-24">
                    <table>
                        <tbody>
                            <tr class="tr">
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field>
                                            <mat-label class="label-house">{{ 'ZIPCODE_RANGES.NAME' | translate }}
                                            </mat-label>
                                            <input matInput formControlName="name" placeholder="">
                                            <mat-error *ngIf="!formGroupZipCodeRange.get('name').valid">
                                                {{ 'ZIPCODE_RANGES.ERRORS.MANDATORY' |translate }}
                                            </mat-error>
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field class="width-adjustment">
                                            <mat-label class="label-house">{{ 'ZIPCODE_RANGES.COMPANY' | translate }}
                                            </mat-label>
                                            <mat-select formControlName="companies_id">
                                                <mat-option>
                                                    <ngx-mat-select-search [placeholderLabel]="'Buscar'"
                                                        [noEntriesFoundLabel]="'Empresa não encontrada'"
                                                        formControlName="companyLastFilter">
                                                    </ngx-mat-select-search>
                                                </mat-option>
                                                <ng-container *ngFor="let item of filteredCompany | async">
                                                    <mat-option [value]="item.ID">
                                                        {{ item['Código'] }} - <strong>{{ item['Nome da Empresa']
                                                            }}</strong>
                                                    </mat-option>
                                                </ng-container>
                                            </mat-select>
                                            <mat-error *ngIf="!formGroupZipCodeRange.get('companies_id').valid">
                                                {{ 'ZIPCODE_RANGES.ERRORS.MANDATORY' |translate }}
                                            </mat-error>
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field class="width-adjustment">
                                            <mat-label class="label-house">{{ 'ZIPCODE_RANGES.CONTRACT' | translate
                                                }}
                                            </mat-label>
                                            <mat-select formControlName="contract_id">
                                                <mat-option>
                                                    <ngx-mat-select-search [placeholderLabel]="'Buscar'"
                                                        [noEntriesFoundLabel]="'Empresa não encontrada'"
                                                        formControlName="contractLastFilter">
                                                    </ngx-mat-select-search>
                                                </mat-option>
                                                <ng-container *ngFor="let item of filteredContract | async">
                                                    <mat-option [value]="item.ID">
                                                        <strong>{{ item['Empresa'] }}</strong> - {{ item['Último
                                                        Checkpoint'] }}
                                                    </mat-option>
                                                </ng-container>
                                            </mat-select>
                                            <mat-error *ngIf="!formGroupZipCodeRange.get('contract_id').valid">
                                                {{ 'ZIPCODE_RANGES.ERRORS.MANDATORY' |translate }}
                                            </mat-error>
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                            </tr>
                            <tr class="tr">
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field class="width-adjustment">
                                            <mat-label class="label-house">{{ 'ZIPCODE_RANGES.TAX_CLASS' | translate
                                                }}
                                            </mat-label>
                                            <mat-select formControlName="tax_class_id">
                                                <mat-option>
                                                    <ngx-mat-select-search [placeholderLabel]="'Buscar'"
                                                        [noEntriesFoundLabel]="'Empresa não encontrada'"
                                                        formControlName="taxClassLastFilter">
                                                    </ngx-mat-select-search>
                                                </mat-option>
                                                <ng-container *ngFor="let item of filteredTaxClasses | async">
                                                    <mat-option [value]="item.id">
                                                        <strong>{{ item.code }}</strong> - {{ item.description }}
                                                    </mat-option>
                                                </ng-container>
                                            </mat-select>
                                            <mat-error *ngIf="!formGroupZipCodeRange.get('tax_class_id').valid">
                                                {{ 'ZIPCODE_RANGES.ERRORS.MANDATORY' |translate }}
                                            </mat-error>
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field>
                                            <mat-label class="label-house">{{ 'ZIPCODE_RANGES.LISTING.DATE_TO' |
                                                translate }}
                                            </mat-label>
                                            <input matInput [owlDateTime]="datetoShow" [owlDateTimeTrigger]="datetoShow"
                                                autocomplete="off" formControlName="date_to" placeholder="">
                                            <owl-date-time #datetoShow></owl-date-time>
                                            <mat-error *ngIf="!formGroupZipCodeRange.get('date_to').valid">
                                                {{ 'ZIPCODE_RANGES.ERRORS.MANDATORY' |translate }}
                                            </mat-error>
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field>
                                            <mat-label class="label-house">{{ 'ZIPCODE_RANGES.LISTING.DATE_FROM' |
                                                translate }}
                                            </mat-label>
                                            <input matInput [owlDateTime]="datefromShow" [owlDateTimeTrigger]="datefromShow"
                                                autocomplete="off" formControlName="date_from" placeholder="">
                                            <owl-date-time #datefromShow></owl-date-time>
                                            <mat-error *ngIf="!formGroupZipCodeRange.get('date_from').valid">
                                                {{ 'ZIPCODE_RANGES.ERRORS.MANDATORY' |translate }}
                                            </mat-error>
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field class="width-adjustment">
                                            <mat-label class="label-house">{{ 'ZIPCODE_RANGES.ACTIVE' | translate }}
                                            </mat-label>
                                            <mat-select formControlName="active">
                                                <mat-option [value]="1">{{ 'ZIPCODE_RANGES.YES' | translate }}
                                                </mat-option>
                                                <mat-option [value]="0">{{ 'ZIPCODE_RANGES.NO' | translate }}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="!formGroupZipCodeRange.get('active').valid">
                                                {{ 'ZIPCODE_RANGES.ERRORS.MANDATORY' |translate }}
                                            </mat-error>
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
            <!-- / CONTENT -->
            <div class="content p-24">
                <mat-card *ngIf="zipCodeRangeItems">
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span class="mat-title"> <strong> {{ 'ZIPCODE_RANGES.ITEMS' | translate }} </strong> </span>
                    <default-table #items [source]="data.items" [disableControls]=true [displayFilter]="false"
                        [endpoint]="'/items'" [columns]="['Item', 'Tipo de Serviço', 'UFs', 'From Weight', 'To Weight', 'Taxa', 'Taxa Adicional', 'Tipo de Zona', 'Modal', 'Descrição', 'CEP DE', 'CEP PARA']">
                    </default-table>
                </mat-card>
                <mat-card *ngIf="!zipCodeRangeItems">
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span class="mat-title"> <strong> {{ 'ZIPCODE_RANGES.SERVICES' | translate }} </strong> </span>
                    <mat-label class="label-house">{{ 'ZIPCODE_RANGES.NO_SERVICES' | translate }}&nbsp;*</mat-label>
                </mat-card>
            </div>
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>