<div class="page-layout carded fullwidth">

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-red-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <default-header *ngIf="_update" title="{{ 'CURRENCY.EDIT' | translate }}"
        first="Moedas" firstUrl="currencies" second="" secondUrl=""></default-header>
        <default-header *ngIf="!_update" title="{{ 'CURRENCY.CREATE' | translate }}"
        first="Moedas" firstUrl="currencies" second="" secondUrl=""></default-header>

          

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg" style="border-radius: 8px 8px 0 0;">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar px-24 py-8" *ngIf="data">
                <span>{{ 'CURRENCY.CURRENCY' | translate }} <em *ngIf="_update && !loading"> # {{ data.id }} -
                        {{ data.name }}</em></span>
            </div>
            <div class="toolbar px-24 py-8" *ngIf="!data">
                <span>{{ 'CURRENCY.CURRENCY' | translate }}</span>
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <div class="content p-24">

                <div *ngIf="data === undefined && _update" class="loading-shade">
                    <mat-spinner></mat-spinner>
                </div> 

                <!-- REACTIVE FORM -->
                <form [formGroup]="currencyFormGroup" class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24"
                    fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form" (ngSubmit)="submit()">

                    <div class="h2 mb-24"><strong>{{ 'CURRENCY.REGISTRATION_INFORMATIONS' | translate }}</strong></div>

                    <mat-form-field *ngIf="hidden != false" fxFlex="50" class="mx-8">
                        <input formControlName="id" required>
                    </mat-form-field>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'CURRENCY.LISTING.NAME' | translate }}"
                                formControlName="name" required>
                        </mat-form-field>
                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'CURRENCY.LISTING.CODE' | translate }}"
                                formControlName="code" required>
                        </mat-form-field>

                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'CURRENCY.LISTING.SYMBOL' | translate }}"
                                formControlName="symbol" required>
                        </mat-form-field>

                    </div>

                    <!-- NAVIGATION -->
                    <div class="p-24" fxLayout="row" style="position: relative;">

                        <div style=" position: absolute;right: 20px;">
                            <a mat-raised-button color="primary" style="margin-right: 10px;"
                                href="javascript:history.go(-1)">{{
                                'CURRENCY.BACK' | translate }}</a>
                            <button type="submit" [disabled]="!currencyFormGroup.valid" mat-raised-button color="warn">{{ 'CURRENCY.SAVE' | translate
                                }}</button>
                        </div>

                    </div>
                </form>

            </div>
            <!-- / CONTENT -->