<div class="page-layout blank p-24" fusePerfectScrollbar>

    <default-header title="{{'ROLE.ROLES' | translate}}" [endpoint]="endpoint"
    first="Hierarquias" firstUrl="roles" second="" secondUrl=""></default-header>

    <default-table [displayedColumns]="displayedColumns"
    [endpoint]="endpoint" [pagination]="false" [service]="roleService"></default-table>

</div>