<div class="page-layout carded fullwidth">

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-red-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <default-header title="{{ 'ICMS.SHOW' | translate }}"
        first="Icms" firstUrl="icms" second="" secondUrl=""></default-header>

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg" style="border-radius: 8px 8px 0 0;" *ngIf="!loading">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar px-24 py-8">
                <span>{{ 'ICMS.ICMS' | translate }} #{{ data.id }} - {{ data.state }}</span>
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <div class="content p-24">
                <mat-card>
                    <p><strong>{{ 'ICMS.LISTING.ID' | translate }}: </strong> {{ data.id }}</p>
                    <p><strong>{{ 'ICMS.LISTING.STATE' | translate }}: </strong> {{ data.state }}</p>
                    <p><strong>{{ 'ICMS.LISTING.ALIQUOT' | translate }}: </strong> {{ data.aliquot }}%</p>
                </mat-card>

            </div>
            <!-- / CONTENT -->

            <!-- NAVIGATION -->
            <div class="toolbar" style="position: relative">

                <div style="float: right;position: absolute;right: 20px;">
                    <a mat-raised-button color="primary" style="margin-right: 10px;" href="javascript:history.go(-1)">{{ 'ICMS.BACK' | translate }}</a>
                    <a mat-raised-button color="warn"
                        routerLink="/icms/edit/{{ data.id }}">{{ 'ICMS.EDIT' | translate }}</a>
                </div>

            </div>
            <!-- / NAVIGATION -->

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>