<div class="page-layout blank p-22" fusePerfectScrollbar>

    <default-header title="{{'MANIFEST.MANIFESTS' | translate}}" [endpoint]="endpoint"
    first="Processos Aduaneiros" firstUrl="manifests" second="" secondUrl=""></default-header>

    <default-table [displayedColumns]="displayedColumns" [filterColumns]="filterColumns"
        [advancedFilter]="true" [endpoint]="endpoint" [service]="service"></default-table>

</div>