<div class="page-layout blank p-24" fusePerfectScrollbar>

    <default-header title="{{'FLIGHT.FLIGHTS' | translate}}" [endpoint]="endpoint"
    first="Voos" firstUrl="flights" second="" secondUrl=""></default-header>

    <default-table [dataSource]="dataSource" [endpoint]="endpoint" [columns]="displayedColumns"
        [displayedColumns]="displayedColumns" [pagination]="false" [service]="flightService"></default-table>

</div>