<div class="page-layout blank p-24" fusePerfectScrollbar>

    <default-header title="{{'AIRPORT.AIRPORTS' | translate}}" [endpoint]="endpoint"
    first="Aeroportos" firstUrl="airports" second="" secondUrl=""></default-header>

    <default-table [dataSource]="dataSource" [displayedColumns]="displayedColumns"
        [filterColumns]="filterColumns" [advancedFilter]="true" [endpoint]="endpoint" [pagination]="false"
        [service]="airportService"></default-table>

</div>