<div class="page-layout blank p-22" fusePerfectScrollbar>

    <default-header title="{{'HOUSE.HOUSES' | translate}}" [endpoint]="endpoint"
    first="Houses" firstUrl="airwaybills/house" second="" secondUrl=""></default-header>

    <default-table [dataSource]="dataSource" [displayedColumns]="displayedColumns"
        [filterColumns]="filterColumns" [advancedFilter]="true" [endpoint]="endpoint" [pagination]="false"
        [service]="service"></default-table>

</div>