<div class="page-layout blank p-22" fusePerfectScrollbar>

    <default-header title="{{ 'CONTRACT.CONTRACTS' | translate }}" [endpoint]="endpoint"
    first="Contratos" firstUrl="contracts" second="" secondUrl=""></default-header>

    <default-table [filterColumns]="filterColumns" [advancedFilter]="true" [dataSource]="dataSource" [displayedColumns]="displayedColumns"
        [endpoint]="endpoint" [pagination]="false" [service]="service"></default-table>

</div>