<div id="reset-password" fxLayout="column">

    <div id="reset-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="reset-password-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <img src="assets/images/logos/phx.svg">
            </div>

            <div class="title">Redefinir senha</div>

            <form name="resetPasswordForgotForm" [formGroup]="resetPasswordForgotForm" (ngSubmit)="requestRecoveryLink()">

                <mat-form-field>
                    <input matInput placeholder="Email" formControlName="email">
                    <mat-error *ngIf="resetPasswordForgotForm.get('email').hasError('required')">
                        Email é obrigatório
                    </mat-error>
                    <mat-error *ngIf="resetPasswordForgotForm.get('email').hasError('email')">
                        Digite um email válido
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="password" placeholder="Criar uma senha" formControlName="password">
                    <mat-error *ngIf="resetPasswordForgotForm.get('password').hasError('required')">
                        Senha é obrigatória
                    </mat-error>
                    <mat-error *ngIf="!resetPasswordForgotForm.get('password').hasError('passwordsNotMatchingLenght') && !resetPasswordForgotForm.get('password').hasError('required')">
                        A senha deve conter pelo menos 8 caracteres
                    </mat-error>

                </mat-form-field>

                <mat-form-field>
                    <input matInput type="password" placeholder="Confirmar" formControlName="passwordConfirm">
                    <mat-error *ngIf="resetPasswordForgotForm.get('passwordConfirm').hasError('required')">
                        Confirmação de senha é obrigatório
                    </mat-error>
                    <mat-error *ngIf="!resetPasswordForgotForm.get('passwordConfirm').hasError('required') &&
                                       resetPasswordForgotForm.get('passwordConfirm').hasError('passwordsNotMatching')">
                        As senhas precisam ser idênticas
                    </mat-error>
                    <mat-error *ngIf="!resetPasswordForgotForm.get('passwordConfirm').hasError('required') &&
                    resetPasswordForgotForm.get('passwordConfirm').hasError('passwordsNotMatchingMaxLenght')">
                        A senha deve conter menos de 50 caracteres
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button class="submit-button" [disabled]="!resetPasswordForgotForm.valid" color="accent" aria-label="RESET MY PASSWORD"
                    type="submit">
                    Salvar senha
                </button>
            </form>

            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <a class="link" href="/login">Voltar ao login </a>
            </div>

        </div>

    </div>

</div>