<div class="page-layout carded fullwidth">

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-red-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <default-header *ngIf="_update" title="{{ 'CHECKPOINT.EDIT' | translate }}"
        first="Checkpoints" firstUrl="checkpoints" second="" secondUrl=""></default-header>
        <default-header *ngIf="!_update" title="{{ 'CHECKPOINT.CREATE' | translate }}"
        first="Checkpoints" firstUrl="checkpoints" second="" secondUrl=""></default-header>

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg" style="border-radius: 8px 8px 0 0;">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar px-24 py-8">
                <span>{{ 'CHECKPOINT.CHECKPOINTS' | translate }} <em *ngIf="_update && !loading">#{{ data.id }} -
                        {{ data.name }}</em></span>
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <div class="content p-24">
                
                <div *ngIf="loading == true && _update" class="loading-shade">
                    <mat-spinner></mat-spinner>
                </div>

                <!-- REACTIVE FORM -->
                <form [formGroup]="formGroup" class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" fxLayout="column"
                    fxLayoutAlign="start" fxFlex="1 0 auto" name="form" (ngSubmit)="submit()">

                    <span class="mat-title"> <mat-icon class="secondary-text s-16">chevron_right</mat-icon> <strong> {{ 'CHECKPOINT.REGISTRATION_INFORMATIONS' | translate }} </strong></span>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'CHECKPOINT.LISTING.NAME' | translate }}"
                                formControlName="name" required>
                        </mat-form-field>
                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput placeholder="{{ 'CHECKPOINT.LISTING.CODE' | translate }}"
                                formControlName="code" required>
                        </mat-form-field>

                    </div>

                    <!-- NAVIGATION -->
                    <div class="p-24" fxLayout="row" style="position: relative;">

                        <div style=" position: absolute;right: 20px;">
                            <a mat-raised-button color="primary" style="margin-right: 10px;"
                                href="javascript:history.go(-1)">{{ 'CHECKPOINT.BACK' | translate }}</a>
                            <button type="submit" [disabled]="!formGroup.valid" mat-raised-button
                                color="warn">{{ 'CHECKPOINT.SAVE' | translate }}</button>
                        </div>

                    </div>
                </form>

            </div>
            <!-- / CONTENT -->
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>