<div class="page-layout carded fullwidth">

    <div class="top-bg mat-red-bg"></div>

    <div class="loading-shade" *ngIf="loading">
        <mat-spinner *ngIf="loading"></mat-spinner>
    </div>

    <!-- CENTER -->
    <div class="center" *ngIf="!loading">
        <default-header title="{{ 'HOUSE.CONSOLIDATOR' | translate }}" first="Bags" firstUrl="airwaybills/consolidators"
            second="" secondUrl=""></default-header>
        <div class="content-card mat-white-bg" style="border-radius: 8px 8px 0 0;" *ngIf="!loading">
            <div class="toolbar px-24 py-8 position-adjustment">
                <span *ngIf="data">{{ 'HOUSE.CONSOLIDATOR' | translate }} #{{ data.id }} - {{ data.code }}</span>
                <span *ngIf="!data">{{ 'HOUSE.CONSOLIDATOR' | translate }}</span>
                <div style="float: right;position: absolute;right: 20px;">
                    <a mat-raised-button color="primary" style="margin-right: 10px;" href="javascript:history.go(-1)">{{
                        'HOUSE.BACK' | translate }}</a>
                </div>
            </div>

            <form [formGroup]="formGroup" name="form" (ngSubmit)="submit()">
                <table>
                    <tbody>
                        <tr class="tr">
                            <td class="td">
                                <mat-card>
                                    <mat-form-field class="width-adjustment">
                                        <mat-label class="label-house">{{ 'HOUSE.COMPANY' | translate }}</mat-label>
                                        <mat-select formControlName="company">
                                            <mat-option>
                                                <ngx-mat-select-search [placeholderLabel]="'Buscar'"
                                                    [noEntriesFoundLabel]="'Empresa não encontrada'"
                                                    formControlName="companyLastFilter">
                                                </ngx-mat-select-search>
                                            </mat-option>
                                            <ng-container *ngFor="let item of filteredCompany | async">
                                                <mat-option [value]="item.ID">
                                                    {{ item['Código'] }} - <strong>{{ item['Nome da Empresa']
                                                        }}</strong>
                                                </mat-option>
                                            </ng-container>
                                        </mat-select>
                                        <mat-error *ngIf="!formGroup.get('company').valid">
                                            {{ 'HOUSE.COMPANY' | translate }} {{ 'ERRORS.MANDATORY' |translate }}
                                        </mat-error>
                                    </mat-form-field>
                                </mat-card>
                            </td>
                            <td class="td">
                                <mat-card>
                                    <mat-form-field class="width-adjustment">
                                        <mat-label class="label-house">{{ 'MASTER.LISTING.AIRPORT_ORIGIN' |
                                            translate }}:</mat-label>
                                        <mat-select formControlName="origin">
                                            <mat-option>
                                                <ngx-mat-select-search [placeholderLabel]="'Buscar'"
                                                    [noEntriesFoundLabel]="'Aeroporto não encontrado'"
                                                    formControlName="airportOriginLastFilter">
                                                </ngx-mat-select-search>
                                            </mat-option>
                                            <ng-container *ngFor="let item of filteredOriginAirport | async">
                                                <mat-option [value]="item['Sigla do Aeroporto']">
                                                    <strong>{{ item['Sigla do Aeroporto'] }}</strong> - {{ item['Nome do
                                                    Aeroporto'] }}
                                                </mat-option>
                                            </ng-container>
                                        </mat-select>
                                        <mat-error *ngIf="!formGroup.get('origin').valid">
                                            {{ 'MASTER.LISTING.AIRPORT_ORIGIN' | translate }} {{ 'ERRORS.MANDATORY'
                                            |translate }}
                                        </mat-error>
                                    </mat-form-field>
                                </mat-card>
                            </td>
                            <td class="td">
                                <mat-card>
                                    <mat-form-field class="width-adjustment">
                                        <mat-label class="label-house">{{ 'MASTER.LISTING.AIRPORT_DESTINATION' |
                                            translate }}:</mat-label>
                                        <mat-select formControlName="destination">
                                            <mat-option>
                                                <ngx-mat-select-search [placeholderLabel]="'Buscar'"
                                                    [noEntriesFoundLabel]="'Aeroporto não encontrado'"
                                                    formControlName="airportDestinationLastFilter">
                                                </ngx-mat-select-search>
                                            </mat-option>
                                            <ng-container *ngFor="let item of filteredDestinationAirport | async">
                                                <mat-option [value]="item['Sigla do Aeroporto']">
                                                    <strong>{{ item['Sigla do Aeroporto'] }}</strong> - {{ item['Nome do
                                                    Aeroporto'] }}
                                                </mat-option>
                                            </ng-container>
                                        </mat-select>
                                        <mat-error *ngIf="!formGroup.get('destination').valid">
                                            {{ 'MASTER.LISTING.AIRPORT_DESTINATION' | translate }} {{ 'ERRORS.MANDATORY'
                                            |translate }}
                                        </mat-error>
                                    </mat-form-field>
                                </mat-card>
                            </td>
                        </tr>
                        <tr class="tr">
                            <td class="td">
                                <mat-card>
                                    <mat-form-field>
                                        <mat-label class="label-house">{{ 'MASTER.FLIGHT.DATE' | translate }}:
                                        </mat-label>
                                        <input matInput [owlDateTime]="date" [owlDateTimeTrigger]="date"
                                            autocomplete="off" formControlName="date" placeholder="" required>
                                        <mat-error *ngIf="!formGroup.get('date').valid">
                                            {{ 'MASTER.FLIGHT.DATE' | translate }} {{ 'ERRORS.MANDATORY' |translate }}
                                        </mat-error>
                                        <owl-date-time #date></owl-date-time>
                                    </mat-form-field>
                                </mat-card>
                            </td>
                            <td class="td">
                                <mat-card>
                                    <mat-form-field>
                                        <mat-label class="label-house">{{ 'HOUSE.CODE' | translate }}:
                                        </mat-label>
                                        <input matInput formControlName="code" placeholder="">
                                        <mat-error *ngIf="!formGroup.get('code').valid">
                                            {{ 'HOUSE.CODE' | translate }} {{ 'ERRORS.MANDATORY' |translate }}
                                        </mat-error>
                                    </mat-form-field>
                                </mat-card>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    <!-- / CENTER -->
</div>