<div class="page-layout blank p-24" fusePerfectScrollbar>

    <default-header title="{{'ICMS.ICMS' | translate}}" [endpoint]="endpoint"
    first="Icms" firstUrl="icms" second="" secondUrl=""></default-header>

    <default-table [dataSource]="dataSource" [displayedColumns]="displayedColumns"
                   [endpoint]="endpoint" [pagination]="false" [service]="icmsService"></default-table>

</div>