<div class="page-layout blank p-22" fusePerfectScrollbar>

    <default-header title="{{'CHECKPOINT.CHECKPOINTS' | translate}}" [endpoint]="endpoint"
    first="Checkpoints" firstUrl="checkpoints" second="" secondUrl=""></default-header>

    <default-table [dataSource]="dataSource" [displayedColumns]="displayedColumns"
        [endpoint]="endpoint" [pagination]="false" [service]="service"></default-table>

</div>