<div class="page-layout carded fullwidth">

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-red-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <div *ngIf="loadingCurrency != false" class="loading-shade">
            <mat-spinner></mat-spinner>
        </div>    

        <default-header title="Visualizar"
        first="Moedas" firstUrl="currencies" second="" secondUrl=""></default-header>

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg" style="border-radius: 8px 8px 0 0;">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar px-24 py-8" *ngIf="data">
                <span>{{ 'CURRENCY.TITLE' | translate }} # {{ data.id }} - {{ data.code }}</span>
            </div>
            <div class="toolbar px-24 py-8" *ngIf="!data">
                <span>{{ 'CURRENCY.TITLE' | translate }}</span>
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <div class="content p-24" *ngIf="data">
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="mat-title"> <strong> {{ 'CURRENCY.INFORMATIONS' | translate }} </strong></span>

                <mat-card>
                    <p><strong>{{ 'CURRENCY.LISTING.NAME' | translate }}: </strong> {{ data.name }}</p>
                    <p><strong>{{ 'CURRENCY.LISTING.CODE' | translate }}: </strong> {{ data.code }}</p>
                    <p><strong>{{ 'CURRENCY.LISTING.SYMBOL' | translate }}: </strong> {{ data.symbol }}</p>
                    
                </mat-card>

            </div>
            <!-- / CONTENT -->

            <!-- NAVIGATION -->
            <div class="toolbar" style="position: relative" *ngIf="data">

                <div style="float: right;position: absolute;right: 20px;">
                    <a mat-raised-button color="primary" style="margin-right: 10px;" href="javascript:history.go(-1)">{{
                        'CURRENCY.BACK' | translate }}</a>
                    <a mat-raised-button color="warn" routerLink="/currencies/edit/{{ data.id }}">{{ 'CURRENCY.EDIT' |
                        translate }}</a>
                </div>

            </div>
            <!-- / NAVIGATION -->

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>