<div class="page-layout carded fullwidth">

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-red-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <default-header title="{{ 'ZIPCODE_RANGES.IMPORT' | translate }}"
        first="Tarifários" firstUrl="zipcode-ranges" second="" secondUrl=""></default-header>

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg" style="border-radius: 8px 8px 0 0;">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar px-24 py-8">
                <span>{{ 'ZIPCODE_RANGES.ZIPCODE_RANGES' | translate }}</span>
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <div class="content p-24">

                <!-- REACTIVE FORM -->
                <form [formGroup]="formGroup" class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" fxLayout="column"
                    fxLayoutAlign="start" name="form" (ngSubmit)="submit()">

                    <div class="h2 mb-24 pt-24" *ngIf="fileUploaded != null"> <strong> {{ spreadSheetName }} </strong>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center">


                        <span class="material-icons" *ngIf="fileUploaded != null">
                            upgrade
                        </span>

                        <a mat-stroked-button color="primary">
                            <input mat-stroked-button color="primary" style="cursor: pointer;" type="file"
                                accept=".xlsx" (change)="uploadedFile($event)" required />
                        </a>



                        <a mat-raised-button color="warn" *ngIf="fileUploaded != null">
                            <label style="cursor: pointer;" for="input-file-id" (click)="readAsHTML()">Upload de Arquivo
                                (XML)</label>
                        </a>

                    </div>

                    <div class="h2 mb-24 pt-24"> <strong> {{ 'ZIPCODE_RANGES.INFORMATIONS' | translate }} </strong>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center">

                        <div class="h2 mb-24 pt-50"> <strong> {{ spreadSheetName }} </strong>
                        </div>
                        <strong>
                            <div [innerHtml]="spreadSheet"></div>
                        </strong>
                    </div>


                    <!-- NAVIGATION -->

                    <div class="p-24" fxLayout="row" style="position: relative;">

                        <div style=" position: absolute;right: 20px;">
                            <a mat-raised-button color="primary" style="margin-right: 10px;"
                                href="javascript:history.go(-1)">{{ 'ZIPCODE_RANGES.BACK' | translate }}</a>
                            <button type="submit" mat-raised-button color="warn">{{ 'ZIPCODE_RANGES.SAVE' | translate
                                }}</button>
                        </div>

                    </div>

                    <!-- / NAVIGATION -->

                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
</div>

<!-- <div [innerHtml]="teste"></div> -->