<div class="page-layout carded fullwidth">

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-red-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <default-header *ngIf="_update" title="{{ 'CONTRACT.EDIT' | translate }}"
        first="Contratos" firstUrl="contracts" second="" secondUrl=""></default-header>
        <default-header *ngIf="!_update" title="{{ 'CONTRACT.CREATE' | translate }}"
        first="Contratos" firstUrl="contracts" second="" secondUrl=""></default-header>

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg" style="border-radius: 8px 8px 0 0;">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar px-24 py-8">
                <span *ngIf="!_update">{{ 'CONTRACT.CONTRACT' | translate }} <em></em></span>
                <span *ngIf="_update">{{ 'CONTRACT.CONTRACT' | translate }} <em># {{ data.id }} - Empresa : {{
                        data.description }}
                    </em></span>
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <div class="content p-24">

                <!-- REACTIVE FORM -->
                <form [formGroup]="formGroup" class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" fxLayout="column"
                    fxLayoutAlign="start" fxFlex="2 0 auto" name="form" (ngSubmit)="submit()">

                    <div class="h2 mb-24"><strong>{{ 'CONTRACT.INFORMATIONS' | translate }}</strong></div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-checkbox formControlName="default">
                            <strong> {{ 'CONTRACT.LISTING.DEFAULT' | translate }} </strong>
                        </mat-checkbox>

                    </div>

                    <br>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" *ngIf="!_update">
                        <mat-form-field fxFlex="50" class="mx-8">
                            <mat-select placeholder="{{ 'CONTRACT.LISTING.COMPANY.NAME' | translate }}"
                                formControlName="company" required>
                                <ng-container *ngFor="let company of companies">
                                    <mat-option [value]="company['Nome da Empresa']">
                                        <strong>{{ company['Código'] }} - {{ company['Nome da Empresa'] }}</strong>
                                    </mat-option>
                                </ng-container>

                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <!-- CURRENCY -->
                        <mat-form-field fxFlex="50" class="mx-8">
                            <mat-select placeholder="{{ 'CONTRACT.LISTING.CURRENCY' | translate }}"
                                formControlName="currency" required>

                                <ng-container *ngFor="let currency of currencies">
                                    <mat-option [value]="currency.id">
                                        {{ currency.code }} - <strong>{{ currency.name }}</strong>
                                    </mat-option>
                                </ng-container>

                            </mat-select>
                        </mat-form-field>
                        <!-- / CURRENCY -->
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput type="text" placeholder="{{ 'CONTRACT.LISTING.WACC' | translate }}"
                                formControlName="wacc" mask='dot_separator.2' required>
                        </mat-form-field>

                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field fxFlex="50" class="mx-8">
                            <input matInput type="text" placeholder="Spread Câmbio (% sobre o Câmbio)"
                                formControlName="exchange_spread_rate" mask='dot_separator.2' required>
                        </mat-form-field>

                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field fxFlex="50" class="mx-8">
                            <mat-select placeholder="Padão de Coleta de Impostos (II+ICMS)"
                                formControlName="standard_duties_collection_id" required>
                                <mat-option [value]="1">
                                    DDP (Deliver Duty Paid)
                                </mat-option>
                                <mat-option [value]="2">
                                    DDU (Deliver Duty Unpaid)
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field fxFlex="50" class="mx-8">
                            <mat-select placeholder="Modelo de Reembolso de Impostos"
                                formControlName="reimbursement_modal_id" required>

                                <mat-option [value]="1">
                                    Antecipada (Status ARV)
                                </mat-option>

                                <mat-option [value]="2">
                                    Finalizador (Status Finalizador)
                                </mat-option>

                            </mat-select>
                        </mat-form-field>

                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <div class="h3 mb-24 mr-24 pt-24">
                            Checkpoint finalizador:
                        </div>
                        <mat-select class="mx-8" fxFlex="50" placeholder="Checkpoint finalizador"
                            formControlName="last_checkpoint_id" required>
                            <ng-container *ngFor="let item of checkpoints">
                                <mat-option [value]="item['ID']">
                                    {{ item['Código do Checkpoint'] }} - <strong>{{ item['Nome do Checkpoint']
                                        }}</strong>
                                </mat-option>
                            </ng-container>
                        </mat-select>
                    </div>

                    <div class="h2 mb-24"><strong>{{ 'CONTRACT.SERVICES' | translate }}</strong></div>

                    <div formArrayName="services_list">
                        <li *ngFor="let item of servicesGroup.controls; let k=index" [formGroupName]="k">
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                                <!-- SERVICE -->
                                <div class="h3 mb-24 mr-24 pt-24">
                                    {{ 'CONTRACT.INITIALS' | translate }}:
                                </div>

                                <mat-select fxFlex="30" placeholder="{{ 'CONTRACT.SERVICE' | translate }}"
                                    formControlName="service_id" required>

                                    <ng-container *ngFor="let service of services">
                                        <mat-option [value]="service.ID">
                                            <strong>{{ service['Descrição'] }}</strong>
                                        </mat-option>
                                    </ng-container>
                                </mat-select>

                                <mat-form-field fxFlex="20" class="mx-8">
                                    <input matInput placeholder="Valor" formControlName="amount" mask='dot_separator.2'
                                        required>
                                </mat-form-field>

                                <form [formGroup]="formGroup" *ngIf="k == 0">
                                    <button (click)="addNewServiceGroup()" mat-mini-fab>+</button>
                                </form>

                                <form [formGroup]="formGroup" *ngIf="k > 0">
                                    <button (click)="removeServiceGroup(item)" mat-mini-fab>-</button>
                                </form>
                            </div>
                        </li>
                    </div>

                    <!-- NAVIGATION -->
                    <div class="p-24" fxLayout="row" style="position: relative;">

                        <div style=" position: absolute;right: 20px;">
                            <a mat-raised-button color="primary" style="margin-right: 10px;"
                                href="javascript:history.go(-1)">{{ 'CONTRACT.BACK' | translate }}</a>
                            <button type="submit" [disabled]="!formGroup.valid" mat-raised-button color="warn">{{
                                'CONTRACT.SAVE' | translate
                                }}</button>
                        </div>

                    </div>
                </form>

            </div>
            <!-- / CONTENT -->
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>