<div class="page-layout carded fullwidth">
    <div class="top-bg mat-red-bg"></div>
    <!-- / TOP BACKGROUND -->
    
    <div class="loading-shade" *ngIf="loading">
        <mat-spinner *ngIf="loading"></mat-spinner>
    </div>

    <div class="center" *ngIf="!loading">
        <default-header title="{{ 'USER.SHOW' | translate }}" first="Usuários" firstUrl="users" second="" secondUrl=""></default-header>

        <div class="content-card mat-white-bg" style="border-radius: 8px 8px 0 0;" *ngIf="!loading">
            <div class="toolbar px-24 py-8 position-adjustment">
                <span *ngIf="data">{{ 'USER.USER' | translate }} #{{ data.id }}</span>
                <span *ngIf="!data">{{ 'USER.USER' | translate }}</span>
                <div style="float: right;position: absolute;right: 20px;">
                    <a mat-raised-button color="primary" style="margin-right: 10px;" href="javascript:history.go(-1)">{{
                        'USER.BACK' | translate }}</a>
                    <a mat-raised-button color="button-printhawb" style="margin-right: 10px;"
                        routerLink="/users/show/{{ data.id }}" *ngIf="data">{{
                        'USER.SHOW' |
                        translate
                        }}</a>
                    <button type="submit" [disabled]="verifyFields()" (click)="submit()" mat-raised-button color="warn">{{ 'USER.SAVE'
                        | translate
                        }}</button>
                </div>
            </div>

            <form [formGroup]="formGroup" name="form" (ngSubmit)="submit()">
                <div class="content p-24">
                    <table>
                        <tbody>
                            <tr class="tr">
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field class="width-adjustment">
                                            <mat-label class="label-house">{{ 'USER.COMPANY' | translate }}</mat-label>
                                            <mat-select formControlName="company">
                                                <mat-option>
                                                    <ngx-mat-select-search [placeholderLabel]="'Buscar'" [noEntriesFoundLabel]="'Empresa não encontrada'"
                                                        formControlName="companyLastFilter">
                                                    </ngx-mat-select-search>
                                                </mat-option>
                                                <ng-container *ngFor="let item of filteredCompany | async">
                                                    <mat-option [value]="item.ID">
                                                        {{ item['Código'] }} - <strong>{{ item['Nome da Empresa'] }}</strong>
                                                    </mat-option>
                                                </ng-container>
                                            </mat-select>
                                            <mat-error *ngIf="!formGroup.get('company').valid">
                                                {{ 'USER.COMPANY' | translate }} {{ 'ERRORS.MANDATORY' |translate }}
                                            </mat-error>
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field>
                                            <mat-label class="label-house">{{ 'USER.NAME' | translate }}:</mat-label>
                                            <input matInput formControlName="name" placeholder="">
                                            <mat-error *ngIf="!formGroup.get('name').valid">
                                                {{ 'USER.NAME' | translate }} {{ 'ERRORS.MANDATORY' |translate }}
                                            </mat-error>
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field>
                                            <mat-label class="label-house">{{ 'USER.LISTING.EMAIL' |
                                                translate }}:
                                            </mat-label>
                                            <input matInput formControlName="email" placeholder=""
                                                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
                                            <mat-error *ngIf="!formGroup.get('email').valid">
                                                {{ 'ERRORS.EMAIL' |translate }}
                                            </mat-error>
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field>
                                            <mat-label class="label-house">{{ 'USER.LISTING.PASSWORD' |
                                                translate }}:
                                            </mat-label>
                                            <input matInput formControlName="password" placeholder="" type="password" required>
                                            <mat-error *ngIf="!formGroup.get('password').valid">
                                                {{ 'USER.LISTING.PASSWORD' |translate }}
                                            </mat-error>
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                            </tr>
                            <tr class="tr">
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field class="width-adjustment-all">
                                            <mat-label class="label-house">{{ 'USER.LISTING.ROLE' | translate }}</mat-label>
                                            <mat-select formControlName="role">
                                                <mat-option>
                                                    <ngx-mat-select-search [placeholderLabel]="'Buscar'"
                                                        [noEntriesFoundLabel]="'Permissão não encontrada'" formControlName="roleFilter">
                                                    </ngx-mat-select-search>
                                                </mat-option>
                                                <ng-container *ngFor="let item of filteredRole | async">
                                                    <mat-option [value]="item.ID">
                                                        {{ item['Nome da Permissão'] }} - <strong>{{ item['Descrição da Permissão'] }}</strong>
                                                    </mat-option>
                                                </ng-container>
                                            </mat-select>
                                            <mat-error *ngIf="!formGroup.get('role').valid">
                                                {{ 'USER.COMPANY' | translate }} {{ 'ERRORS.MANDATORY' |translate }}
                                            </mat-error>
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>