<div class="page-layout carded fullwidth">

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-red-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <default-header *ngIf="_update" title="{{ 'SERVICE.EDIT' | translate }}"
        first="Serviços" firstUrl="services" second="" secondUrl=""></default-header>
        <default-header *ngIf="!_update" title="{{ 'SERVICE.CREATE' | translate }}"
        first="Serviços" firstUrl="services" second="" secondUrl=""></default-header>

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg" style="border-radius: 8px 8px 0 0;">

            <div *ngIf="loading == true" class="loading-shade">
                <mat-spinner></mat-spinner>
            </div>

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar px-24 py-8">
                <span>{{ 'SERVICE.SERVICES' | translate }} <em *ngIf="_update && !loading">#{{ data.id }}</em></span>
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <div class="content p-24">

                <!-- REACTIVE FORM -->
                <form [formGroup]="formGroup" class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" fxLayout="column"
                    fxLayoutAlign="start" fxFlex="1 0 auto" name="form" (ngSubmit)="submit()">

                    <span class="mat-title"> <mat-icon class="secondary-text s-16">chevron_right</mat-icon> <strong> {{ 'SERVICE.REGISTRATION_INFORMATIONS' | translate }} </strong></span>  

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                            <mat-form-field fxFlex="90" class="mx-8">
                                <input matInput placeholder="{{ 'SERVICE.DESCRIPTION' | translate }}"
                                    formControlName="description">
                            </mat-form-field>


                        </div>

                        <mat-form-field fxFlex="40" class="mx-8">
                            <mat-select placeholder="{{ 'SERVICE.LISTING.TYPE' | translate }}" formControlName="type">
                                <mat-option value="standard">
                                    <strong> {{ 'SERVICE.STANDARD' | translate }} </strong>
                                </mat-option>
                                <mat-option value="express">
                                    <strong> {{ 'SERVICE.EXPRESS' | translate }} </strong>
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                            <mat-form-field fxFlex="50" class="mx-8">
                                <input matInput placeholder="{{ 'SERVICE.PRICE' | translate }}" (keypress)="numberOnly($event)" maxlength="6" formControlName="price">
                            </mat-form-field>

                        </div>

                    </div>


                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <!-- CHECKPOINT -->
                        <mat-form-field fxFlex="50" class="mx-8">
                            <mat-select placeholder="{{ 'SERVICE.LISTING.CHECKPOINT' | translate }}"
                                formControlName="checkpoint">

                                <ng-container *ngFor="let checkpoint of checkpoints">
                                    <mat-option [value]="checkpoint.id">
                                        <strong> {{ checkpoint['Código do Checkpoint'] }} </strong> - {{ checkpoint['Nome do Checkpoint'] }}  
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                        <!-- <mat-form-field fxFlex="50" class="mx-8">
                            <mat-select placeholder="teste"
                                formControlName="checkpoint">

                                <ng-container *ngFor="let checkpoint of checkpoints">
                                    <mat-option [value]="checkpoint.id">
                                        <strong> {{ checkpoint.code }} </strong> - {{ checkpoint.name }}
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field> -->
                        <!-- CHECKPOINT -->

                        <!-- APPLICABLE -->
                        <mat-form-field fxFlex="50" class="mx-8" *ngIf="!loadingChargeType">
                            <mat-select placeholder="{{ 'SERVICE.LISTING.APPLICABLE' | translate }}"
                                formControlName="applicable">

                                <ng-container *ngFor="let service_charge_type of service_charge_types">
                                    <mat-option [value]="service_charge_type.id">
                                        <strong> {{ service_charge_type.type }} </strong> - {{ service_charge_type.description }}
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                        <!-- APPLICABLE -->

                    </div>

                    <!-- NAVIGATION -->
                    <div class="p-24" fxLayout="row" style="position: relative;">

                        <div style=" position: absolute;right: 20px;">
                            <a mat-raised-button color="primary" style="margin-right: 10px;"
                                href="javascript:history.go(-1)">{{ 'SERVICE.BACK' | translate }}</a>
                            <button type="submit" mat-raised-button
                                color="warn">{{ 'SERVICE.SAVE' | translate }}</button>
                        </div>

                    </div>
                </form>

            </div>
            <!-- / CONTENT -->
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>