<div class="page-layout blank p-24" fusePerfectScrollbar>

    <default-header title="{{'IMPORTER.IMPORTERS' | translate}}" [endpoint]="endpoint"
    first="Importadores" firstUrl="importers" second="" secondUrl=""></default-header>

    <default-table [dataSource]="dataSource" [displayedColumns]="displayedColumns"
        [filterColumns]="filterColumns" [advancedFilter]="true" [endpoint]="endpoint" [pagination]="false"
        [service]="importerService"></default-table>

</div>