<div id="login" fxLayout="column">
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form name="loginForm" [formGroup]="loginForm" (ngSubmit)="login()" class="login100-form validate-form">
                    <span class="login100-form-title p-b-43">
                        PHX CARGO 4.0
                    </span>
                    <span class="login100-form-subtitle p-b-43">
                        Nossa missão: "Entregar soluções logisticas acessíveis, confiáveis e competitivas"
                    </span>

                    <div class="loading-shade" *ngIf="isLoadingResults">
                        <mat-spinner *ngIf="isLoadingResults" class="mat-spinner-adjustment"></mat-spinner>
                    </div>
    
                    <div *ngIf="!isLoadingResults">
                        <span class="label-login-component">Login</span>
                        <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                            <input class="input100" type="text" id="email" name="email" formControlName="email">
                        </div>
                        <br>
                        
                        <span class="label-login-component">Senha</span>
                        <div class="wrap-input100 validate-input" data-validate="Password is required">
                            <input class="input100" type="password" formControlName="password" id="password" name="password">
                        </div>
                        
                        <div class="flex-sb-m w-full p-t-3 p-b-32">
                            <div class="contact100-form-checkbox">
                                <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                                <label class="label-checkbox100" for="ckb1">
                                    Lembrar-me
                                </label>
                            </div>
                        
                            <div>
                                <a href="forgot-password" class="txt1">
                                    Esqueceu a senha?
                                </a>
                            </div>
                        </div>
                        
                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn" type="submit">
                                Login
                            </button>
                        </div>
                    </div>
                </form>
    
                <div class="login100-more" style="background-image: url('assets/images/bg-04.jpg');">
                </div>
            </div>
        </div>
    </div>

</div>