<div id="login" fxLayout="column">

    <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="login-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <img src="assets/images/logos/phx.svg">
            </div>

            <div class="title">Login</div>

            <form name="loginForm" [formGroup]="loginForm" (ngSubmit)="login()">

                <mat-form-field>
                    <input matInput placeholder="Email" formControlName="email">
                    <mat-error *ngIf="loginForm.get('email').hasError('required')">
                        Email é obrigatório
                    </mat-error>
                    <mat-error *ngIf="!loginForm.get('email').hasError('required') &&
                                loginForm.get('email').hasError('email')">
                        Digite um email válido
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="password" placeholder="Senha" formControlName="password">
                    <mat-error>
                        Senha é obrigatória
                    </mat-error>
                </mat-form-field>

                <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column"
                    fxLayoutAlign="space-between center">

                    <a class="forgot-password" href="forgot-password">
                        Esqueceu a senha?
                    </a>
                </div>

                <button mat-raised-button color="red-bg" class="submit-button" aria-label="LOG IN" type="submit">
                    Entrar
                </button>

            </form>

        </div>

    </div>

</div>