<div class="page-layout simple right-sidebar" fxLayout="row">

    <!-- CENTER -->
    <div class="center" fusePerfectScrollbar>

        <!-- HEADER -->
        <div class="header mat-red-bg p-24 pb-0" fxLayout="column" fxLayoutAlign="space-between">

            <div fxLayout="row" fxLayoutAlign="space-between start">

                <span class="mat-display-1 mb-0 welcome-message" *ngIf="user">
                    {{'DASHBOARD.WELCOME' | translate}} - {{ user.name }}
                </span>

                <span class="mat-display-1 mb-0 welcome-message" *ngIf="!user">
                    {{'DASHBOARD.WELCOME' | translate}}
                </span>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between start" *ngIf="user">
                <span class="company">
                    {{'DASHBOARD.COMPANY' | translate}}: {{ user.company.name }}
                </span>
            </div>
        </div>
        <!-- / HEADER -->

        <!-- DASHBOARD CONTENT -->
        <div class="content">

            <div class="widget-group grey-100-bg" fxFlex="100">

                <ng-container *ngFor="let widget of widgets">
                    <dashboard-widget [service]="widget.service" [description]="widget.description">
                    </dashboard-widget>
                </ng-container>

            </div>
        </div>
        <!-- / DASHBOARD CONTENT -->

    </div>
</div>