<div class="page-layout carded fullwidth">

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-red-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <div *ngIf="loading == true" class="loading-shade">
            <mat-spinner></mat-spinner>
        </div>

        <default-header title="{{ 'CHECKPOINT.SHOW' | translate }}"
        first="Checkpoints" firstUrl="checkpoints" second="" secondUrl=""></default-header>

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg" style="border-radius: 8px 8px 0 0;" *ngIf="!loading">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar px-24 py-8">
                <span>{{ 'CHECKPOINT.CHECKPOINT' | translate }} #{{ data.id }} - {{ data.name }}</span>
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <div class="content p-24">
                <mat-card>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span class="mat-title"> <strong> {{ 'CHECKPOINT.INFORMATIONS' | translate }} </strong> </span>
                    <p><strong>{{ 'CHECKPOINT.LISTING.NAME' | translate }}: </strong> {{ data.name }}</p>
                    <p><strong>{{ 'CHECKPOINT.LISTING.CODE' | translate }}: </strong> {{ data.code }}</p>
                </mat-card>
            </div>
            <!-- / CONTENT -->

            <!-- NAVIGATION -->
            <div class="toolbar" style="position: relative">

                <div style="float: right;position: absolute;right: 20px;">
                    <a mat-raised-button color="primary" style="margin-right: 10px;"
                        href="javascript:history.go(-1)">{{ 'CHECKPOINT.BACK' | translate }}</a>
                    <a mat-raised-button color="warn"
                        routerLink="/checkpoints/edit/{{ data.id }}">{{ 'CHECKPOINT.EDIT' | translate }}</a>
                </div>

            </div>
            <!-- / NAVIGATION -->

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>