<div class="page-layout carded fullwidth">

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-red-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <default-header *ngIf="_update" title="{{ 'HOUSE.EDIT' | translate }}"></default-header>
        <default-header *ngIf="!_update" title="{{ 'HOUSE.CREATE' | translate }}"></default-header>

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg" style="border-radius: 8px 8px 0 0;">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar px-24 py-8">
                <span>{{ 'HOUSE.HOUSE' | translate }} <em *ngIf="_update && !loading">#{{ data.id }} -
                        {{ data.code }}</em></span>
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <div class="content p-24">

                <!-- REACTIVE FORM -->
                <form [formGroup]="formGroup" class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" fxLayout="column"
                    fxLayoutAlign="start" fxFlex="1 0 auto" name="form" (ngSubmit)="submit()">

                    <div class="h2 mb-24 pt-24">{{ 'INFORMATIONS' | translate }}</div>

                    <div class="pb-8" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <div class="h3 mb-24 mr-24 pt-24">
                            {{ 'COMPANY' | translate }}:
                        </div>
                        <mat-select class="mr-24" *ngIf="!loadingCompany" fxFlex="30"
                            placeholder="{{ 'COMPANY' | translate }}" formControlName="company" required>

                            <ng-container *ngFor="let company of companies">
                                <mat-option [value]="company.id">
                                    {{ company.account_number }} - <strong>{{ company.name }}</strong>
                                </mat-option>
                            </ng-container>

                        </mat-select>

                        <mat-form-field fxFlex="50">
                            <input matInput placeholder="{{ 'MASTER.MASTER_CODE' | translate }}"
                                formControlName="master_code">
                        </mat-form-field>

                    </div>

                    <div formArrayName="external_ids" class="pb-8" fxLayout="row" fxLayoutAlign="start center"
                        fxFlex="1 0 auto">

                        <ng-container *ngFor="let externalIdRow of externalIds.controls; let i=index"
                            [formGroupName]="i">

                            <mat-form-field class="mr-8" fxFlex="25">

                                <input matInput placeholder="{{ 'HOUSE.LISTING.NUMBER' | translate }}  #{{ i + 1 }}"
                                    formControlName="external_id">

                            </mat-form-field>

                        </ng-container>

                        <a (click)="addNewExternalIdField()" style="cursor: pointer;">
                            {{ 'HOUSE.LISTING.ADD_NUMBER' | translate }}
                        </a>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field fxFlex="25" class="mx-8">
                            <input matInput placeholder="{{ 'MASTER.LISTING.DESCRIPTION' | translate }}"
                                formControlName="description">
                        </mat-form-field>

                        <mat-form-field fxFlex="25" class="mx-8">
                            <input matInput placeholder="{{ 'HOUSE.LISTING.AMOUNT_FREIGHT' | translate }}"
                                formControlName="amount_freight" mask="dot_separator.2">
                        </mat-form-field>

                        <mat-form-field fxFlex="25" class="mx-8">
                            <input matInput placeholder="{{ 'MASTER.LISTING.GROSS_WEIGHT' | translate }}"
                                formControlName="gross_weight" mask="dot_separator.2">
                        </mat-form-field>

                    </div>

                    <ng-container>
                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <div class="h3 mb-24 mr-24 pt-24">
                                {{ 'HOUSE.CONSOLIDATOR' | translate }}:
                            </div>
                            <mat-select class="mr-24" *ngIf="!loadingConsolidators" fxFlex="30"
                                placeholder="{{ 'HOUSE.CONSOLIDATOR' | translate }}" formControlName="consolidator"
                                required>

                                <ng-container *ngFor="let consolidator of consolidators">
                                    <mat-option [value]="consolidator.id">
                                        <strong>{{ consolidator.code }}</strong>
                                    </mat-option>
                                </ng-container>

                            </mat-select>
                        </div>
                    </ng-container>

                    <!-- SHIPPER -->
                    <ng-container>
                        <div class="h2 mb-24 pt-24">{{ 'HOUSE.SHIPPER.SHIPPER' | translate }}</div>

                        <div class="m-8" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto"
                            *ngIf="!loadingShipper">

                            <div class="h3 mb-24 mr-24 pt-24">
                                {{ 'HOUSE.SHIPPER.SHIPPER' | translate }}:
                            </div>
                            <mat-select fxFlex="100" placeholder="{{ 'HOUSE.SHIPPER.SHIPPER' | translate }}"
                                (selectionChange)="changeShipper($event)" formControlName="shipper">

                                <ng-container *ngFor="let shipper of shippers">
                                    <mat-option [value]="shipper.id">
                                        {{ shipper.document }} - <strong>{{ shipper.name }}</strong>
                                    </mat-option>
                                </ng-container>

                            </mat-select>

                        </div>

                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                            <mat-form-field fxFlex="50">
                                <input matInput placeholder="{{ 'HOUSE.PERSON.NAME' | translate }}"
                                    formControlName="shipper_name" required>
                            </mat-form-field>
                            <mat-form-field fxFlex="50">
                                <input matInput placeholder="{{ 'HOUSE.PERSON.DOCUMENT' | translate }}"
                                    formControlName="shipper_document" required>
                            </mat-form-field>

                        </div>

                        <!-- address -->
                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                            <mat-form-field fxFlex="50">
                                <input matInput placeholder="{{ 'ADDRESS.ADDRESS' | translate }}"
                                    formControlName="shipper_address" required>
                            </mat-form-field>
                            <mat-form-field fxFlex="25">
                                <input matInput placeholder="{{ 'ADDRESS.NUMBER' | translate }}"
                                    formControlName="shipper_number" type="number" required>
                            </mat-form-field>
                            <mat-form-field fxFlex="25">
                                <input matInput placeholder="{{ 'ADDRESS.ADDITIONAL_INFO' | translate }}"
                                    formControlName="shipper_additional_info">
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                            <mat-form-field fxFlex="25">
                                <input matInput placeholder="{{ 'ADDRESS.NEIGHBORHOOD' | translate }}"
                                    formControlName="shipper_neighborhood" required>
                            </mat-form-field>
                            <mat-form-field fxFlex="25">
                                <input matInput placeholder="{{ 'ADDRESS.ZIP_CODE' | translate }}"
                                    formControlName="shipper_zip_code" required>
                            </mat-form-field>

                            <mat-form-field fxFlex="30">
                                <input matInput placeholder="{{ 'ADDRESS.CITY' | translate }}"
                                    formControlName="shipper_city" required>
                            </mat-form-field>

                            <mat-select fxFlex="30" placeholder="{{ 'ADDRESS.STATE' | translate }}"
                                formControlName="shipper_state" required>

                                <ng-container *ngFor="let uf of ufList">
                                    <mat-option [value]="uf">{{ uf }}</mat-option>
                                </ng-container>
                            </mat-select>
                        </div>

                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                            <mat-select fxFlex="30" placeholder="{{ 'HOUSE.COUNTRY.COUNTRY' | translate }}"
                                formControlName="shipper_country_id" required>

                                <ng-container *ngFor="let country of countries">
                                    <mat-option [value]="country.id">
                                        {{ country.initials }} - <strong>{{ country.name }}</strong>
                                    </mat-option>
                                </ng-container>
                            </mat-select>

                        </div>
                    </ng-container>

                    <!-- /SHIPPER -->

                    <!-- IMPORTER -->
                    <ng-container>
                        <div class="h2 mb-24 pt-24">{{ 'HOUSE.IMPORTER.IMPORTER' | translate }}</div>

                        <div class="m-8" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto"
                            *ngIf="!loadingImporter">
                            <div class="h3 mb-24 mr-24 pt-24">
                                {{ 'HOUSE.IMPORTER.IMPORTER' | translate }}:
                            </div>
                            <mat-select fxFlex="100" placeholder="{{ 'HOUSE.IMPORTER.IMPORTER' | translate }}"
                                (selectionChange)="changeImporter($event)" formControlName="importer" required>

                                <ng-container *ngFor="let importer of importers">
                                    <mat-option [value]="importer.id">
                                        {{ importer.document }} - <strong>{{ importer.name }}</strong>
                                    </mat-option>
                                </ng-container>

                            </mat-select>

                        </div>

                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                            <mat-form-field fxFlex="50">
                                <input matInput placeholder="{{ 'HOUSE.PERSON.NAME' | translate }}"
                                    formControlName="importer_name" required>
                            </mat-form-field>
                            <mat-form-field fxFlex="50">
                                <input matInput placeholder="{{ 'HOUSE.PERSON.DOCUMENT' | translate }}"
                                    formControlName="importer_document" required>
                            </mat-form-field>

                        </div>

                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                            <mat-form-field fxFlex="30">
                                <input matInput placeholder="{{ 'ADDRESS.ADDRESS' | translate }}"
                                    formControlName="importer_address" required>
                            </mat-form-field>
                            <mat-form-field fxFlex="30">
                                <input matInput placeholder="{{ 'ADDRESS.NUMBER' | translate }}"
                                    formControlName="importer_number" type="number" required>
                            </mat-form-field>
                            <mat-form-field fxFlex="30">
                                <input matInput placeholder="{{ 'ADDRESS.ADDITIONAL_INFO' | translate }}"
                                    formControlName="importer_additional_info">
                            </mat-form-field>

                        </div>

                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field fxFlex="25">
                                <input matInput placeholder="{{ 'ADDRESS.NEIGHBORHOOD' | translate }}"
                                    formControlName="importer_neighborhood" required>
                            </mat-form-field>
                            <mat-form-field fxFlex="25">
                                <input matInput placeholder="{{ 'ADDRESS.ZIP_CODE' | translate }}"
                                    formControlName="importer_zip_code" required>
                            </mat-form-field>
                            <mat-form-field fxFlex="25">
                                <input matInput placeholder="{{ 'ADDRESS.CITY' | translate }}"
                                    formControlName="importer_city" required>
                            </mat-form-field>
                            <mat-select fxFlex="30" placeholder="{{ 'ADDRESS.STATE' | translate }}"
                                formControlName="importer_state" required>

                                <ng-container *ngFor="let uf of ufList">
                                    <mat-option [value]="uf">{{ uf }}</mat-option>
                                </ng-container>
                            </mat-select>
                        </div>

                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                            <mat-select fxFlex="30" placeholder="{{ 'HOUSE.COUNTRY.COUNTRY' | translate }}"
                                formControlName="importer_country_id" required>

                                <ng-container *ngFor="let country of countries">
                                    <mat-option [value]="country.id">
                                        {{ country.initials }} - <strong>{{ country.name }}</strong>
                                    </mat-option>
                                </ng-container>

                            </mat-select>

                        </div>
                    </ng-container>
                    <!-- /IMPORTER -->

                    <!-- CUSTOMS_SETTINGS -->
                    <ng-container *ngIf="!loadingTax && !loadingCustomsAdm">
                        <div class="h2 mb-24 pt-24">{{ 'HOUSE.CUSTOMS_SETTINGS.SETTINGS' | translate }}</div>

                        <div class="m-8" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                            <mat-select fxFlex="50" placeholder="{{ 'HOUSE.CUSTOMS_SETTINGS.TAX_CLASS' | translate }}"
                                formControlName="tax_class">
                                <ng-container *ngFor="let class of taxClasses">
                                    <mat-option [value]="class.code">
                                        {{ class.description }}
                                    </mat-option>
                                </ng-container>
                            </mat-select>

                            <mat-select fxFlex="50" placeholder="{{ 'HOUSE.CUSTOMS_SETTINGS.CUSTOMS_ADM' | translate }}"
                                formControlName="customs_adm">

                                <mat-option>Selecione</mat-option>
                                <ng-container *ngFor="let adm of customsAdm">
                                    <mat-option [value]="adm.code">
                                        {{ adm.name }}
                                    </mat-option>
                                </ng-container>
                            </mat-select>

                        </div>
                    </ng-container>
                    <!-- /CUSTOMS_SETTINGS -->

                    <style>
                        div.test {
                            display: initial !important;
                        }
                    </style>

                    <!-- ITEMS -->
                    <div formArrayName="items_list" class="pb-8 test content">
                        <div class="h2 mb-24 pt-24">{{ 'HOUSE.ITEMS.ITEMS' | translate }}</div>

                        <ng-container *ngFor="let itemsRow of itemsGroup.controls; let k=index" [formGroupName]="k">

                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                                <mat-form-field class="mr-8" fxFlex="50">
                                    <input matInput placeholder="{{ 'HOUSE.ITEMS.DESCRIPTION' | translate }}"
                                        formControlName="description">
                                </mat-form-field>

                                <mat-form-field class="mr-8" fxFlex="50">
                                    <input matInput placeholder="{{ 'HOUSE.ITEMS.COMMERCIAL_VALUE' | translate }}"
                                        formControlName="commercial_value" mask="dot_separator.2">
                                </mat-form-field>
                            </div>

                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                                <mat-form-field class="mr-8" fxFlex="25">
                                    <input matInput placeholder="{{ 'HOUSE.ITEMS.QUANTITY' | translate }}"
                                        formControlName="quantity" mask="dot_separator.2">
                                </mat-form-field>

                                <mat-form-field class="mr-8" fxFlex="25">
                                    <input matInput placeholder="{{ 'HOUSE.ITEMS.LENGTH' | translate }}"
                                        formControlName="length" mask="dot_separator.2">
                                </mat-form-field>

                                <mat-form-field class="mr-8" fxFlex="25">
                                    <input matInput placeholder="{{ 'HOUSE.ITEMS.WIDTH' | translate }}"
                                        formControlName="width" mask="dot_separator.2">
                                </mat-form-field>

                                <mat-form-field class="mr-8" fxFlex="25">
                                    <input matInput placeholder="{{ 'HOUSE.ITEMS.HEIGHT' | translate }}"
                                        formControlName="height" mask="dot_separator.2">
                                </mat-form-field>

                                <mat-form-field class="mr-8" fxFlex="25">
                                    <input matInput placeholder="{{ 'HOUSE.ITEMS.WEIGHT' | translate }}"
                                        formControlName="weight" mask="dot_separator.2">
                                </mat-form-field>
                            </div>
                        </ng-container>

                        <a (click)="addNewItemsGroup()" style="cursor: pointer;">
                            {{ 'HOUSE.ITEMS.NEW_ITEM' | translate }}
                        </a>
                    </div>
                    <!-- /ITEMS -->

                    <!-- NAVIGATION -->
                    <div class="p-24" fxLayout="row" style="position: relative;">

                        <div style=" position: absolute;right: 20px;">
                            <a mat-raised-button color="primary" style="margin-right: 10px;"
                                href="javascript:history.go(-1)">{{ 'HOUSE.BACK' | translate }}</a>
                            <button type="submit" mat-raised-button color="warn">{{ 'HOUSE.SAVE' | translate }}</button>
                        </div>

                    </div>
                    <!-- / NAVIGATION -->

                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

        <!-- CHECKPOINT -->
        <ng-container *ngIf="!loading">
            <checkpoint [houseId]="data.id" [checkpoints]="data.checkpoints"></checkpoint>
        </ng-container>
        <!-- / CHECKPOINT -->

    </div>
    <!-- / CENTER -->
</div>