.tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    margin-bottom: 20px;
}

.tr-field {
    display: table;
    width: 100%;
    table-layout: fixed;
    margin-bottom: 0px;
}

.tr > .td {
    display: table-cell;
    padding: 4px 6px;
    width: 25%;
    margin-bottom: 0;
}

.tr > .td2{
    display: table-cell;
    padding: 4px 6px;
    width: 50%;
    margin-bottom: 0;
}

.label-house {
    color: red;
}

.position-adjustment {
    position: relative;
}

.position-adjustment > button {
    position: absolute;
    right: 20px;
    top: 15px;
}

.button-printhawb {
    color: white;
    background-color: #3f51b5;
    margin-right: 10px;
}

.button-printlabel {
    color: white;
    background-color: #00a65a;
    margin-right: 10px;
}

#height-adjustment {
    height: 200px;
}

#height-adjustment > div, #height-adjustment > .mat-form-field-wrapper {
    height: 200px;
}

.padding-adjustment {
    padding-bottom: 72px;
}

.table-itens {
    width: 100%;
}

.width-adjustment {
    width: 75%;
}

.loading-shade {
    position: absolute;
    top: 100px;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: left;
    justify-content: center;
}

@media only screen and (min-width : 1024px) {
  .margin-adjustment {
      margin-bottom: 65px;
  }
}
