<mat-toolbar>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.gt-xs="space-between center" fxFlex>

        <div fxLayout="row" fxLayoutAlign="start center" fxHide fxShow.gt-xs style="position: absolute; right: 15px;">
            <a mat-button>v4.0.1</a>
        </div>

    </div>

</mat-toolbar>