<div class="page-layout carded fullwidth">

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-red-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <default-header title="{{'FINANCIAL.INVOICES.TITLE' | translate}}"
        first="Faturas" firstUrl="financial/invoices" second="" secondUrl=""></default-header>

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg" style="border-radius: 8px 8px 0 0;" *ngIf="!loading">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar px-24 py-8">
                <span>{{'FINANCIAL.INVOICES.TITLE' | translate}} #{{ data.ID }}</span>
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <div class="content p-24">
                <mat-card>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span class="mat-title">Informações</span>
                    <p><strong>Código: </strong> {{data['Código']}}</p>
                    <p><strong>Descrição: </strong> {{data['Descrição']}}</p>
                    <p><strong>Valor total (BR): </strong> {{data['Valor Total']}}</p>
                </mat-card>

                <mat-card *ngIf="data.masters" class="mt-8">
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span class="mat-title">Masters</span>

                    <default-table #masters [source]="data.masters" [endpoint]="'/airwaybills/master'"
                        [allowRowSelection]=false [actions]=false [advancedFilter]="false" [displayFilter]="false"
                        [columns]="['Origem do Aeroporto', 'Data de Saída']">
                    </default-table>

                </mat-card>

                <mat-card *ngIf="data.charges" class="mt-8">
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span class="mat-title">Cobranças</span>

                    <default-table #charges [source]="data.charges" [endpoint]="'/financial/invoices/charge'"
                        [allowRowSelection]=false [actions]=false [advancedFilter]="false" [displayFilter]="false"
                        [columns]="['House', 'Serviço', 'Quantidade', 'Data de criação']">
                    </default-table>

                </mat-card>


            </div>
            <!-- / CONTENT -->

            <!-- NAVIGATION -->
            <div class="toolbar" style="position: relative">

                <div style="float: right;position: absolute;right: 20px;">
                    <a mat-raised-button color="primary" style="margin-right: 10px;"
                        href="javascript:history.go(-1)">{{ 'FINANCIAL.DEBIT_NOTE.BACK' | translate }}</a>
                    <a mat-raised-button color="warn" href="submit">{{ 'FINANCIAL.DEBIT_NOTE.EDIT' | translate }}</a>
                </div>

            </div>
            <!-- / NAVIGATION -->

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>