<div class="page-layout carded fullwidth">

    <div class="top-bg mat-red-bg"></div>

    <div class="center">

        <default-header *ngIf="_update" title="{{ 'ROLE.EDIT' | translate }}"
        first="Hierarquias" firstUrl="roles" second="" secondUrl=""></default-header>
        <default-header *ngIf="!_update" title="{{ 'ROLE.CREATE' | translate }}"
        first="Hierarquias" firstUrl="roles" second="" secondUrl=""></default-header>

        <div class="content-card mat-white-bg" style="border-radius: 8px 8px 0 0;">
            <div class="toolbar px-24 py-8">
                <span>{{ 'ROLE.ROLE' | translate }} <em *ngIf="_update && !loading">#{{ data.id }} - {{ data.display_name }}</em></span>
            </div>

            <div class="content p-24">
                <form [formGroup]="formGroup" class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" fxLayout="column"
                    fxLayoutAlign="start" fxFlex="1 0 auto" name="form" (ngSubmit)="submit()">

                    <div class="h2 mb-24">{{ 'ROLE.INFORMATIONS' | translate }}</div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field fxFlex="50">
                            <input matInput placeholder="{{ 'ROLE.LISTING.NAME' | translate }}"
                                formControlName="display_name" required>
                        </mat-form-field>
                        <mat-form-field fxFlex="50">
                            <input matInput placeholder="{{ 'ROLE.LISTING.DESCRIPTION' | translate }}"
                                   formControlName="description">
                        </mat-form-field>

                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" style="margin-bottom: 3%;">
                        <mat-checkbox (click)="$event.stopPropagation()" formControlName="admin">{{ 'ROLE.LISTING.ADMIN' | translate }}</mat-checkbox>
                    </div>

                    <div class="h2 mb-24">{{ 'ROLE.LISTING.PERMISSIONS.PERMISSIONS' | translate }}</div>
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                                  [checked]="selection.hasValue() && isAllSelected()"
                                  [indeterminate]="selection.hasValue() && !isAllSelected()">
                        <strong>{{ 'ROLE.LISTING.PERMISSIONS.SELECT_ALL' | translate }}</strong>
                    </mat-checkbox>

                    <div *ngFor="let permission of permissions">
                        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(permission.id) : null"
                                      [checked]="selection.isSelected(permission.id)">
                            <strong>{{ permission.name }}</strong> - {{ permission.description }}
                        </mat-checkbox>
                    </div>

                    <!-- NAVIGATION -->
                    <div class="p-24" fxLayout="row" style="position: relative;">

                        <div style=" position: absolute;right: 20px;">
                            <a mat-raised-button color="primary"
                               style="margin-right: 10px;" href="javascript:history.go(-1)">{{ 'ROLE.BACK' | translate }}</a>
                            <button type="submit" mat-raised-button color="warn">{{ 'ROLE.SAVE' | translate }}</button>
                        </div>

                    </div>
                    <!-- / NAVIGATION -->

                </form>

            </div>
            <!-- / CONTENT -->
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>