<h1 mat-dialog-title *ngIf="data"> <strong> {{ data.type }} </strong></h1>
<div mat-dialog-content>

  <div class="logo">
    <img src="assets/images/logos/phx.svg">
  </div>

  <ul *ngIf="data">
    <span style="text-align: center; font-size: large;"> <strong> Dados cadastrais : </strong> </span>
    <br>
    <span style="font-size: large;">&#10003;</span> <strong style="font-size: large; text-align: center;"> {{ data.name
      }} </strong>
    <br>
    <span style="font-size: large;">&#10003;</span> <strong style="font-size: large; text-align: center;"> {{ data.code
      }} </strong>
    <br>
  </ul>

</div>