<div class="page-layout carded fullwidth">

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-red-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <default-header *ngIf="_update" title="{{ 'ZIPCODE_RANGES.EDIT' | translate }}"
        first="Tarifários" firstUrl="zipcode-ranges" second="" secondUrl=""></default-header>
        <default-header *ngIf="!_update" title="{{ 'ZIPCODE_RANGES.CREATE' | translate }}"
        first="Tarifários" firstUrl="zipcode-ranges" second="" secondUrl=""></default-header>

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg" style="border-radius: 8px 8px 0 0;">
            <div *ngIf="!_update && loadingZipCodeRanges == true" class="loading-shade">
                <mat-spinner></mat-spinner>
            </div>

            <div *ngIf="_update && loadingZipCodeRangesDataValues == true" class="loading-shade">
                <mat-spinner></mat-spinner>
            </div>

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar px-24 py-8">
                <span>{{ 'ZIPCODE_RANGES.ZIPCODE_RANGES' | translate }} <em *ngIf="_update">#{{ data[0].id }}
                    </em></span>
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <div class="content p-24">

                <!-- REACTIVE FORM -->
                <form [formGroup]="formGroupZipCodeRange" class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24"
                    fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form" (ngSubmit)="submit()">
                    <div class="h2 mb-24"> <strong> {{ 'ZIPCODE_RANGES.REGISTRATION_INFORMATIONS' | translate }}
                        </strong>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field fxFlex="50" class="mx-8">
                            <mat-select fxFlex="100" placeholder="{{ 'ZIPCODE_RANGES.LISTING.CONTRACT' | translate }}"
                                formControlName="contract_id" required>
                                <ng-container *ngFor="let contract of contracts">
                                    <mat-option [value]="contract.ID">
                                        {{ contract.ID }} - <strong>{{ contract.Empresa }}</strong>
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field *ngIf="!_update" fxFlex="25" class="mx-8">
                            <input matInput [owlDateTime]="origin" [owlDateTimeTrigger]="origin" autocomplete="off"
                                placeholder="{{ 'ZIPCODE_RANGES.LISTING.DATE_TO' | translate }}"
                                formControlName="date_to" required>
                            <owl-date-time #origin></owl-date-time>
                        </mat-form-field>

                        <mat-form-field *ngIf="_update" fxFlex="25" class="mx-8">
                            <input matInput placeholder="{{ 'ZIPCODE_RANGES.LISTING.DATE_TO' | translate }}"
                                formControlName="date_to">
                            <owl-date-time #origin></owl-date-time>
                        </mat-form-field>

                        <mat-form-field *ngIf="_update" fxFlex="25" class="mx-8">
                            <input matInput [owlDateTime]="origin" [owlDateTimeTrigger]="origin" autocomplete="off"
                                placeholder="{{ 'ZIPCODE_RANGES.LISTING.NEW_DATE_TO' | translate }}"
                                formControlName="new_date_to" required>
                            <owl-date-time #origin></owl-date-time>
                        </mat-form-field>



                        <mat-form-field *ngIf="!_update" fxFlex="25" class="mx-8">
                            <input matInput [owlDateTime]="origin" [owlDateTimeTrigger]="origin" autocomplete="off"
                                placeholder="{{ 'ZIPCODE_RANGES.LISTING.DATE_FROM' | translate }}"
                                formControlName="date_from" required>
                            <owl-date-time #origin></owl-date-time>
                        </mat-form-field>

                        <mat-form-field *ngIf="_update" fxFlex="25" class="mx-8">
                            <input matInput placeholder="{{ 'ZIPCODE_RANGES.LISTING.DATE_FROM' | translate }}"
                                formControlName="date_from">
                            <owl-date-time #origin></owl-date-time>
                        </mat-form-field>

                        <mat-form-field *ngIf="_update" fxFlex="25" class="mx-8">
                            <input matInput [owlDateTime]="origin" [owlDateTimeTrigger]="origin" autocomplete="off"
                                placeholder="{{ 'ZIPCODE_RANGES.LISTING.NEW_DATE_FROM' | translate }}"
                                formControlName="new_date_from" required>
                            <owl-date-time #origin></owl-date-time>
                        </mat-form-field>


                    </div>

                    <div *ngIf="spreadSheetOn == false" formArrayName="dataZipCodeRange">
                        <li *ngFor="let item of newZipCodeRangesGroup.controls; let k=index" [formGroupName]="k">
                            <div class="h3 mb-24 mr-24 pt-24">
                                {{ 'ZIPCODE_RANGES.ZIPCODE_RANGE_ITEM' | translate }} {{ k + 1 }}:
                            </div>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                    <mat-form-field fxFlex="50" class="mx-8">
                                        <input matInput placeholder="{{ 'ZIPCODE_RANGES.CEP_TO' | translate }}"
                                            formControlName="cep_to" maxlength="9" mask="00000-000" required>
                                        <mat-error *ngIf="formGroupZipCodeRange.get('cep_to').hasError('required')">
                                            O cep de é obrigatório.
                                        </mat-error>
                                    </mat-form-field>

                                    <mat-form-field fxFlex="50" class="mx-8">
                                        <input matInput placeholder="{{ 'ZIPCODE_RANGES.CEP_FROM' | translate }}"
                                            formControlName="cep_from" maxlength="9" mask="00000-000" required>
                                        <mat-error *ngIf="formGroupZipCodeRange.get('cep_from').hasError('required')">
                                            O cep de é obrigatório.
                                        </mat-error>
                                    </mat-form-field>

                                </div>

                                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                    <mat-form-field fxFlex="50" class="mx-8">
                                        <input matInput placeholder="{{ 'ZIPCODE_RANGES.WEIGHT_TO' | translate }}"
                                            formControlName="weight_to" maxlength="30" required>
                                        <mat-error *ngIf="formGroupZipCodeRange.get('weight_to').hasError('required')">
                                            O peso de é obrigatório
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field fxFlex="50" class="mx-8">
                                        <input matInput placeholder="{{ 'ZIPCODE_RANGES.WEIGHT_FROM' | translate }}"
                                            formControlName="weight_from" maxlength="30" required>
                                        <mat-error
                                            *ngIf="formGroupZipCodeRange.get('weight_from').hasError('required')">
                                            O peso para é obrigatório
                                        </mat-error>
                                    </mat-form-field>

                                </div>

                                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                                    <mat-form-field fxFlex="50" class="mx-8">
                                        <mat-label>Tipo de Zona</mat-label>
                                        <mat-select formControlName="type_zone">
                                            <mat-option *ngFor="let tax_class of tax_class" [value]="tax_class.value">
                                                {{tax_class.viewValue}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>



                                    <mat-form-field fxFlex="50" class="mx-8">
                                        <input matInput maxlength="2"
                                            placeholder="{{ 'ZIPCODE_RANGES.UF' | translate }}" formControlName="uf"
                                            required>
                                        <mat-error *ngIf="formGroupZipCodeRange.get('uf').hasError('required')">
                                            A uf é obrigatória
                                        </mat-error>
                                    </mat-form-field>

                                </div>

                                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                                    <mat-form-field fxFlex="50" class="mx-8">
                                        <input matInput placeholder="{{ 'ZIPCODE_RANGES.RATE' | translate }}"
                                            formControlName="rate" required maxlength="30">
                                        <mat-error *ngIf="formGroupZipCodeRange.get('rate').hasError('required')">
                                            A taxa é obrigatória
                                        </mat-error>
                                    </mat-form-field>

                                    <mat-form-field fxFlex="50" class="mx-8">
                                        <mat-select fxFlex="100"
                                            placeholder="{{ 'ZIPCODE_RANGES.CUSTOMS_SETTINGS.TAX_CLASS' | translate }}"
                                            formControlName="tax_class_id">
                                            <ng-container *ngFor="let class of taxClasses">
                                                <mat-option [value]="class.id">
                                                    <strong> {{ class.description.toUpperCase() }} </strong>
                                                </mat-option>
                                            </ng-container>
                                        </mat-select>
                                    </mat-form-field>

                                </div>

                                <form [formGroup]="formGroupZipCodeRange" *ngIf="k == 0">
                                    <button (click)="addNewZipCodeRangesGroup()" mat-mini-fab>+</button>
                                </form>

                                <form [formGroup]="formGroupZipCodeRange" *ngIf="k > 0">
                                    <button (click)="removeZipCodeRangesGroup(item)" mat-mini-fab>-</button>
                                </form>
                            </div>
                        </li>
                    </div>

                    <div class="h2 mb-24"> <strong> {{ 'ZIPCODE_RANGES.REGISTRATION_INFORMATIONS_SPREADSHEET' |
                            translate }}
                        </strong>
                    </div>

                    <div formArrayName="dataSpreadsheet">
                        <li *ngFor="let item of zipCodeRangesGroup.controls; let k=index" [formGroupName]="k">
                            <div class="h3 mb-24 mr-24 pt-24">
                                <strong> {{ 'ZIPCODE_RANGES.ZIPCODE_RANGE_ITEM' | translate }} {{ k + 1 }}: </strong>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                                    <mat-form-field fxFlex="50" class="mx-8">
                                        <input matInput placeholder="{{ 'ZIPCODE_RANGES.CEP_TO' | translate }}"
                                            formControlName="cep_to" maxlength="9" mask="00000-000" required>
                                        <mat-error *ngIf="formGroupZipCodeRange.get('cep_to').hasError('required')">
                                            O cep de é obrigatório.
                                        </mat-error>
                                    </mat-form-field>

                                    <mat-form-field fxFlex="50" class="mx-8">
                                        <input matInput placeholder="{{ 'ZIPCODE_RANGES.CEP_FROM' | translate }}"
                                            formControlName="cep_from" maxlength="9" mask="00000-000" required>
                                        <mat-error *ngIf="formGroupZipCodeRange.get('cep_from').hasError('required')">
                                            O cep de é obrigatório.
                                        </mat-error>
                                    </mat-form-field>

                                </div>

                                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                                    <mat-form-field fxFlex="50" class="mx-8">
                                        <input matInput placeholder="{{ 'ZIPCODE_RANGES.WEIGHT_TO' | translate }}"
                                            formControlName="weight_to" maxlength="30" required>
                                        <mat-error *ngIf="formGroupZipCodeRange.get('weight_to').hasError('required')">
                                            O peso de é obrigatório
                                        </mat-error>
                                    </mat-form-field>

                                    <mat-form-field fxFlex="50" class="mx-8">
                                        <input matInput placeholder="{{ 'ZIPCODE_RANGES.WEIGHT_FROM' | translate }}"
                                            formControlName="weight_from" maxlength="30" required>
                                        <mat-error
                                            *ngIf="formGroupZipCodeRange.get('weight_from').hasError('required')">
                                            O peso para é obrigatório
                                        </mat-error>
                                    </mat-form-field>

                                </div>

                                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                    <mat-form-field fxFlex="50" class="mx-8">
                                        <mat-label>Tipo de Zona</mat-label>
                                        <mat-select formControlName="type_zone">
                                            <mat-option *ngFor="let tax_class of tax_class" [value]="tax_class.value">
                                                {{tax_class.viewValue}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field fxFlex="50" class="mx-8">
                                        <input matInput maxlength="2"
                                            placeholder="{{ 'ZIPCODE_RANGES.UF' | translate }}" formControlName="uf"
                                            required>
                                        <mat-error *ngIf="formGroupZipCodeRange.get('uf').hasError('required')">
                                            A uf é obrigatória
                                        </mat-error>
                                    </mat-form-field>

                                </div>

                                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                                    <mat-form-field fxFlex="50" class="mx-8">
                                        <input matInput placeholder="{{ 'ZIPCODE_RANGES.RATE' | translate }}"
                                            formControlName="rate" required maxlength="30">
                                        <mat-error *ngIf="formGroupZipCodeRange.get('rate').hasError('required')">
                                            A taxa é obrigatória
                                        </mat-error>
                                    </mat-form-field>

                                    <mat-form-field fxFlex="50" class="mx-8">
                                        <mat-select fxFlex="100"
                                            placeholder="{{ 'ZIPCODE_RANGES.CUSTOMS_SETTINGS.TAX_CLASS' | translate }}"
                                            formControlName="tax_class_id">
                                            <ng-container *ngFor="let class of taxClasses">
                                                <mat-option [value]="class.id">
                                                    <strong> {{ class.description.toUpperCase() }} </strong>
                                                </mat-option>
                                            </ng-container>
                                        </mat-select>
                                    </mat-form-field>

                                </div>

                                <form [formGroup]="formGroupZipCodeRange" *ngIf="k == 0 && spreadSheetOn == true">
                                    <button (click)="addNewZipCodeRangesGroupSpreadsheetManual()"
                                        mat-mini-fab>+</button>
                                </form>

                                <form [formGroup]="formGroupZipCodeRange" *ngIf="k > 0">
                                    <button (click)="removeZipCodeRangesGroupSpread(item)" mat-mini-fab>-</button>
                                </form>
                            </div>
                        </li>
                    </div>


                    <div class="col-md-8 form-group">
                        <input type="file" class="form-control" (change)="addfile($event)" placeholder="Upload file"
                            accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                    </div>

                    <mat-form-field fxFlex="50" class="mx-8">
                        <input hidden matInput formControlName="dataSpreadsheet">
                    </mat-form-field>

                    <!-- NAVIGATION -->
                    <div class="p-24" fxLayout="row" style="position: relative;">

                        <div style=" position: absolute;right: 20px;">
                            <a mat-raised-button color="primary" style="margin-right: 10px;"
                                href="javascript:history.go(-1)">{{ 'ZIPCODE_RANGES.BACK' | translate }}</a>
                            <button type="submit" mat-raised-button color="warn">{{ 'ZIPCODE_RANGES.SAVE' |
                                translate
                                }}</button>
                        </div>
                    </div>
                    <!-- / NAVIGATION -->
                </form>
            </div>
            <!-- / CONTENT -->
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>