<div class="page-layout carded fullwidth">

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-red-bg"></div>
    <!-- / TOP BACKGROUND -->

    <div class="loading-shade" *ngIf="loading || loadingCompany || loadingContract || loadingTax">
        <mat-spinner *ngIf="loading || loadingCompany || loadingContract || loadingTax"></mat-spinner>
    </div>

    <!-- CENTER -->
    <div class="center" *ngIf="!loading && !loadingCompany && !loadingContract && !loadingTax">
        <default-header *ngIf="_update && data" title="{{ 'ZIPCODE_RANGES.EDIT' | translate }}"
        first="Tarifários" firstUrl="zipcode-ranges" second="" secondUrl=""></default-header>
        <default-header *ngIf="!_update" title="{{ 'ZIPCODE_RANGES.CREATE' | translate }}"
        first="Tarifários" firstUrl="zipcode-ranges" second="" secondUrl=""></default-header>

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg" style="border-radius: 8px 8px 0 0;" *ngIf="!loading">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar px-24 py-8 position-adjustment">
                <span>{{ 'ZIPCODE_RANGES.ZIPCODE_RANGES' | translate }} <em *ngIf="_update">#{{ data.id }}
                    </em></span>

                <div style="float: right;position: absolute;right: 20px;">
                    <a mat-raised-button color="primary" style="margin-right: 10px;" href="javascript:history.go(-1)">{{
                        'ZIPCODE_RANGES.BACK' | translate }}</a>
                    <a mat-raised-button color="button-printhawb" style="margin-right: 10px;" *ngIf="data"
                        routerLink="/zipcode-ranges/show/{{ data.id }}">{{
                        'ZIPCODE_RANGES.SHOW' |
                        translate
                        }}</a>
                    <button [disabled]="verifyFields()" type="submit" (click)="submit()" mat-raised-button color="warn">{{ 'ZIPCODE_RANGES.SAVE' |
                        translate }}</button>
                </div>
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <!-- (ngSubmit)="submit()" -->
            <form [formGroup]="formGroupZipCodeRange" name="form" (ngSubmit)="submit()">
                <div class="content p-24">
                    <table>
                        <tbody>
                            <tr class="tr">
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field>
                                            <mat-label class="label-house">{{ 'ZIPCODE_RANGES.NAME' | translate }}
                                            </mat-label>
                                            <input matInput formControlName="name" placeholder="" required>
                                            <mat-error *ngIf="!formGroupZipCodeRange.get('name').valid">
                                                {{ 'ZIPCODE_RANGES.ERRORS.MANDATORY' |translate }}
                                            </mat-error>
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field class="width-adjustment">
                                            <mat-label class="label-house">{{ 'ZIPCODE_RANGES.COMPANY' | translate }}</mat-label>
                                            <mat-select formControlName="companies_id">
                                                <mat-option>
                                                    <ngx-mat-select-search [placeholderLabel]="'Buscar'" [noEntriesFoundLabel]="'Empresa não encontrada'"
                                                        formControlName="companyLastFilter">
                                                    </ngx-mat-select-search>
                                                </mat-option>
                                                <ng-container *ngFor="let item of filteredCompany | async">
                                                    <mat-option [value]="item.ID">
                                                        {{ item['Código'] }} - <strong>{{ item['Nome da Empresa'] }}</strong>
                                                    </mat-option>
                                                </ng-container>
                                            </mat-select>
                                            <mat-error *ngIf="!formGroupZipCodeRange.get('companies_id').valid">
                                                {{ 'ZIPCODE_RANGES.ERRORS.MANDATORY' |translate }}
                                            </mat-error>
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field class="width-adjustment">
                                            <mat-label class="label-house">{{ 'ZIPCODE_RANGES.CONTRACT' | translate
                                                }}
                                            </mat-label>
                                            <mat-select formControlName="contract_id">
                                                <mat-option>
                                                    <ngx-mat-select-search [placeholderLabel]="'Buscar'" [noEntriesFoundLabel]="'Empresa não encontrada'"
                                                        formControlName="contractLastFilter">
                                                    </ngx-mat-select-search>
                                                </mat-option>
                                                <ng-container *ngFor="let item of filteredContract | async">
                                                    <mat-option [value]="item.ID">
                                                        <strong>{{ item['Empresa'] }}</strong> - {{ item['Último Checkpoint'] }}
                                                    </mat-option>
                                                </ng-container>
                                            </mat-select>
                                            <mat-error *ngIf="!formGroupZipCodeRange.get('contract_id').valid">
                                                {{ 'ZIPCODE_RANGES.ERRORS.MANDATORY' |translate }}
                                            </mat-error>
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                            </tr>
                            <tr class="tr">
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field class="width-adjustment">
                                            <mat-label class="label-house">{{ 'ZIPCODE_RANGES.TAX_CLASS' | translate
                                                }}
                                            </mat-label>
                                            <mat-select formControlName="tax_class_id">
                                                <mat-option>
                                                    <ngx-mat-select-search [placeholderLabel]="'Buscar'" [noEntriesFoundLabel]="'Empresa não encontrada'"
                                                        formControlName="taxClassLastFilter">
                                                    </ngx-mat-select-search>
                                                </mat-option>
                                                <ng-container *ngFor="let item of filteredTaxClasses | async">
                                                    <mat-option [value]="item.id">
                                                        <strong>{{ item.code }}</strong> - {{ item.description }}
                                                    </mat-option>
                                                </ng-container>
                                            </mat-select>
                                            <mat-error *ngIf="!formGroupZipCodeRange.get('tax_class_id').valid">
                                                {{ 'ZIPCODE_RANGES.ERRORS.MANDATORY' |translate }}
                                            </mat-error>
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field>
                                            <mat-label class="label-house">{{ 'ZIPCODE_RANGES.LISTING.DATE_TO' |
                                                translate }}
                                            </mat-label>
                                            <input matInput [owlDateTime]="dateto" [owlDateTimeTrigger]="dateto" autocomplete="off"
                                                formControlName="date_to" placeholder="" required>
                                            <owl-date-time #dateto></owl-date-time>
                                            <mat-error *ngIf="!formGroupZipCodeRange.get('date_to').valid">
                                                {{ 'ZIPCODE_RANGES.ERRORS.MANDATORY' |translate }}
                                            </mat-error>
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field>
                                            <mat-label class="label-house">{{ 'ZIPCODE_RANGES.LISTING.DATE_FROM' |
                                                translate }}
                                            </mat-label>
                                            <input matInput [owlDateTime]="datefrom" [owlDateTimeTrigger]="datefrom" autocomplete="off" formControlName="date_from"
                                                placeholder="" required>
                                            <owl-date-time #datefrom></owl-date-time>
                                            <mat-error *ngIf="!formGroupZipCodeRange.get('date_from').valid">
                                                {{ 'ZIPCODE_RANGES.ERRORS.MANDATORY' |translate }}
                                            </mat-error>
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field  class="width-adjustment">
                                            <mat-label class="label-house">{{ 'ZIPCODE_RANGES.ACTIVE' | translate }}
                                            </mat-label>
                                            <mat-select formControlName="active">
                                                <mat-option [value]="1">{{ 'ZIPCODE_RANGES.YES' | translate }}
                                                </mat-option>
                                                <mat-option [value]="0">{{ 'ZIPCODE_RANGES.NO' | translate }}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="!formGroupZipCodeRange.get('active').valid">
                                                {{ 'ZIPCODE_RANGES.ERRORS.MANDATORY' |translate }}
                                            </mat-error>
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="content p-24">
                    <table>
                        <tbody>
                            <tr class="tr">
                                <h1>Itens</h1>
                            </tr>
                            <tr class="tr">
                                <td class="td">
                                    <mat-card>
                                        <label for="file-tarifario" class="custom-file-upload">{{ 'ZIPCODE_RANGES.SELECT_FILE' | translate }}</label>
                                        <input id="file-tarifario" type="file" class="form-control" (change)="addfile($event)" placeholder="Upload file"
                                            accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                                    </mat-card>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table formArrayName="dataSpreadsheet">
                        <tbody *ngFor="let item of zipCodeRangesGroup.controls; let k=index" [formGroupName]="k">
                            <tr class="tr">
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field>
                                            <mat-label class="label-house">{{ 'ZIPCODE_RANGES.TYPE_OF_SERVICE' | translate }}</mat-label>
                                            <input matInput formControlName="type_of_service" placeholder="" required>
                                            <mat-error *ngIf="!item.get('type_of_service').hasError('required')">
                                                {{ 'ZIPCODE_RANGES.ERRORS.MANDATORY' |translate }}
                                            </mat-error>
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field>
                                            <mat-label class="label-house">{{ 'ZIPCODE_RANGES.UFS' | translate }}</mat-label>
                                            <input matInput formControlName="ufs" placeholder="" required>
                                            <!-- <mat-error *ngIf="!formGroupZipCodeRange.get('type_of_service').hasError('required')">
                                                {{ 'ZIPCODE_RANGES.ERRORS.MANDATORY' |translate }}
                                            </mat-error> -->
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field>
                                            <mat-label class="label-house">{{ 'ZIPCODE_RANGES.FROM_WEIGTH' | translate }}</mat-label>
                                            <input matInput formControlName="from_weigth" placeholder="" mask="000.00" required>
                                            <!-- <mat-error *ngIf="!formGroupZipCodeRange.get('type_of_service').hasError('required')">
                                                {{ 'ZIPCODE_RANGES.ERRORS.MANDATORY' |translate }}
                                            </mat-error> -->
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field>
                                            <mat-label class="label-house">{{ 'ZIPCODE_RANGES.TO_WEIGTH' | translate }}</mat-label>
                                            <input matInput formControlName="to_weigth" placeholder="" mask="000.00" required>
                                            <!-- <mat-error *ngIf="!formGroupZipCodeRange.get('type_of_service').hasError('required')">
                                                {{ 'ZIPCODE_RANGES.ERRORS.MANDATORY' |translate }}
                                            </mat-error> -->
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field>
                                            <mat-label class="label-house">{{ 'ZIPCODE_RANGES.RATE' | translate }}</mat-label>
                                            <input matInput formControlName="rate" placeholder="" mask="000.00" required>
                                            <!-- <mat-error *ngIf="!formGroupZipCodeRange.get('type_of_service').hasError('required')">
                                                {{ 'ZIPCODE_RANGES.ERRORS.MANDATORY' |translate }}
                                            </mat-error> -->
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                            </tr>
                            <tr class="tr">
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field>
                                            <mat-label class="label-house">{{ 'ZIPCODE_RANGES.ADD_RATE' | translate }}</mat-label>
                                            <input matInput formControlName="add_rate" placeholder="" mask="000.00" required>
                                            <!-- <mat-error *ngIf="!formGroupZipCodeRange.get('type_of_service').hasError('required')">
                                                {{ 'ZIPCODE_RANGES.ERRORS.MANDATORY' |translate }}
                                            </mat-error> -->
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field>
                                            <mat-label class="label-house">{{ 'ZIPCODE_RANGES.ADD_RATE' | translate }}</mat-label>
                                            <input matInput formControlName="modal" placeholder="" mask="00" required>
                                            <!-- <mat-error *ngIf="!formGroupZipCodeRange.get('type_of_service').hasError('required')">
                                                {{ 'ZIPCODE_RANGES.ERRORS.MANDATORY' |translate }}
                                            </mat-error> -->
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field>
                                            <mat-label class="label-house">{{ 'ZIPCODE_RANGES.TYPE_ZONE' | translate }}</mat-label>
                                            <input matInput formControlName="type_zone" placeholder="" mask="00" required>
                                            <!-- <mat-error *ngIf="!formGroupZipCodeRange.get('type_of_service').hasError('required')">
                                                {{ 'ZIPCODE_RANGES.ERRORS.MANDATORY' |translate }}
                                            </mat-error> -->
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field>
                                            <mat-label class="label-house">{{ 'ZIPCODE_RANGES.CEP_FROM' | translate }}</mat-label>
                                            <input matInput formControlName="cep_from" placeholder="" mask="00000-000" required>
                                            <!-- <mat-error *ngIf="!formGroupZipCodeRange.get('type_of_service').hasError('required')">
                                                {{ 'ZIPCODE_RANGES.ERRORS.MANDATORY' |translate }}
                                            </mat-error> -->
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                                <td class="td">
                                    <mat-card>
                                        <mat-form-field>
                                            <mat-label class="label-house">{{ 'ZIPCODE_RANGES.CEP_TO' | translate }}</mat-label>
                                            <input matInput formControlName="cep_to" placeholder="" mask="00000-000" required>
                                            <!-- <mat-error *ngIf="!formGroupZipCodeRange.get('type_of_service').hasError('required')">
                                                {{ 'ZIPCODE_RANGES.ERRORS.MANDATORY' |translate }}
                                            </mat-error> -->
                                        </mat-form-field>
                                    </mat-card>
                                </td>
                            </tr>
                            <tr class="tr">
                                <td class="td">
                                    <form [formGroup]="formGroupZipCodeRange" *ngIf="k == arrayListSize">
                                        <button (click)="addNewZipCodeRangesGroupSpreadsheetManual()" mat-mini-fab>+</button>
                                    </form>
                                </td>
                                <td class="td">
                                    <form [formGroup]="formGroupZipCodeRange" *ngIf="k == arrayListSize">
                                        <button (click)="removeZipCodeRangesGroupSpread(item)" mat-mini-fab>-</button>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
            <!-- / CONTENT -->
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>