<div class="page-layout carded fullwidth">

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-red-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <default-header title="{{ 'MASTER.IMPORT.IMPORT' | translate }}"
        first="Masters" firstUrl="airwaybills/master" second="" secondUrl=""></default-header>

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg" style="border-radius: 8px 8px 0 0;">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar px-24 py-8">
                <span>{{ 'MASTER.MASTER' | translate }}</span>
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <div class="content p-24">

                <!-- REACTIVE FORM -->
                <form [formGroup]="formGroup" class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" fxLayout="column"
                    fxLayoutAlign="start" name="form" (ngSubmit)="submit()">

                    <div class="h2 mb-24 pt-24">{{ 'INFORMATIONS' | translate }}</div>

                    <div fxLayout="row" fxLayoutAlign="start center">

                        <input id="input-file-id" class="ng-hide" type="file" (change)="onFileChange($event)" required
                            hidden />

                        <a mat-raised-button color="warn">
                            <label style="cursor: pointer;" for="input-file-id">{{ 'CHOOSE_FILE' | translate }}</label>
                        </a>
                    </div>

                    <!-- NAVIGATION -->
                    <div class="p-24" fxLayout="row" style="position: relative;">

                        <div style=" position: absolute;right: 20px;">
                            <a mat-raised-button color="primary" style="margin-right: 10px;"
                                href="javascript:history.go(-1)">{{ 'HOUSE.BACK' | translate }}</a>
                            <button type="submit" mat-raised-button color="warn">{{ 'HOUSE.SEND' | translate }}</button>
                        </div>

                    </div>
                    <!-- / NAVIGATION -->

                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
</div>