<div class="page-layout carded fullwidth">

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-red-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <default-header title="{{ 'HOUSE.SHOW' | translate }}"
        first="Processos Aduaneiros" firstUrl="manifests" second="" secondUrl=""></default-header>

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg" style="border-radius: 8px 8px 0 0;" *ngIf="!loading">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar px-24 py-8">
                <span>{{ 'MANIFEST.MANIFEST' | translate }} #{{ data['ID'] }} - {{ data['Número'] }}</span>
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <div class="content p-24">
                <mat-card>
                    <p><strong>{{ 'MASTER.ID' | translate }}: </strong> {{ data['ID'] }}</p>
                    <p><strong>{{ 'MASTER.LISTING.NUMBER' | translate }}: </strong> {{ data['Número'] }}</p>

                    <p *ngIf="data['ID Externo']">
                        <strong>{{ 'MANIFEST.NUMBER' | translate }}: </strong> {{ data['ID Externo'] }}
                    </p>
                    <p><strong>{{ 'MASTER.LISTING.DESCRIPTION' | translate }}: </strong> {{ data['Descrição'] }}</p>
                </mat-card>

                <!-- Process -->
                <mat-card style="margin-top:10px">

                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span class="mat-title">Status</span>

                    <div class="content mt-8">

                        <input #csvInput hidden="true" type="file" onclick="this.value=null" (change)="uploadReturn($event)" accept="application/xml" />
                        <button mat-flat-button color="primary" (click)="csvInput.click()">Upload de Arquivo (XML)</button>

                        <mat-tab-group class="mt-8" [selectedIndex]="selectedTab">
                            <mat-tab label="Revisao" class="pt-20">
                                <div class="content py-8">
                                    <!-- MASTERS -->
                                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                                    <span class="mat-title">{{ 'MASTER.MASTERS' | translate }}</span>

                                    <default-table #mastersReview [source]="data.masters" [disableControls]=false
                                        [endpoint]="'/airwaybills/master'"
                                        [columns]="['Número', 'ID Externo', 'Descricao', 'Bruto']">
                                    </default-table>
                                    <!-- MASTERS -->
                                </div>

                                <!-- HOUSES -->
                                <div class="content">
                                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                                    <span class="mat-title">{{ 'HOUSE.HOUSES' | translate }}</span>

                                    <default-table #houses [dataSource]="dataSource"
                                        [columns]="displayedColumns"
                                        [displayedColumns]="displayedColumns"
                                        [filterColumns]="houseFilterColumns" [advancedFilter]="true" [endpoint]="endpoint" 
                                        [allowRowSelection]="true" [pagination]="false" [service]="airwaybillService">
                                    </default-table>
                                </div>
                                <!-- HOUSES -->

                                <!-- CHECKPOINT -->
                                <ng-container *ngIf="!loading">
                                    <checkpoint [manifestId]="data['ID']"></checkpoint>
                                </ng-container>
                                <!-- / CHECKPOINT -->

                            </mat-tab>

                            <mat-tab label="Arquivos">

                                <div class="content py-8">
                                    <default-table #manifestFiles [source]="data.files" [disableControls]=true
                                        [columns]="['description', 'path', 'created_at', 'processed']">
                                    </default-table>
                                </div>

                            </mat-tab>

                            <mat-tab label="Eventos">

                                <div class="content py-8">

                                    <default-table #events [disableControls]=true [service]="eventService"
                                        [endpoint]="'/airwaybills/house'"
                                        [displayedColumns]="['awb_number', 'agency', 'code', 'description', 'customs_officer', 'created_at', 'finished']">
                                    </default-table>
                                </div>

                            </mat-tab>

                            <mat-tab label="Tributação">

                                <div class="content py-8">

                                    <button class="ml-8 my-8" mat-raised-button (click)="generatePaymentOrder()">
                                        Gerar arquivo de pagamento
                                    </button>

                                    <default-table #dutiables [disableControls]=true [service]="fineService"
                                        [endpoint]="'/airwaybills/house'"
                                        [displayedColumns]="['Codigo do House', 'Categoria', 'Tributável - Real', 'Tributável - Dolar', 'Tributável Total - Real', 'Tributável Total - Dólar', 'Frete - Real', 'Frete - Dólar', 'Multas', 'Total', 'Taxa do Dólar', 'Taxa do Dólar (Real)']">
                                    </default-table>
                                </div>

                            </mat-tab>

                            <mat-tab label="GNRE">
                                <div class="content py-8">

                                    <button class="ml-8 my-8" mat-raised-button (click)="sendSefazBatch()">
                                        Enviar informações Sefaz
                                    </button>

                                    <default-table #gnre [disableControls]=true [service]="gnreService"
                                        [endpoint]="'/airwaybills/house'"
                                        [displayedColumns]="['Código do Master', 'Número do Master', 'Categoria', 'Tributável - Real', 'Taxa de referência', 'Quantia', 'Código do recebimento']">
                                    </default-table>
                                </div>
                            </mat-tab>

                            <mat-tab label="Pagamentos">
                                <div class="content py-8">
                                    <default-table #paymentOrders [disableControls]=true [service]="paymentOrderService"
                                        [endpoint]="'/airwaybills/house'"
                                        [displayedColumns]="['Tipo de pedido', 'Identificação', 'Descrição', 'Quantia', 'Data de vencimento', 'Data da criação', 'Código de autenticação']">
                                    </default-table>
                                </div>
                            </mat-tab>

                        </mat-tab-group>
                    </div>

                </mat-card>
                <!-- / Process -->

            </div>
            <!-- / CONTENT -->

            <!-- NAVIGATION -->
            <div class="toolbar" style="position: relative">

                <div style="float: right;position: absolute;right: 20px;">
                    <a mat-raised-button color="primary" style="margin-right: 10px;"
                        href="javascript:history.go(-1)">{{ 'HOUSE.BACK' | translate }}</a>
                    <a mat-raised-button color="warn"
                        routerLink="/manifests/edit/{{ data['ID'] }}">{{ 'HOUSE.EDIT' | translate }}</a>
                </div>

            </div>
            <!-- / NAVIGATION -->

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>