<div class="page-layout blank p-22" fusePerfectScrollbar>

    <default-header title="Serviços" [endpoint]="endpoint"
    first="Serviços" firstUrl="services" second="" secondUrl=""></default-header>

    <default-table [displayedColumns]="displayedColumns"
        [endpoint]="endpoint" [pagination]="false" [service]="service"></default-table>

</div>