<div class="page-layout carded fullwidth">

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-red-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <div *ngIf="loading === true" class="loading-shade">
            <mat-spinner></mat-spinner>
        </div>

        <default-header *ngIf="_update" title="{{ 'AIRLINE.EDIT' | translate }}"
        first="Companhias aéreas" firstUrl="airlines" second="" secondUrl=""></default-header>
        <default-header *ngIf="!_update" title="{{ 'AIRLINE.CREATE' | translate }}"
        first="Companhias aéreas" firstUrl="airlines" second="" secondUrl=""></default-header>

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg" style="border-radius: 8px 8px 0 0;">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar px-24 py-8">
                <span>{{ 'AIRLINE.AIRLINE' | translate }} <em *ngIf="_update && !loading">#{{ data.id }} - {{ data.name }}</em></span>
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <div class="content p-24">

                <!-- REACTIVE FORM -->
                <form [formGroup]="formGroup" class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" fxLayout="column"
                    fxLayoutAlign="start" fxFlex="1 0 auto" name="form" (ngSubmit)="submit()">

                    
                    <div class="h2 mb-24"><mat-icon class="secondary-text s-16">chevron_right</mat-icon><strong>{{ 'AIRLINE.REGISTRATION_INFORMATIONS' | translate }}</strong></div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        
                        <mat-form-field fxFlex="50">
                            <input matInput placeholder="{{ 'AIRLINE.LISTING.NAME' | translate }}"
                                formControlName="name" required>
                        </mat-form-field>
                    </div>

                        <!-- NAVIGATION -->
                        <div class="p-24" fxLayout="row" style="position: relative;">

                            <div style=" position: absolute;right: 20px;">
                            <a mat-raised-button color="primary"
                                   style="margin-right: 10px;" href="javascript:history.go(-1)">{{ 'AIRLINE.BACK' | translate }}</a>
                                <button type="submit" [disabled]="formGroup.valid" mat-raised-button color="warn">{{ 'AIRLINE.SAVE' | translate }}</button>
                            </div>

                        </div>
                        <!-- NAVIGATION -->
                    
                </form>

            </div>
            <!-- / CONTENT -->
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>