<div class="page-layout blank p-22" fusePerfectScrollbar>
    <default-header title="{{'FINANCIAL.DEBIT_NOTE.TITLE' | translate}}" [endpoint]="endpoint"
    first="Notas de Débito" firstUrl="financial/debit-note" second="" secondUrl=""></default-header>

    <default-table [dataSource]="dataSource" [displayedColumns]="displayedColumns"
        [filterColumns]="filterColumns" [advancedFilter]="true" [endpoint]="endpoint" [pagination]="false"
        [service]="service"></default-table>

</div>