<div class="page-layout carded fullwidth">

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-red-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <default-header title="{{ 'IMPORTER.SHOW' | translate }}"
        first="Importadores" firstUrl="importers" second="" secondUrl=""></default-header>

        <div *ngIf="loadingImporter != false" class="loading-shade">
            <mat-spinner></mat-spinner>
        </div>

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg" style="border-radius: 8px 8px 0 0;" *ngIf="!loading">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar px-24 py-8" *ngIf="data">
                <span>{{ 'IMPORTER.IMPORTER' | translate }} #{{ data.id }} - {{ data.name }}</span>
            </div>
            <div class="toolbar px-24 py-8" *ngIf="!data">
                <span>{{ 'IMPORTER.IMPORTER' | translate }}</span>
            </div>
            <!-- / CONTENT TOOLBAR -->

            

            <!-- CONTENT -->
            <div class="content p-24" *ngIf="data">
                <span class="mat-title"> <strong> {{ 'IMPORTER.INFORMATIONS' | translate }} </strong></span>
                <mat-card>
                    <p><strong>{{ 'IMPORTER.LISTING.NAME' | translate }}: </strong> {{ data.name }}</p>
                    <p><strong>{{ data.documents ? data.documents[0].type : ''  }}: </strong>
                        {{ data.documents ? data.documents[0].number : '' }}
                        <!-- phone -->
                        <p *ngIf="data.phones"><strong>{{ 'IMPORTER.LISTING.PHONE' | translate }}:</strong>
                            {{ data.phones[0].number }}</p>
                </mat-card>

                <!-- IMPORTER -->
                <mat-card style="margin-top:10px" *ngIf="data.addresses">
                    <!-- address -->
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span class="mat-title"> <strong> {{ 'IMPORTER.LISTING.ADDRESS_STREET' | translate }} </strong></span>
                    <p><strong>{{ 'IMPORTER.LISTING.ADDRESS_COUNTRY' | translate }}:</strong>
                        {{ data.addresses[0].country.name }}</p>
                    <p><strong>{{ 'IMPORTER.LISTING.ADDRESS_STREET' | translate }}:</strong>
                        {{ data.addresses[0].address }}</p>
                    <p><strong>{{ 'IMPORTER.LISTING.NUMBER' | translate }}:</strong> {{ data.addresses[0].number }}
                    </p>
                    <p><strong>{{ 'IMPORTER.LISTING.ADDRESS_ADDITIONAL_INFO' | translate }}:</strong>
                        {{ data.addresses[0].additional_info }}</p>
                    <p><strong>{{ 'IMPORTER.LISTING.ADDRESS_NEIGHBORHOOD' | translate }}:</strong>
                        {{ data.addresses[0].neighborhood }}</p>
                    <p><strong>{{ 'IMPORTER.LISTING.ADDRESS_CITY' | translate }}:</strong>
                        {{ data.addresses[0].city }}</p>
                    <p><strong>{{ 'IMPORTER.LISTING.ADDRESS_ZIP_CODE' | translate }}:</strong>
                        {{ data.addresses[0].zip_code }}</p>
                    <p><strong>{{ 'IMPORTER.LISTING.ADDRESS_STATE' | translate }}:</strong>
                        {{ data.addresses[0].state }}</p>
                </mat-card>

                <mat-card>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span class="mat-title"> <strong> {{ 'IMPORTER.LISTING.EMAILS' | translate }} </strong> </span>
                    <ng-container *ngFor="let emails of data.email">
                        <mat-card style="margin-bottom: 10px;">
                            <p><strong>Email de principal</strong>
                            </p>
                            <p><strong>Nome de contato :</strong> {{ emails.name }}</p>
                            <p><strong>Email :</strong> {{ emails.address }}</p>
                        </mat-card>
                    </ng-container>
                </mat-card>

            </div>
            <!-- / CONTENT -->

            <!-- NAVIGATION -->
            <div class="toolbar" style="position: relative" *ngIf="data">

                <div style="float: right;position: absolute;right: 20px;">
                    <a mat-raised-button color="primary" style="margin-right: 10px;"
                        href="javascript:history.go(-1)">{{ 'IMPORTER.BACK' | translate }}</a>
                    <a mat-raised-button color="warn"
                        routerLink="/importers/edit/{{ data.id }}">{{ 'IMPORTER.EDIT' | translate }}</a>
                </div>

            </div>
            <!-- / NAVIGATION -->
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>