<div class="page-layout blank p-22" fusePerfectScrollbar>

  <default-header title="Moedas" [endpoint]="endpoint"
  first="Moedas" firstUrl="currencies" second="" secondUrl=""></default-header>

  <default-table [dataSource]="dataSource" [displayedColumns]="displayedColumns"
      [filterColumns]="filterColumns" [advancedFilter]="true" [endpoint]="endpoint" [pagination]="false"
      [service]="service"></default-table>

</div>